@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_OrderForm.cshtml";

    var userName = LeaRun.Application.Code.OperatorProvider.Provider.Current().UserName;
}
<script>
    var keyValue = request('keyValue');
    var category = request('category');
    $(function () {
        InitialPage();
        GetOrderEntryGrid();
        initControl();
    });
    //初始化页面
    function InitialPage() {
        //resize重设(表格、树形)宽高
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 240.5);
            }, 200);
            e.stopPropagation();
        });       
    }
    //加载明细表
    function GetOrderEntryGrid() {
        var $grid = $('#gridTable');
        $grid.jqGrid({
            datatype: 'local',
            height: $(window).height() - 240.5,
            autowidth: true,
            colModel: [
                { label: '构件编号<font face="宋体">*</font>', name: "MemberNumbering", align: ' center', width: 180, sortable: false },
                { label: '构件名称', name: "MemberName", align: ' center', width: 150, sortable: false },
                { label: '构件型号', name: "MemberModel", align: ' center', width: 100, sortable: false },
                { label: '单位', name: "MemberUnit", align: ' center', width: 80, sortable: false, align: 'center' },
                { label: '生产数量<font face="宋体">*</font>', name: 'MemberNumber', align: ' center', width: 80, sortable: false },
                { label: '单价<font face="宋体">*</font>', name: 'Price', align: ' center', width: 80, sortable: false },
                { label: '金额<font face="宋体">*</font>', name: 'PriceAmount', align: ' center', width: 120, sortable: false },
                { label: 'InfoId', name: 'InfoId', width: 80, align: '', sortable: false, resizable: false, hidden: true },
                { label: 'MemberId', name: "MemberId", align: ' center', width: 80, sortable: false, hidden: true},
            ],
            pager: false,
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            footerrow: true,
            gridComplete: function () {
                //合计
                $(this).footerData("set", {
                    "MemberNumbering": "合计",
                    "ProductionQuantity": "<span id='TotalQty'>0</span>",
                    "Price": "<span id='TotalPrice'>0.00</span>",
                    "PriceAmount": "<span id='TotalPriceAmount'>0.00</span>",
                    //"PlusPrice": "<span id='TotalPlusPrice'>0.00</span>",
                    //"CESSAmount": "<span id='TotalCESSAmount'>0.00</span>",
                    //"PlusPriceAmount": "<span id='TotalPlusPriceAmount'>0.00</span>"
                });
            },
            ondblclick: function (rowid, e) {
                var selectedId = $("#gridTable").jqGrid("getGridParam", "selrow");
                $("#gridTable").jqGrid("delRowData", selectedId);
            }
        });
        //默认添加30行 空行
        for (var i = 1; i <= 30; i++) {
            var rowdata = {
                MemberNumbering: '<input readonly id="MemberNumbering➩' + i + '" class="editable" type="text" style="cursor:pointer" datacol="no" err="构件编号" checkexpession="NotNull" /><input id="MemberNumbering➩' + i + '" type="hidden" />',
                MemberName: '<input id="MemberName➩' + i + '" class="editable disabled" type="text" />',
                MemberModel: '<input id="MemberModel➩' + i + '" class="editable disabled center" type="text" />',
                MemberUnit: '<input id="MemberUnit➩' + i + '" class="editable disabled center" type="text" />',
                MemberNumber: '<input id="MemberNumber➩' + i + '" type="text" class="editable center" />',
                Price: '<input id="Price➩' + i + '" class="editable center" type="text" onkeyup="Conversion(' + i + ')" datacol="No" err="单价" checkexpession="Double" />',
                PriceAmount: '<input id="PriceAmount➩' + i + '" class="editable disabled center" type="text" datacol="No" err="金额" checkexpession="Double" />',
                InfoId: '<input id="InfoId' + i + '" type="text" class="editable center" />',
                InfoId: '<input id="MemberId' + i + '" type="text" class="editable center" />',
            }
            $grid.jqGrid('addRowData', i, rowdata);
        };
        //金额设置居中、设置只能输入金额格式
        $("#gridTable").find('.decimal').attr('onfocus', 'IsMoney(this.id)');
        $("#gridTable").find('.center').css('text-align', 'center')
        $("#gridTable").find('input').attr("disabled", "disabled");
        $("#gridTable tbody tr:eq(1)").find('input').removeAttr('disabled').attr("datacol", "yes");
        $("#gridTable").find('.disabled').attr("disabled", "disabled");
        $('.jqgrid-rownum').attr('title', '双击清空一行');
        //点击物料编码文本框时间，弹出选择物料信息
        $("#gridTable tbody tr").find('td:eq(1)').find('input').click(function () {
            var _category = $("#Category").attr('data-value');
            if (_category == undefined || _category == "" || _category == null) {
                dialogTop("请选择工程名称", "error");
                return false;
            }
            if ($(this).attr('disabled') == 'disabled') {
                return false;
            }
            var index = $(this).attr('id').split('➩')[1];
            dialogOpen({
                id: 'ItemList',
                title: '选取构件',
                url: '/SteelMember/MemberProductionOrder/ItemList?category=' + _category,
                width: '600px',
                height: '450px',
                callBack: function (iframeId) {
                    top.frames[iframeId].btn_add_();
                }
            });
        });
        //价格信息文本框点击事件
        $("#gridTable").find('.decimal').click(function () {
            $(this).select();
        });
    }
    var array = new Array();
    function IsExistItem(index, code) {
        if (!ArrayExists(array, code)) {
            array[index] = code;
            return false;
        } else {
            return true;
        }
    }

    function HaveExistItem(index, code) {
        if (!ArrayExists(array, code)) {
            return false;
        } else {
            return true;
        }
    }

    function IsExistItemdelete(index, code) {
        for (var i = 0; i < array.length; i++) {
            if (array[i] == code) {
                array.splice(i, 1);
                break;
            }
        }
    }
    //订单明细换算+合计
    function Conversion(index) {
        //alert(index);
        var MaxNumber = Number($("#MaxNumber➩" + index).val());
        var Qty = Number($("#MemberNumber➩" + index).val());//数量
        if (Qty > MaxNumber) {
            tipDialog("您的输入不能超过" + MaxNumber, 0)
            $("#MemberNumber➩" + index).val(MaxNumber);
            return
        }
        var Price = $("#Price➩" + index).val();                            //单价
        var PriceAmount = $("#PriceAmount➩" + index).val();                //金额
        //var PlusPrice = $("#PlusPrice➩" + index).val();                    //含税单价
        //var CESS = $("#CESS➩" + index).val();                              //税率(%)
        //var CESSAmount = $("#CESSAmount➩" + index).val();                  //税额
        //var PlusPriceAmount = $("#PlusPriceAmount➩" + index).val();        //含税金额
        //数量*单价=金额
        alert(MaxNumber);
        alert(Qty);
        alert(Price);
        alert(Qty * Price);
        $("#PriceAmount➩" + index).val(FormatCurrency(Qty * Price));
        ////单价 * (1 + (税率 / 100))=含税单价
        //$("#PlusPrice➩" + index).val(FormatCurrency(Price * (1 + (CESS / 100))));
        ////(含税单价-单价)*数量=税额
        //$("#CESSAmount➩" + index).val(FormatCurrency(($("#PlusPrice➩" + index).val() - Price) * Qty));
        ////数量*含税单价=含税金额
        //$("#PlusPriceAmount➩" + index).val(FormatCurrency(Qty * $("#PlusPrice➩" + index).val()));
        //统计合计
        var TotalQty = 0, TotalPrice = 0.00, TotalPriceAmount = 0.00, TotalPlusPrice = 0.00, TotalCESSAmount = 0.00, TotalPlusPriceAmount = 0.00;
        $("#gridTable tbody tr").each(function (i) {
            var Qty = $(this).find('td:eq(5)').find('input').val();
            if (Qty != "" && Qty != undefined) {
                TotalQty += Number(Qty);
            }
            var Price = $(this).find('td:eq(6)').find('input').val();
            if (Price != "" && Qty != undefined) {
                TotalPrice += Number(Price);
            }
            var PriceAmount = $(this).find('td:eq(7)').find('input').val();
            if (PriceAmount != "" && Qty != undefined) {
                TotalPriceAmount += Number(PriceAmount);
            }
            var PlusPrice = $(this).find('td:eq(8)').find('input').val();
            if (PlusPrice != "" && Qty != undefined) {
                TotalPlusPrice += Number(PlusPrice);
            }
            var CESSAmount = $(this).find('td:eq(10)').find('input').val();
            if (CESSAmount != "" && Qty != undefined) {
                TotalCESSAmount += Number(CESSAmount);
            }
            var PlusPriceAmount = $(this).find('td:eq(11)').find('input').val();
            if (PlusPriceAmount != "" && Qty != undefined) {
                TotalPlusPriceAmount += Number(PlusPriceAmount);
            }
        });
        $("#TotalQty").text(TotalQty);
        $("#TotalPrice").text(FormatCurrency(TotalPrice));
        $("#TotalPriceAmount").text(FormatCurrency(TotalPriceAmount));
        //$("#TotalPlusPrice").text(FormatCurrency(TotalPlusPrice));
        //$("#TotalCESSAmount").text(FormatCurrency(TotalCESSAmount));
        //$("#TotalPlusPriceAmount").text(FormatCurrency(TotalPlusPriceAmount));
    }


    //初始化控件
    function initControl() {
        //工程
        $("#Category").ComboBoxTree({
            param: { Levels: 2 },
            url: "../../SteelMember/SubProject/GetTreeJson",
            description: "==请选择==",
            height: "150px",
            click: function (item) {
                if (!item.hasChildren) {
                }
                else {
                    dialogTop("请选择工程名称而不是工程分类", "error");
                    return "false";
                }
            }
        });
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../SteelMember/MemberProductionOrder/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").SetWebControls(data.entity);
                    //明细
                    var childEntity = data.childEntity;
                    $('#gridTable').find('[role=row]').each(function (i) {
                        var row = childEntity[i - 1];
                        if (row != undefined) {
                            $(this).find('input[id="InfoId➩' + i + '"]').val(row.InfoId);
                            $(this).find('input[id="OrderId➩' + i + '"]').val(row.OrderId);
                            $(this).find('input[id="MemberId➩' + i + '"]').val(row.MemberId);
                            $(this).find('input[id="MemberNumber➩' + i + '"]').val(row.ProductionQuantity);
                        }
                    });
                }
            })
        } else {
            $("#Category").ComboBoxTreeSetValue(category);
        }
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").GetWebControls(keyValue);
        var childEntryJson = [];
        $('#gridTable').find('[role=row]').each(function (i) {
            if (!!$(this).find('input[id="MemberNumber➩' + i + '"]').val()) {
                childEntryJson.push({
                    InfoId: $(this).find('input[id = "InfoId➩' + i + '"]').val(),
                    OrderId: $(this).find('input[id="OrderId➩' + i + '"]').val(),
                    ProductionQuantity: $(this).find('input[id="MemberNumber➩' + i + '"]').val(),
                    MemberId: $(this).find('input[id="MemberId➩' + i + '"]').val(),
                });
            }
        });
        $.SaveForm({
            url: "../../SteelMember/MemberProductionOrder/SaveForm?keyValue=" + keyValue,
            param: { "strEntity": JSON.stringify(postData), "strChildEntitys": JSON.stringify(childEntryJson) },
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }

</script>
<div class="bills">
    <div style="height:180px;overflow-y:auto;padding:10px 40px 10px 10px;">
        <table class="bill" style="width: 100%;">
            <tr>
                <td align="center" colspan="8">
                    <div style="font-family: 华文楷体; font-size: x-large; height: 50px; line-height: 50px;">
                        构件订单&nbsp;
                        @*<img src="../../Content/Images/billstatis1.png" style="vertical-align: middle;" />*@
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    订单编号<font face="宋体" color="red">*</font>：
                </th>
                <td>
                    <input readonly id="OrderNumbering" type="text" class="txt" datacol="yes" err="订单编号" checkexpession="NotNull" value="@ViewBag.OrderNumbering" style="width: 95%" />
                </td>
                <th>
                    制单员：
                </th>
                <td>
                    <input readonly id="CreateMan" type="text" class="txt" style="width: 95%" value="@userName" />
                </td>
                <th>
                    制单日期：
                </th>
                <td>
                    <input id="CreateTime" type="text" class="txt" datacol="yes" err="制单日期" checkexpession="NotNull" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")" onfocus="WdatePicker({dateFmt: 'yyyy-MM-dd HH:mm:ss' })" style="width: 95%" />
                </td>
            </tr>
            <tr style="height:5px;"></tr>
            <tr>
                <th>
                    所属工程<font face="宋体" color="red">*</font>：
                </th>
                <td class="formValue">
                    <div id="Category" type="selectTree" class="ui-select" style="width: 95%" isvalid="yes" checkexpession="NotNull"></div>
                </td>
                <th>
                    生产优先级：
                </th>
                <td>
                    <select id="Priority" datacol="yes" err="生产优先级" class="form-control" checkexpession="NotNull" style="width: 95%">
                        <option value="0">正常</option>
                        <option value="1">加急</option>
                    </select>
                </td>
                <th>
                    工程专用：
                </th>
                <td>
                    <select id="IsDddicated" datacol="yes" err="工程专用" class="form-control" checkexpession="NotNull" style="width: 95%">
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </select>
                </td>
            </tr>
            <tr style="height:5px;"></tr>
            <tr>
                <th>
                    备注：
                </th>
                <td colspan="7">
                    <input id="Description" type="text" class="txt" style="width:99%" value="@ViewBag.Description" />
                </td>
            </tr>
        </table>
    </div>
    <div class="gridPanel">
        <table id="gridTable"></table>
    </div>
</div>
<style>
    body {
        margin: 0px;
    }

    .bill {
        margin: 10px;
    }

        .bill th {
            text-align: right;
            color: #222222;
        }

        .bill tr {
            margin-bottom: 10px;
        }

        .bill input {
            text-align: left;
            border-width: 0px;
            border-bottom: 1px solid #e2dada;
        }

    .bills {
        overflow: hidden;
        border-radius: 0px;
        position: relative;
        background: #FFFFFF;
        border: 0px solid rgb(204, 204, 204);
        box-shadow: none;
        padding: 0px;
    }

    .ui-widget-content {
        border-left: 0px;
        border-right: 0px;
        border-bottom: 0px;
    }
</style>
