@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_OrderForm.cshtml";
}
<script>
    var keyValue = request('keyValue');
   
    var category = request("category");
    $(function () {
        InitialPage();
        GetOrderEntryGrid();
        initControl();
    });
    //初始化页面
    function InitialPage() {;
        //resize重设(表格、树形)宽高
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 240.5);
            }, 200);
            e.stopPropagation();
        });
    }
    //加载明细表
    function GetOrderEntryGrid() {
        var $grid = $('#gridTable');
        $grid.jqGrid({
            unwritten: false,
            datatype: 'local',
            height: $(window).height() - 240.5,
            autowidth: true,
            colModel: [
                //{ label: '采购数量', name: 'PurchaseQuantity', width: 80, align: '', sortable: false, resizable: false  },
                { label: '原材料类型', name: "RawMaterialName", align: 'center', width: 100, sortable: false },
                { label: '采购单据', name: 'RawMaterialPurchaseId', width: 80, align: 'center', sortable: false, resizable: false, hidden: true },
                { label: '分析ID', name: 'RawMaterialAnalysisId', width: 80, align: 'center', sortable: false, resizable: false,hidden: true },
                //{ label: '分析编号', name: "AnalysisId", align: ' center', width: 100, sortable: false, hidden: true },
                //{ label: '原材料ID', name: "RawMaterialId", align: ' center', width: 100, sortable: false, hidden: true },
                
                { label: '型号', name: "RawMaterialModel", align: 'center', width: 100, sortable: false },
                { label: '规格', name: "RawMaterialStandard", align: 'center', width: 100, sortable: false },
                { label: '需求量', name:"PurchaseQuantity", align: 'center', width: 100, sortable: false },
                { label: '库存量', name:"Inventory",align: 'center', width: 100, sortable: false },
                { label: '建议采购量', name: "SuggestQuantity", align: 'center', width: 100, sortable: false },
                { label: '单位', name: "UnitName", align: 'center', width: 80, sortable: false },
                { label: '单价(元)', name: "Price", align: 'center', width: 100, sortable: false }, 
                { label: '供应商名称', name: "Supplier", align: 'center', width: 120, sortable: false },
                { label: '描述', name: "Description", align: 'center', width: 100, sortable: false },
            ],
            pager: false,
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            footerrow: false,
            gridComplete: function () {
            }
        });
        //默认添加13行 空行
        for (var i = 1; i < 13; i++) {
            var rowdata = { 
                RawMaterialPurchaseId: '<input id="RawMaterialPurchaseId➩' + i + '" class="editable disabled" type="text" describedby="yes" disabled="disabled" />',
                RawMaterialAnalysisId: '<input id="RawMaterialAnalysisId➩' + i + '" class="editable disabled center" type="text" disabled="disabled"/>',
                RawMaterialName: '<input id="RawMaterialName➩' + i + '" class="editable center" type="text"/>',
                RawMaterialModel: '<input id="RawMaterialModel➩' + i + '" class="editable disabled center" type="text" disabled="disabled" />',
                RawMaterialStandard: '<input id="RawMaterialStandard➩' + i + '" class="editable disabled center" type="text" disabled="disabled"/>',
                PurchaseQuantity: '<input id="PurchaseQuantity➩' + i + '" class="editable disabled center" type="text" disabled="disabled" />',
                Inventory: '<input id="Inventory➩' + i + '" class="editable disabled center" type="text" disabled="disabled" />',
                SuggestQuantity: '<input id="SuggestQuantity➩' + i + '" class="editable disabled center" type="number" />',
                UnitName: '<input id="UnitName➩' + i + '" class="editable center" type="text" disabled="disabled" />',
                Price: '<input id="Price' + i + '" class="editable disabled center" type="number"/>',
                Supplier: '<input id="Supplier' + i + '" class="editable disabled center" type="text"/>',
                Description: '<input id="Description➩' + i + '" class="editable disabled" type="text" disabled="disabled" />',
                
            }
            $('#gridTable').jqGrid('addRowData', i, rowdata);
        } 
//        for (var i = 1; i < 13; i++) {
//            var rowdata = {
//PurchaseQuantity: '<input name="PurchaseQuantity" type="text" class="editable center" />',
//RawMaterialPurchaseId: '<input name="RawMaterialPurchaseId" type="text" class="editable center" />',
//RawMaterialAnalysisId: '<input name="RawMaterialAnalysisId" type="text" class="editable center" />',
//            }
//            $grid.jqGrid('addRowData', i, rowdata);
//        };

        $("#gridTable tbody tr").find('td:eq(1)').find('input').click(function () {
            // Category
            var _category = $("#Category").attr('data-value');
            //var _category = $("#ObjectName").attr('data-value');
           // alert(_category);
            if (_category == undefined || _category == "" || _category == null) {
                dialogTop("请选择工程名称", "error");
                return false;
            }
            if ($(this).attr('disabled') == 'disabled') {
                return false;
            }
           // var index = $(this).attr('id').split('➩')[1];
            dialogOpen({
                id: 'ItemList',
                title: '选取材料',
                url: '/SteelMember/RawMaterialPurchase/ItemList?category=' + _category,
                width: '700px',
                height: '500px',
                callBack: function (iframeId) {
                    top.frames[iframeId].btn_add_();
                    $('#SuggestQuantity➩1').focus();
                }
            });
            
        });
    }
    
   
    //初始化控件
    function initControl() {
        //Category
        //$("#ObjectName").ComboBoxTree({
        $("#Category").ComboBoxTree({
            param: { Levels: 2 },
            url: "../../SteelMember/SubProject/GetTreeJson",
            description: "==请选择==",
            allowSearch: true

        });
 
        //获取表单
        if (!!keyValue) {
            
            $.SetForm({
                url: "../../SteelMember/RawMaterialPurchase/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").SetWebControls(data.entity);
                    //明细
                    var childEntity = data.childEntity;
                    //alert(1 +"获取表单");
                    $('#gridTable').find('[role=row]').each(function (i) {
                       // alert("1" + row);
                        var row = childEntity[i - 1];
                        if (row != undefined) {
                            $(this).find('input[id="PurchaseQuantity"]').val(row.PurchaseQuantity);
                            $(this).find('input[id="RawMaterialPurchaseId"]').val(row.RawMaterialPurchaseId);
                            $(this).find('input[id="RawMaterialAnalysisId"]').val(row.RawMaterialAnalysisId);
                        }
                    });
                }
            })
        } else {
           // alert(category);
            // $("#ObjectName").ComboBoxTreeSetValue(category);
            //alert(category);
            $("#Category").ComboBoxTreeSetValue(category);
        }
    }
    //保存表单;
    function AcceptClick() {
        var val = $("#gridTable tbody tr[id=1] td input").val();
        
        if (val == undefined || val == "" || val == null) {
            dialogMsg('请选取材料！', 0);
            return false;
        }
        if (!$('#form1').Validform()) {
            return false;
        }
        
        ////val = $("#gridTable").
        //for (var i = 0; i < length; i++) {
        //    var Price = $('#gridTable').find('input[id="Price' + i + '"]').val();
        //    alert(Price);
        //    if (Price <= 0) {
        //        dialogMsg('单价不能小于0或等于0', 0);
        //        return false;
        //    }
        //}
        //var prices = $("#form1").GetWebControls(Price);
        var AllPrice =1;
        var postData = $("#form1").GetWebControls(keyValue);
        
        var childEntryJson = [];
        $('#gridTable').find('[role=row]').each(function (i) {
            if (!!$(this).find('input[id="RawMaterialName➩' + i + '"]').val()) {
                var quantity = parseInt($(this).find('input[id="SuggestQuantity➩' + i + '"]').val());
                if (quantity <= 0 || isNaN(quantity)) {
                    postData = null
                    return false;
                }
            }
            if (!!$(this).find('input[id="SuggestQuantity➩' + i + '"]').val()) {  
            var Price = $('#gridTable').find('input[id="Price' + i + '"]').val();
            //alert(Price);
            if (Price <= 0 || Price==""){
                AllPrice = 2;
               
            }
                childEntryJson.push({
                    //InfoId: $(this).find('input[id="PurchaseQuantity➩' + i + '"]').val() + 1,
                    PurchaseQuantity: $(this).find('input[id="SuggestQuantity➩' + i + '"]').val(),
                    Price: $(this).find('input[id="Price' + i + '"]').val(),
                    //RawMaterialPurchaseId: $(this).find('input[id="RawMaterialPurchaseId➩'+i+'"]').val(),
                    RawMaterialAnalysisId: $(this).find('input[id="RawMaterialAnalysisId➩' + i + '"]').val(),
                    Supplier: $(this).find('input[id="Supplier' + i + '"]').val(),
                });
            } 
        });
        if (AllPrice == 2) {
            dialogMsg('单价不能小于0或等于0或为空！！，同时也要记得填写供应商信息哟。', 0);
            AllPrice = 1;
             return false;
        }
        if (postData == null) {
            dialogMsg('采购量不能小于0或等于0或为空！！', 0);
            return false;
        }
        $.SaveForm({
            url: "../../SteelMember/RawMaterialPurchase/SaveForm?keyValue=" + keyValue,
            param: { "strEntity": JSON.stringify(postData), "strChildEntitys": JSON.stringify(childEntryJson) }, 
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
</script>
<div class="bills" >
 <div style="height:180px;overflow-y:auto;margin:0px 10px;">
    <table class="form" style="width: 100%;border-collapse:separate;border-spacing:30px;">
        <tr>
            <td align="center" colspan="10">
                <div style="font-family: 华文楷体; font-size: x-large; height: 50px; line-height: 50px;">
                    原材料采购订单&nbsp;

                </div>
            </td>
        </tr>
        <tr>
            <th>
                工程:
            </th>
            <td  colspan="4">
                <div id="Category" type="select" class="ui-select"style="width:95%"></div>
            </td>
            <th>
                备注:
            </th>
            <td  colspan="4">
                <input id="Description" type="text" class="form-control" style="width:95%;">
            </td>
        </tr>
        @*<tr rowspan="3">
            <th style="width:60px;">
                备注:
            </th>
            <td style="width:100%" colspan="8" >
                <input id="Description" type="text" class="form-control" style="width:95%">
            </td>
        </tr>*@
        @*<tr>
<th class="formTitle" style="width: 60px;">工程</th>
<td class="formValue"><div id="Category" type="select"class="ui-select"></div></td>
<th class="formTitle" style="width: 60px;">备注</th>
<td class="formValue"><input id="Description" type="text"  class="form-control" ></td>
     </tr>*@
    </table>
 </div>
 <div class="gridPanel" >
     <table id="gridTable" ></table>
 </div>
</div>
<style>
    body {
        margin:0px;
    }
    .bills {
        overflow: hidden;
        border-radius: 0px;
        position: relative;
        background: #FFFFFF;
        border: 0px solid rgb(204, 204, 204);
        box-shadow:none;
        padding: 0px;
    }
    .ui-widget-content {
        border-left: 0px;
        border-right: 0px;
        border-bottom: 0px;
    }
    
</style>
