@{
    ViewBag.Title = "材料列表";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";

}
<script src="~/Content/scripts/plugins/formatMoney/formatMoney.js"></script>
<script>
    var keyValue = request('keyValue');
    $(function () {
        $("#keywords").focus();
        //GetTree();
        GetGrid();
        //绑定键盘按下事件
        $(document).keypress(function (e) {
            // 回车键事件
            if (e.which == 13) {
                $("#keywords").focus();
                $("#keywords").select();
                $("#btnSearch").click();
            }
        });
    });

    var myArray = [];
    //显示物料
    function GetGrid() {
        var $gridTable = $('#gridTable');
        var SelectRowIndx;
        var queryJson = {
            IsPassed:1,
            BeginTime: $("#txt_BeginTime").val(),
            EndTime: $("#txt_EndTime").val(),
        }

        $gridTable.jqGrid({
            url: "@Url.Content("~/SteelMember/RawMaterialPurchase/GetListByIsPassed")?queryJson=" + JSON.stringify(queryJson) + "&keyValue=" + keyValue,
            datatype: "json",
            height: $(window).height()-150,
            autowidth: true,
            colModel: [
                { label: '申请材料ID', name: "InfoId", hidden: true },
                { label: '材料ID', name: "RawMaterialId", sortable: false, hidden: true },
                { label: 'Price', name: "Price", sortable: false, hidden: true },
                { label: 'RawMaterialManufacturer', name: "RawMaterialManufacturer", sortable: false, hidden: true },
                { label: 'RawMaterialSupplier', name: "RawMaterialSupplier", sortable: false, hidden: true },
                { label: '材料类型', name: "Category", align: ' center', width: 100, sortable: false },
                { label: '材料名称', name: "RawMaterialName", align:' center',width: 100, sortable: false },
                { label: '规格/型号', name: "RawMaterialModel", align:' center',width: 100, sortable: false },
                { label: '需采购量', name: "Qty", align: ' center', width: 100, sortable: false },
                { label: '已采购量', name: "PurchasedQuantity", align: ' center', width: 100, sortable: false },
                { label: '单位', name: "UnitId", align: ' center', width: 80, sortable: false },
            ],
            rowNum: 15,
            sortname: 'SortCode',
            sortorder: 'Desc',//降序 asc升序
            sortname: 'OrderId',
            pager: "#gridPager",
            viewrecords: true,
            rownumbers: true,
            gridview: true,
            multiselect: true,
            rowList: [15, 30, 50, 100, 500, 1000],
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $("#" + this.id).jqGrid('setSelection', SelectRowIndx);

                var rowIds = jQuery("#gridTable").jqGrid('getDataIDs');
                var $parentobj = top.frames["Form"];
                for (var k = 0; k < rowIds.length; k++) {
                    var curRowData = jQuery("#gridTable").jqGrid('getRowData', rowIds[k]);
                    var curChk = $("#" + rowIds[k] + "").find(":checkbox");
                    //curChk.attr('name', 'checkboxname');   //给每一个checkbox赋名字
                    //curChk.attr('value', curRowData['MY_ID']);   //给checkbox赋值
                    //curChk.attr('title', curRowData['NAME']);   //给checkbox赋予额外的属性值
                    ////curChk.attr('checked', 'true');   //设置所有checkbox被选中
                    //if (!$parentobj.HaveExistItem(k, curRowData.MemberId)) {
                    //    //$("#gridTable").attr("checked", false);
                    //    curChk.attr('checked', false);
                    //} else {
                    //    //$("#gridTable").attr("checked", true);
                    //    curChk.attr('checked', true);
                    //}
                }
            },
        });
    }
    function Search() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');

        var queryJson = {
            IsPassed:1,
            BeginTime: $("#txt_BeginTime").val(),
            EndTime: $("#txt_EndTime").val(),
        }
        $gridTable.jqGrid('setGridParam', {
            postData: { queryJson: JSON.stringify(queryJson) },
            page: 1
        }).trigger('reloadGrid');
    }
    //添加
    function btn_add_() {
        var InfoId = $('#gridTable').jqGridRowValue('InfoId');
        var Price = $('#gridTable').jqGridRowValue('Price');
        var RawMaterialManufacturer = $('#gridTable').jqGridRowValue('RawMaterialManufacturer');
        var RawMaterialSupplier = $('#gridTable').jqGridRowValue('RawMaterialSupplier');
        var RawMaterialId = $('#gridTable').jqGridRowValue('RawMaterialId');
        var RawMaterialOrderInfoId = $('#gridTable').jqGridRowValue('InfoId');
        var RawMaterialName = $('#gridTable').jqGridRowValue('RawMaterialName');
        var RawMaterialModel = $('#gridTable').jqGridRowValue('RawMaterialModel');
        var Quantity = $('#gridTable').jqGridRowValue('Qty');
        var PurchasedQuantity = $('#gridTable').jqGridRowValue('PurchasedQuantity');
        var UnitId = $('#gridTable').jqGridRowValue('UnitId');
        var Description = $('#gridTable').jqGridRowValue('Description');

            $.ajax({
                url: "/SteelMember/RawMaterialPurchase/ListMember",
                type: "post",
                datatype: 'json',
                data: {
                    InfoId: InfoId,
                    Price: Price,
                    RawMaterialManufacturer: RawMaterialManufacturer,
                    RawMaterialSupplier: RawMaterialSupplier,
                    RawMaterialId: RawMaterialId,
                    RawMaterialOrderInfoId: RawMaterialOrderInfoId,
                    RawMaterialName: RawMaterialName,
                    RawMaterialModel: RawMaterialModel,
                    PurchasedQuantity: PurchasedQuantity,
                    Quantity: Quantity,
                    UnitId: UnitId,
                    Description: Description

                },
                success: function (rowData) {
                    var rows = 1;
                    //var $parentobj = top.frames["Form"];
                    var $parentobj = $.currentIframe("Form");

                    while(rows<16){
                        $parentobj.$("#PurchaseQuantity➩" + rows).val(null);
                        $parentobj.$("#RawMaterialPurchaseId➩" + rows).val(null);
                        $parentobj.$("#InfoId➩" + rows).val(null);
                        $parentobj.$("#RawMaterialId➩" + rows).val(null);
                        $parentobj.$("#RawMaterialOrderInfoId➩" + rows).val(null);
                        $parentobj.$("#Price➩" + rows).val(null);
                        $parentobj.$("#RawMaterialManufacturer➩" + rows).val(null);
                        $parentobj.$("#RawMaterialSupplier➩" + rows).val(null);
                        $parentobj.$("#RawMaterialName➩" + rows).val(null);
                        $parentobj.$("#RawMaterialModel➩" + rows).val(null);
                        $parentobj.$("#UnitId➩" + rows).val(null);
                        $parentobj.$("#Description➩" + rows).val(null);
                        $parentobj.$("#MaxNumber➩" + rows).val(null);

                        rows++;
                    }
                    if (rowData!=null){
                        var index = 1;
                        var data1;
                        var TotalPriceAmount = 0.00;
                    for (var i = 0; i < rowData.length; i++) {
                        //$parentobj.IsExistItem(index, rowData[i].MemberNumbering);

                        $parentobj.$("#RawMaterialPurchaseId➩" + index).val(rowData[i].RawMaterialPurchaseId);
                        $parentobj.$("#InfoId➩" + index).val(rowData[i].InfoId);
                        $parentobj.$("#RawMaterialId➩" + index).val(rowData[i].RawMaterialId);
                        $parentobj.$("#RawMaterialManufacturer➩" + index).val(rowData[i].RawMaterialManufacturer);
                        $parentobj.$("#RawMaterialSupplier➩" + index).val(rowData[i].RawMaterialSupplier);
                        $parentobj.$("#RawMaterialName➩" + index).val(rowData[i].RawMaterialName);
                        $parentobj.$("#RawMaterialModel➩" + index).val(rowData[i].RawMaterialModel);
                        $parentobj.$("#UnitId➩" + index).val(rowData[i].UnitId);
                        $parentobj.$("#Date➩" + index).val(rowData[i].Date);
                        $parentobj.$("#RawMaterialOrderInfoId➩" + index).val(rowData[i].RawMaterialOrderInfoId);
                        $parentobj.$("#PurchaseQuantity➩" + index).val(Number(rowData[i].Quantity) - Number(rowData[i].PurchaseQuantity));
                        $parentobj.$("#Price➩" + index).val(rowData[i].Price);
                        var PriceAmount = (Number(rowData[i].Quantity) - Number(rowData[i].PurchaseQuantity)) * Number(rowData[i].Price);
                        $parentobj.$("#PriceAmount➩" + index).val(PriceAmount);
                        $parentobj.$("#MaxNumber➩" + index).val(Number(rowData[i].Quantity) - Number(rowData[i].PurchaseQuantity));
                        index++;
                        TotalPriceAmount = PriceAmount++
                        }

                    $parentobj.$("#table2").find("tr:eq(0)").find("td:eq(0)").html('&nbsp;&nbsp;&nbsp;&nbsp;&otimes;' + formatMoney(TotalPriceAmount));
                    $parentobj.$("#table2").find("tr:eq(0)").find("td:eq(1)").html(FormatCurrency(TotalPriceAmount));
                    }
                    dialogClose();
                },
                error: function (e) {
                    dialogTop(e, "error");
                }
            });
        }
</script>
<div class="title-search" style="padding:15px">
    <table>
        <tr>
            <td style="width:110px">
                <input id="txt_BeginTime" type="text" class="form-control input-wdatepicker" placeholder="选择开始时间" onfocus="WdatePicker()" />
            </td>
            <td style="padding-left:2px;width:110px">
                <input id="txt_EndTime" type="text" class="form-control input-wdatepicker" placeholder="选择结束时间" onfocus="WdatePicker()" />
            </td>

            @*<td style="padding-left: 10px;">
                    <div id="queryCondition" class="btn-group">
                        <a class="btn btn-default dropdown-text" data-toggle="dropdown">选择条件</a>
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a data-value="OrderNumbering">编号</a></li>
                    </ul>
                    </div>
                </td>*@

            <td style="padding-left: 5px;">
                <a id="btn_Search" onclick="Search()" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</a>
            </td>
        </tr>
    </table>
</div>
<div class="rightline" style="margin:15px;">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
