@{
    ViewBag.Title = "材料列表";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";

}
<script src="~/Content/scripts/plugins/formatMoney/formatMoney.js"></script>
<script>
    var keyValue = request('keyValue');
    $(function () {
        $("#keywords").focus();
        InitialPage();
        GetTree();
        //GetGrid();
        //绑定键盘按下事件
        $(document).keypress(function (e) {
            // 回车键事件
            if (e.which == 13) {
                $("#keywords").focus();
                $("#keywords").select();
                $("#btnSearch").click();
            }
        });
    });
    //初始化页面
    function InitialPage() {
        //layout布局
        $('#layout').layout({
            applyDemoStyles: true,
            onresize: function () {
                $(window).resize()
            }
        });
        //resize重设(表格、树形)宽高
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $("#gridTable").setGridHeight($(window).height() - 180);
                $("#itemTree").setTreeHeight($(window).height() - 62);//52
            }, 200);
            e.stopPropagation();
        });
    }

    //加载树
    var _CategoryFather;
    var _HavesChildren;
    var SubProjectName;
    var _Category;

    function GetTree() {
        var item = {
            height: $(window).height() - 62,
            param: { EnCode: "RawMaterialType" },
            url: "../../SystemManage/DataItemDetail/GetDataItemTreeJson",
            onnodeclick: function (item) {
                _Category = item.id;
                SubProjectName = item.text;
                $("#CenterTitle").html("-" + SubProjectName)
                GetGrid();
                //$('#btn_Search').trigger("click");
            }
        };
        //初始化
        $("#itemTree").treeview(item);

        GetGrid();
    }

    //显示物料
    function GetGrid() {
        if (_Category==null) {
            _Category = document.getElementById("itemTree").getElementsByTagName("li")[0].getElementsByTagName("div")[0].attributes["id"].value;//设置默认加载的材料类型
            _Category = _Category.replace(/itemTree_/, "").replace(/_/g, "-")
        }

        var $gridTable = $('#gridTable');
        var SelectRowIndx;

        var queryJson = {
            IsPassed: 1,
            MaterialCategory: _Category,
            BeginTime: $("#txt_BeginTime").val(),
            EndTime: $("#txt_EndTime").val(),
        }
        $gridTable.jqGrid('setGridParam', {
            postData: { queryJson: JSON.stringify(queryJson), keyValue: keyValue },
            page: 1
        }).trigger('reloadGrid');

        $gridTable.jqGrid({
            url: "../../SteelMember/RawMaterialPurchase/GetListByIsPassed",
            postData: { queryJson: JSON.stringify(queryJson), keyValue: keyValue },
           // param: { queryJson: JSON.stringify(queryJson), keyValue: keyValue },
            datatype: "json",
            height: $(window).height()-180,
            autowidth: true,
            colModel: [
                { label: '申请材料ID', name: "InfoId", hidden: true },
                { label: '材料ID', name: "RawMaterialId", sortable: false, hidden: true },
                { label: 'Price', name: "Price", sortable: false, hidden: true },
                { label: 'RawMaterialManufacturer', name: "RawMaterialManufacturer", sortable: false, hidden: true },
                { label: 'RawMaterialSupplier', name: "RawMaterialSupplier", sortable: false, hidden: true },
                { label: '材料类型', name: "Category", align: ' center', width: 100, sortable: false, hidden: true},
                { label: '材料名称', name: "RawMaterialName", align:' center',width: 100, sortable: false },
                { label: '规格/型号', name: "RawMaterialModel", align: ' center', width: 100, sortable: false },
                { label: '单位', name: "UnitId", align: ' center', width: 80, sortable: false },
                //{ label: '计划采购量', name: "Qty", align: ' center', width: 100, sortable: false},
                //{ label: '已采购量', name: "PurchasedQuantity", align: ' center', width: 100, sortable: false},
                {label: '可采购量', name: "Quantity", align: ' center', width: 100, sortable: false },
               
            ],
            rowNum: 15,
            sortname: 'SortCode',
            sortorder: 'Desc',//降序 asc升序
            sortname: 'OrderId',
            pager: "#gridPager",
            viewrecords: true,
            rownumbers: true,
            gridview: true,
            multiselect: true,
            rowList: [15, 30, 50, 100, 500, 1000],
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $("#" + this.id).jqGrid('setSelection', SelectRowIndx);

                var rowIds = jQuery("#gridTable").jqGrid('getDataIDs');
                var $parentobj = top.frames["Form"];
                for (var k = 0; k < rowIds.length; k++) {
                    var curRowData = jQuery("#gridTable").jqGrid('getRowData', rowIds[k]);
                    var curChk = $("#" + rowIds[k] + "").find(":checkbox");
                }
            },
        });
    }
    function Search() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');

        var queryJson = {
            IsPassed: 1,
            MaterialCategory: _Category,
            BeginTime: $("#txt_BeginTime").val(),
            EndTime: $("#txt_EndTime").val(),
        }
        $gridTable.jqGrid('setGridParam', {
            postData: { queryJson: JSON.stringify(queryJson) },
            page: 1
        }).trigger('reloadGrid');
    }
    //添加
    function btn_add_() {
        var InfoId = $('#gridTable').jqGridRowValue('InfoId');
        var Price = $('#gridTable').jqGridRowValue('Price');
        var RawMaterialManufacturer = $('#gridTable').jqGridRowValue('RawMaterialManufacturer');
        var RawMaterialSupplier = $('#gridTable').jqGridRowValue('RawMaterialSupplier');
        var RawMaterialId = $('#gridTable').jqGridRowValue('RawMaterialId');
        var RawMaterialOrderInfoId = $('#gridTable').jqGridRowValue('InfoId');
        var RawMaterialName = $('#gridTable').jqGridRowValue('RawMaterialName');
        var RawMaterialModel = $('#gridTable').jqGridRowValue('RawMaterialModel');
        var Quantity = $('#gridTable').jqGridRowValue('Qty');
        var PurchasedQuantity = $('#gridTable').jqGridRowValue('PurchasedQuantity');
        var UnitId = $('#gridTable').jqGridRowValue('UnitId');
        var Description = $('#gridTable').jqGridRowValue('Description');

            $.ajax({
                url: "/SteelMember/RawMaterialPurchase/ListMember",
                type: "post",
                datatype: 'json',
                data: {
                    InfoId: InfoId,
                    Price: Price,
                    RawMaterialManufacturer: RawMaterialManufacturer,
                    RawMaterialSupplier: RawMaterialSupplier,
                    RawMaterialId: RawMaterialId,
                    RawMaterialOrderInfoId: RawMaterialOrderInfoId,
                    RawMaterialName: RawMaterialName,
                    RawMaterialModel: RawMaterialModel,
                    PurchasedQuantity: PurchasedQuantity,
                    Quantity: Quantity,
                    UnitId: UnitId,
                    Description: Description

                },
                success: function (rowData) {
                    var rows = 1;
                    //var $parentobj = top.frames["Form"];
                    var $parentobj = $.currentIframe("Form");

                    while(rows<16){
                        $parentobj.$("#PurchaseQuantity➩" + rows).val(null);
                        $parentobj.$("#RawMaterialPurchaseId➩" + rows).val(null);
                        $parentobj.$("#InfoId➩" + rows).val(null);
                        $parentobj.$("#RawMaterialId➩" + rows).val(null);
                        $parentobj.$("#RawMaterialOrderInfoId➩" + rows).val(null);
                        $parentobj.$("#Price➩" + rows).val(null);
                        $parentobj.$("#RawMaterialManufacturer➩" + rows).val(null);
                        $parentobj.$("#RawMaterialSupplier➩" + rows).val(null);
                        $parentobj.$("#RawMaterialName➩" + rows).val(null);
                        $parentobj.$("#RawMaterialModel➩" + rows).val(null);
                        $parentobj.$("#UnitId➩" + rows).val(null);
                        $parentobj.$("#Description➩" + rows).val(null);
                        $parentobj.$("#MaxNumber➩" + rows).val(null);

                        rows++;
                    }
                    if (rowData!=null){
                        var index = 1;
                        var data1;
                        var TotalPriceAmount = 0.00;
                    for (var i = 0; i < rowData.length; i++) {
                        //$parentobj.IsExistItem(index, rowData[i].MemberNumbering);

                        $parentobj.$("#RawMaterialPurchaseId➩" + index).val(rowData[i].RawMaterialPurchaseId);
                        $parentobj.$("#InfoId➩" + index).val(rowData[i].InfoId);
                        $parentobj.$("#RawMaterialId➩" + index).val(rowData[i].RawMaterialId);
                        $parentobj.$("#RawMaterialManufacturer➩" + index).val(rowData[i].RawMaterialManufacturer);
                        $parentobj.$("#RawMaterialSupplier➩" + index).val(rowData[i].RawMaterialSupplier);
                        $parentobj.$("#RawMaterialName➩" + index).val(rowData[i].RawMaterialName);
                        $parentobj.$("#RawMaterialModel➩" + index).val(rowData[i].RawMaterialModel);
                        $parentobj.$("#UnitId➩" + index).val(rowData[i].UnitId);
                        $parentobj.$("#Date➩" + index).val(rowData[i].Date);
                        $parentobj.$("#RawMaterialOrderInfoId➩" + index).val(rowData[i].RawMaterialOrderInfoId);
                        $parentobj.$("#PurchaseQuantity➩" + index).val(Number(rowData[i].Quantity) - Number(rowData[i].PurchaseQuantity));
                        $parentobj.$("#Price➩" + index).val(rowData[i].Price);
                        var PriceAmount = (Number(rowData[i].Quantity) - Number(rowData[i].PurchaseQuantity)) * Number(rowData[i].Price);
                        $parentobj.$("#PriceAmount➩" + index).val(PriceAmount);
                        $parentobj.$("#MaxNumber➩" + index).val(Number(rowData[i].Quantity) - Number(rowData[i].PurchaseQuantity));
                        index++;
                        TotalPriceAmount = PriceAmount++
                        }

                    $parentobj.$("#table2").find("tr:eq(0)").find("td:eq(0)").html('&nbsp;&nbsp;&nbsp;&nbsp;&otimes;' + formatMoney(TotalPriceAmount));
                    $parentobj.$("#table2").find("tr:eq(0)").find("td:eq(1)").html(FormatCurrency(TotalPriceAmount));
                    }
                    dialogClose();
                },
                error: function (e) {
                    dialogTop(e, "error");
                }
            });
        }
</script>
@*<div class="title-search" style="padding:15px">
    <table>
        <tr>
            <td style="width:110px">
                <input id="txt_BeginTime" type="text" class="form-control input-wdatepicker" placeholder="选择开始时间" onfocus="WdatePicker()" />
            </td>
            <td style="padding-left:2px;width:110px">
                <input id="txt_EndTime" type="text" class="form-control input-wdatepicker" placeholder="选择结束时间" onfocus="WdatePicker()" />
            </td>
            <td style="padding-left: 5px;">
                <a id="btn_Search" onclick="Search()" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</a>
            </td>
        </tr>
    </table>
</div>
<div class="rightline" style="margin:15px;">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>*@

<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    @*<div style="color:red;margin:5px">注:每个采购单下只能选择一个类型下的材料</div>*@
    <div class="ui-layout-west">
        <div class="west-Panel">
            <div class="panel-Title">材料类型</div>
            <div id="itemTree"></div>
        </div>
    </div>
    <div class="ui-layout-center">
        <div class="center-Panel">
            <div class="panel-Title">材料信息<span id="CenterTitle"></span></div>
            <div class="titlePanel">
                <div id="searchDialog" class="title-search">
                        @*<table>
                            <tr>
                                <td style="width:110px">
                                    <input id="txt_BeginTime" type="text" class="form-control input-wdatepicker" placeholder="选择开始时间" onfocus="WdatePicker()" onblur="InputChange()" />
                                </td>
                                <td style="padding-left:2px;width:110px">
                                    <input id="txt_EndTime" type="text" class="form-control input-wdatepicker" placeholder="选择结束时间" onfocus="WdatePicker()" onblur="InputChange()" />
                                </td>

                                <td style="padding-left: 10px;">
                                        <div id="queryCondition" class="btn-group">
                                            <a class="btn btn-default dropdown-text" data-toggle="dropdown">选择条件</a>
                                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a data-value="Category">材料类型</a></li>
                                                <li><a data-value="RawMaterialName">材料名称</a></li>
                                                <li><a data-value="RawMaterialModel">型号</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                <td style="padding-left: 5px;width:110px">
                                    <input id="txt_Keyword" onkeyup="GetGrid('Search')" type="text" class="form-control" placeholder="输入要查询关键字" />
                                </td>
                                <td style="padding-left: 5px;">
                                    <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</a>
                                </td>
                            </tr>
                        </table>*@
                    <table>
                        <tr>
                            <td style="width:110px">
                                <input id="txt_BeginTime" type="text" class="form-control input-wdatepicker" placeholder="选择开始时间" onfocus="WdatePicker()" />
                            </td>
                            <td style="padding-left:2px;width:110px">
                                <input id="txt_EndTime" type="text" class="form-control input-wdatepicker" placeholder="选择结束时间" onfocus="WdatePicker()" />
                            </td>
                            <td style="padding-left: 5px;">
                                <a id="btn_Search" onclick="Search()" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</a>
                            </td>
                        </tr>
                    </table>
                    </div>
                @*<div class="toolbar">
                    <div class="btn-group">
                        <a id="lr-replace" class="btn btn-default" onclick="reload();"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                        <a id="lr-add" class="btn btn-default" onclick="btn_add()"><i class="fa fa-plus"></i>&nbsp;新增</a>
                        <a id="lr-edit" class="btn btn-default" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑</a>
                        <a id="lr-delete" class="btn btn-default" onclick="btn_delete()"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
                        <a id="lr-import" class="btn btn-default" onclick="btn_import()"><i class="fa fa-upload"></i>&nbsp;导入</a>
                        <a id="lr-derive" class="btn btn-default" onclick="btn_derive()"><i class="fa fa-download"></i>&nbsp;导出</a>
                    </div>
                    <div class="btn-group">
                        <a id="btn_Search" class="btn btn-default" onclick="Search()"><i class="fa fa-search"></i>&nbsp;查询</a>
                    </div>
                    <script>$('.toolbar').authorizeButton()</script>
                </div>*@
            </div>
            <div class="gridPanel">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
        </div>
    </div>
</div>