@{
    ViewBag.Title = "构件库管理》表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<link href="~/Content/scripts/plugins/uploadify/uploadify.css" rel="stylesheet" />
<script src="~/Content/scripts/plugins/uploadify/jquery.uploadify.js"></script>

<!--jqgrid表格组件start-->
<link href="~/Content/scripts/plugins/jqgrid/jqgrid.css" rel="stylesheet" />
<script src="~/Content/scripts/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="~/Content/scripts/plugins/jqgrid/jqgrid.min.js"></script>
<!--表格组件end-->

<script type="text/javascript">
    var KeyValue = request('keyValue');
    var SubProjectId = request('SubProjectId');
    var categoryInput = "";

    $(function () {
        initialPage();
        UploadFile();
        buttonOperation();
        getGridRawMaterial();
    })
    //初始化页面
    function initialPage() {
        //加载导向
        $('#wizard').wizard().on('change', function (e, data) {
            var $finish = $("#btn_finish");
            var $next = $("#btn_next");
            if (data.direction == "next") {
                if (!$('#form1').Validform()) {
                    return false;
                }
                var images = "";
                var imgs = document.getElementById("CAD").getElementsByTagName("img");
                for (var j = 0; j < imgs.length; j++) {
                    images += getFileName(imgs[j].id) + ':';
                }
                if ($("#Icon").val() == "" || $("#Icon").val() == null) {
                    var txt = "<span>构件图标不能为空!</span>";
                    $("#errorimg").append(txt);
                    document.getElementById('errorimg').style.display = "block";
                    return false;
                }
                if ($("#Model_Drawing").val() == "" || $("#Model_Drawing").val() == null) {
                    var txt = "<span>构件模型不能为空!</span>";
                    $("#errorimg").append(txt);
                    document.getElementById('errorimg').style.display = "block";
                    return false;
                }
                if (images == "" || images == null) {
                    var txt = "<span>构件图纸不能为空!</span>";
                    $("#errorimg").append(txt);
                    document.getElementById('errorimg').style.display = "block";
                    return false;
                }

                //非空验证
                if (!$('#form1').Validform()) {
                    return false;
                }

                if (data.step == 2) {
                    $finish.removeAttr('disabled');
                    $next.attr('disabled', 'disabled');
                } else {
                    $finish.removeAttr('disabled');
                    $next.attr('disabled', 'disabled');
                }
            } else {
                $next.removeAttr('disabled');
            }
        });
        InitControl();
    }

    //按钮操作（上一步、下一步、完成、关闭）
    function buttonOperation() {
        var $last = $("#btn_last");
        var $next = $("#btn_next");
        var $finish = $("#btn_finish");

        $next.removeAttr('disabled');
        $finish.removeAttr('disabled');
        //如果是菜单，开启 上一步、下一步
        //$("#IsMenu").click(function () {
        //    if (!$(this).attr("checked")) {
        //        $(this).attr("checked", true)
        //        $next.removeAttr('disabled');
        //        $finish.attr('disabled', 'disabled');
        //    } else {
        //        $(this).attr("checked", false)
        //        $next.attr('disabled', 'disabled');
        //        $finish.removeAttr('disabled');
        //    }
        //});
        //完成提交保存
        $finish.click(function () {
            AcceptClick();
        })
    }


    //得到一个对象实体
    function InitControl() {

        /*添加构件开始====================================*/
        //工程类型
        $("#EngineeringId").ComboBoxTree({
            param: { Levels: 2 },
            url: '../../SteelMember/SubProject/GetTreeJson',
            description: "==请选择==",
            height: "200px",
            allowSearch: true,
            click: function (item) {
                if (!item.hasChildren) {
                    categoryInput = "";
                }
                else {
                    categoryInput = "请选择工程名称而不是工程分类";
                    dialogTop("请选择工程名称而不是工程分类", "error");
                    return "false";
                }
            }
        });

        //构件类别
        $("#Category").ComboBox({
            param: { EnCode: "MemberType" },
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            description: "==请选择==",
            id: "ItemDetailId",
            text: "ItemName",
            height: "230px"
        });

        //加载单位
        $("#UnitId").ComboBox({
            param: { EnCode: "UnitName" },
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            id: "ItemDetailId",
            text: "ItemName",
            description: "==请选择==",
            height: "200px",
        });

        //获取表单
        if (!!KeyValue) {
            $.SetForm({
                url: "../../SteelMember/MemberLibrary/GetFormJson",
                param: { KeyValue: KeyValue },
                success: function (data) {
                    //var data = eval("(" + data + ")");
                    var filename, filename1, filename2 = "";
                    filename = data.CAD_Drawing;

                    var array = filename.split(":");// 在每个逗号(,)处进行分解。
                    array.forEach(function (fileName) {
                        if (fileName == null || fileName == "") {
                            return false;
                        } else {
                            var fileName1 = fileName.substring(0, fileName.lastIndexOf('.'));//获取文件名称，去除后缀名
                            fileName1 = "../../Resource/Document/NetworkDisk/System/Member/" + fileName1 + "/" + fileName;
                            $("#engineering_img").prepend("<li style='width:130px;height:140px;float:left;margin-right:10px;'><img class='txImg' src='" + fileName1 + "' id='" + fileName1 + "'/> <input onclick='Delimg(this)' type='button' class='uploadify-button' style='margin-left:35px;margin-top:5px' value='删除图片' /></li>");
                        }
                    });
                    filename1 = data.Model_Drawing;
                    if (filename1 != "1.png") {
                        filename1 = filename1.substring(0, filename1.lastIndexOf('.'));//获取文件名称，去除后缀名
                        filename1 = "../../Resource/Document/NetworkDisk/System/Member/" + filename1 + "/" + data.Model_Drawing;

                        $("#_Model_Drawing").prepend("<img class='txImg' src='" + filename1 + "' id='" + filename1 + "'/> <input onclick='_Delimg(this)' type='button' class='uploadify-button' style='margin-left:35px;margin-top:5px' value='删除图片' />");
                    }
                    filename2 = data.Icon;
                    if (filename2 != "1.png") {
                        filename2 = filename2.substring(0, filename2.lastIndexOf('.'));//获取文件名称，去除后缀名
                        filename2 = "../../Resource/Document/NetworkDisk/System/Member/" + filename2 + "/" + data.Icon;
                        $("#_Icon").prepend("<img class='txImg' src='" + filename2 + "' id='" + filename2 + "'/> <input onclick='_Delimg(this)' type='button' class='uploadify-button' style='margin-left:35px;margin-top:5px' value='删除图片' />");
                    }
                    $("#form1").SetWebControls(data);
                    $("#EngineeringId").ComboBoxSetValue(data.EngineeringId);//.trigger("change");
                    $("#Category").ComboBoxTreeSetValue(data.Category);
                    $("#UnitId").ComboBoxTreeSetValue(data.UnitId);
                }
            });
        } else {
            $("#EngineeringId").ComboBoxTreeSetValue(SubProjectId);
        }
    }
    //获取文件名
    function getFileName(o) {
        var pos = o.lastIndexOf('/');
        return o.substring(pos + 1);
    }

    function UploadFile() {
        $('#Avatar').uploadify({
            uploader: '/SteelMember/MemberLibrary/SubmitUploadifys',
            swf: '/Content/Scripts/plugins/uploadify/uploadify.swf',
            buttonText: "选择图纸",
            height: 24,
            width: 70,
            fileTypeDesc: '支持格式:jpg/gif/jpeg/png/bmp.',
            //fileTypeExts: '*.jpg;*.gif;*.jpeg;*.png;*.bmp',//允许的格式
            fileSizeLimit: '10MB',
            queueID: 'fileQueue',                        //队列的ID
            queueSizeLimit: 50,                          //队列最多可上传文件数量，默认为999
            multi: true,
            onFallback: function () {
                dialogMsg("您未安装FLASH控件，无法上传！请安装FLASH控件后再试", 0);
            },
            onUploadSuccess: function (file, data, response) {
                $("#errorimg").children("span").remove();
                if (data == "1") {
                    var txt = "<span>图纸的大小不超出500KB!</span>";
                    $("#errorimg").append(txt);
                    document.getElementById('errorimg').style.display = "block";
                }
                else if (data == "2") {
                    var txt = "<span>请选择格式为:'gif,jpg,jpeg,png,bmp'的图纸!</span>";
                    $("#errorimg").append(txt);
                    document.getElementById('errorimg').style.display = "block";
                }
                else if (data == "3") {
                    var txt = "<span>添加图纸失败!</span>";
                    $("#errorimg").append(txt);
                    document.getElementById('errorimg').style.display = "block";
                } else {
                    if (data != null) {
                        $("#engineering_img").prepend("<li style='float:left;width:130px;height:140px;margin-right:10px;'><img class='txImg' src='" + data + "' id='" + data + "'/> <input onclick='Delimg(this)' type='button' class='uploadify-button' style='margin-left:35px;margin-top:5px' value='删除图纸' /></li>");
                    }
                }
            }
        });

        $('#Avatar1').uploadify({
            uploader: '/SteelMember/MemberLibrary/SubmitUploadify',      //处理文件上传
            swf: '/Content/Scripts/plugins/uploadify/uploadify.swf',
            buttonText: "选择模型",
            height: 24,
            width: 70,
            fileTypeDesc: '支持格式:jpg/gif/jpeg/png/bmp.',
            //fileTypeExts: '*.jpg;*.gif;*.jpeg;*.png;*.bmp',//允许的格式
            fileSizeLimit: '100MB',
            multi: false,
            onFallback: function () {
                dialogMsg("您未安装FLASH控件，无法上传！请安装FLASH控件后再试", 0);
            },
            onUploadSuccess: function (file, data, response) {
                $("#errorimg").children("span").remove();
                if (data == "1") {
                    var txt = "<span>模型的大小不超出200KB!</span>";
                    $("#errorimg").append(txt);
                    document.getElementById('errorimg').style.display = "block";
                }
                else if (data == "2") {
                    var txt = "<span>请选择格式为:'gif,jpg,jpeg,png,bmp'的模型!</span>";
                    $("#errorimg").append(txt);
                    document.getElementById('errorimg').style.display = "block";
                }
                else if (data == "3") {
                    var txt = "<span>添加模型失败!</span>";
                    $("#errorimg").append(txt);
                    document.getElementById('errorimg').style.display = "block";
                } else {
                    $("#_Model_Drawing").children().remove();
                    $("#_Model_Drawing").prepend("<img class='txImg' src='" + data + "' id='" + data + "'/> <input onclick='_Delimg_model(this)' type='button' class='uploadify-button' style='margin-left:35px;margin-top:5px' value='删除模型' />");
                    $("#Model_Drawing").val(data);
                }
            },
        });

        $('#Avatar2').uploadify({
            uploader: '/SteelMember/MemberLibrary/SubmitUploadify',
            swf: '/Content/Scripts/plugins/uploadify/uploadify.swf',
            buttonText: "选择图标",
            height: 24,
            width: 70,
            fileTypeDesc: '支持格式:jpg/gif/jpeg/png/bmp.',
            //fileTypeExts: '*.jpg;*.gif;*.jpeg;*.png;*.bmp',
            fileSizeLimit: '100MB',
            multi: false,
            onFallback: function () {
                dialogMsg("您未安装FLASH控件，无法上传！请安装FLASH控件后再试", 0);
            },
            onUploadSuccess: function (file, data, response) {
                $("#errorimg").children("span").remove();
                if (data == "1") {
                    var txt = "<span>图标的大小超出200KB!</span>";
                    $("#errorimg").append(txt);
                    document.getElementById('errorimg').style.display = "block";
                }
                else if (data == "2") {
                    var txt = "<span>请选择格式为:'gif,jpg,jpeg,png,bmp'的图标!</span>";
                    $("#errorimg").append(txt);
                    document.getElementById('errorimg').style.display = "block";
                }
                else if (data == "3") {
                    var txt = "<span>添加图标失败!</span>";
                    $("#errorimg").append(txt);
                    document.getElementById('errorimg').style.display = "block";
                } else {
                    $("#_Icon").children().remove();
                    $("#_Icon").prepend("<img class='txImg' src='" + data + "' id='" + data + "'/> <input onclick='_Delimg_icon(this)' type='button' class='uploadify-button' style='margin-left:35px;margin-top:5px' value='删除图标' />");
                    $("#Icon").val(data);
                }
            },
        });
    }

    function Delimg($i) {
        $($i).parent().remove();
    }
    function _Delimg_icon($i) {
        $($i).parent().children().remove();
        document.getElementById("Icon").value = "";
    }
    function _Delimg_model($i) {
        $($i).parent().children().remove();
        document.getElementById("Model_Drawing").value = "";
    }
    /*添加构件结束====================================*/

    /*添加材料开始====================================*/
    var RawMaterialJson = "";
    function getGridRawMaterial() {
        var MemberId = $("#MemberId").val();
        $.ajax({
            url: "/SteelMember/MemberLibrary/GetMemberRawMaterialJson?MemberId=" + escape(MemberId),
            type: "get",
            dataType: "json",
            success: function (data) {
                RawMaterialJson = data;
            },
        });
        var $grid = $("#gridTable-RawMaterial");
        $grid.jqGrid({
            unwritten: false,
            url: "/SteelMember/MemberLibrary/GetMemberRawMaterialJson?MemberId=" + escape(MemberId),
            datatype: "json",
            height: $(window).height() - 195,
            width: $(window).width() - 40,
            colModel: [
                { label: "外键", name: "RawMaterialId", hidden: true },
                { label: "外键", name: "MemberId", hidden: true },
                { label: "外键", name: "TreeId", hidden: true },
                { label: "类型", name: "TreeName", width: 140, align: "left", sortable: false },
                { label: "材料名称", name: "RawMaterialName", width: 140, align: "left", sortable: false },
                { label: "型号/规格", name: "RawMaterialModel", width: 140, align: "left", sortable: false },
                { label: "数量", name: "RawMaterialNumber", width: 150, align: "left", sortable: false }
            ],
            treeGrid: true,
            treeGridModel: "nested",
            rowNum: "all",
            rownumbers: true
        });
        //处理Json
        function RawMaterialListToListTreeJson(RawMaterialJson) {
            $.ajax({
                url: "/SteelMember/MemberLibrary/ListToRawMaterialJson",
                data: { RawMaterialJson: JSON.stringify(RawMaterialJson) },
                type: "post",
                dataType: "json",
                success: function (data) {
                    $grid.clearGridData();
                    $grid[0].addJSONData(data);
                },
            });
        }
        //新增
        $("#lr-add-RawMaterial").click(function () {
            dialogOpen({
                id: "RawMaterialNumForm",
                title: '添加材料',
                url: '/SteelMember/MemberLibrary/RawMaterialNumForm?MemberId =' + KeyValue,
                width: "450px",
                height: "400px",
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick(function (data) {
                        RawMaterialJson.push(data);
                        RawMaterialListToListTreeJson(RawMaterialJson);
                    });
                }
            });
        })
        //编辑
        $("#lr-edit-RawMaterial").click(function () {
            var RawMaterialId = $("#gridTable-RawMaterial").jqGridRowValue("RawMaterialId");
            var MemberId = $("#gridTable-RawMaterial").jqGridRowValue("MemberId");
            if (checkedRow(RawMaterialId)) {
                dialogOpen({
                    id: "RawMaterialNumForm",
                    title: '编辑目录',
                    url: '/SteelMember/MemberLibrary/RawMaterialNumForm?RawMaterialId=' + RawMaterialId + '&MemberId=' + KeyValue + '&type=edit',
                    width: "450px",
                    height: "400px",
                    callBack: function (iframeId) {
                        top.frames[iframeId].AcceptClick(function (data) {
                            $.each(RawMaterialJson, function (i) {
                                if (RawMaterialJson[i].RawMaterialId == RawMaterialId) {
                                    RawMaterialJson[i] = data;
                                }
                            });
                            RawMaterialListToListTreeJson(RawMaterialJson);
                        });
                    }
                });
            }
        })
        //删除
        $("#lr-delete-RawMaterial").click(function () {
            var RawMaterialId = $("#gridTable-RawMaterial").jqGridRowValue("RawMaterialId");
            if (checkedRow(RawMaterialId)) {
                $.each(RawMaterialJson, function (i) {
                    if (RawMaterialJson[i].RawMaterialId == RawMaterialId) {
                        RawMaterialJson.splice(i, 1);
                        RawMaterialListToListTreeJson(RawMaterialJson);
                        return false;
                    }
                });
            }
        });
    }
    /*添加材料结束====================================*/
    //验证构件
    $._ExistField = function (controlId, url, param) {
        var SubProjectId = $("#EngineeringId").attr('data-value');
        var Category = $("#Category").attr('data-value');
        if (controlId != "MemberName") {
            controlId = "MemberName";
        }
        var $control = $("#" + controlId);
        if (!$control.val() || SubProjectId == undefined || SubProjectId == "" || SubProjectId == '' || SubProjectId == null) {
            return false;
        }
        var data = {
            Category: Category,
            keyValue: SubProjectId
        };
        data[controlId] = $control.val();
        var options = $.extend(data, param);
        $.ajax({
            url: url,
            data: options,
            type: "get",
            dataType: "text",
            async: false,
            success: function (data) {
                if (data.toLocaleLowerCase() == 'false') {
                    ValidationMessage($control, '已存在,请重新输入');
                    $control.attr('fieldexist', 'yes');
                } else {
                    $control.attr('fieldexist', 'no');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                dialogMsg(errorThrown, -1);
            }
        });
    }
    //返回材料验证值
    function ExistRawMaterial(RawMaterialModel) {
        var a;
        if (RawMaterialJson.length > 0) {
            $.each(RawMaterialJson, function (i) {
                if (RawMaterialJson[i].RawMaterialModel == RawMaterialModel) {
                    a = 1;
                } else {
                    a = 0;
                }
            })
        } else {
            a = 0;
        }
        if (a == 0) {
            return false;
        } else {
            return true;
        }
    }
    //返回材料实体
    function RawMaterialModel(RawMaterialId) {
        var data;
        if (RawMaterialJson.length > 0) {
            $.each(RawMaterialJson, function (i) {
                if (RawMaterialJson[i].RawMaterialId == RawMaterialId) {
                    data = RawMaterialJson[i];
                } else {
                    data = 0;
                }
            })
        } else {
            data = 0;
        }
        if (data == 0) {
            return false;
        } else {
            return data;
        }
    }
    //保存表单
    function AcceptClick() {
        var images = "";
        var imgs = document.getElementById("CAD").getElementsByTagName("img");
        for (var j = 0; j < imgs.length; j++) {
            images += getFileName(imgs[j].id) + ':';
        }
        if ($("#Icon").val() == "" || $("#Icon").val() == null) {
            var txt = "<span>构件图标不能为空!</span>";
            $("#errorimg").append(txt);
            document.getElementById('errorimg').style.display = "block";
            return false;
        }
        if ($("#Model_Drawing").val() == "" || $("#Model_Drawing").val() == null) {
            var txt = "<span>构件模型不能为空!</span>";
            $("#errorimg").append(txt);
            document.getElementById('errorimg').style.display = "block";
            return false;
        }
        if (images == "" || images == null) {
            var txt = "<span>构件图纸不能为空!</span>";
            $("#errorimg").append(txt);
            document.getElementById('errorimg').style.display = "block";
            return false;
        }
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").GetWebControls(KeyValue);
        
        postData["CAD_Drawing"] = images;
        postData["MemberName"] = $("#MemberName").val().replace(/\s+/g, "");//除去所有空格
        postData["EngineeringId"] = $("#EngineeringId").attr('data-value');
        postData["Category"] = $("#Category").attr('data-value');
        postData["UnitId"] = $("#UnitId").attr('data-value');
        postData["MemberRawMaterialListJson"] = JSON.stringify(RawMaterialJson);
        $.SaveForm({
            url: "../../SteelMember/MemberLibrary/SaveForm?KeyValue=" + KeyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
</script>
<style>
    .uploadify-queue {
        display: none;
    }

    .txImg {
        float: left;
        padding: 2px;
        width: 120px;
        height: 100px;
        border: none !important;
    }
</style>

<div class="widget-body" style="padding:15px">
    <div id="wizard" class="wizard" data-target="#wizard-steps" style="border-left: none; border-top: none; border-right: none;">
        <ul class="steps">
            <li data-target="#step-1" class="active"><span class="step">1</span>添加构件<span class="chevron"></span></li>
            <li data-target="#step-2"><span class="step">2</span>添加材料<span class="chevron"></span></li>
        </ul>
    </div>
    <div class="step-content" id="wizard-steps" style="border-left: none; border-bottom: none; border-right: none;">
        <div class="step-pane active" id="step-1" style="margin-left: 0px;">
            <input id="MemberId" type="hidden" value="@Guid.NewGuid().ToString()" />
            <input id="CAD_Drawing" type="hidden" />
            <input id="Model_Drawing" type="hidden" />
            <input id="Icon" type="hidden" />

            <div id="message" style="display: none"></div>
            <div id="errorimg" style="display:block;color:red;width:100%;text-align:center;padding:2px;height:20px;"></div>
            <table class="form">
                <tr>
                    <td class="formTitle">
                        工程类型<font face="宋体" color="red">*</font>
                    </td>
                    <td class="formValue">
                        <div id="EngineeringId" type="selectTree" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>

                    </td>
                    <td class="formTitle">
                        构件类型<font face="宋体" color="red">*</font>
                    </td>
                    <td class="formValue">
                        <div id="Category" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">
                        构件名称<font face="宋体" color="red">*</font>
                    </td>
                    <td class="formValue">
                        <input id="MemberName" type="text" onblur="$._ExistField(this.id,'../../SteelMember/MemberLibrary/ExistMember')" class="form-control" placeholder="请输入构件名称" isvalid="yes" checkexpession="NotNull" />
                    </td>
                    <td class="formTitle">
                        构件单位<font face="宋体" color="red">*</font>
                    </td>
                    <td class="formValue">
                        <div id="UnitId" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
                    </td>
                </tr>
                <tr>
                </tr>
                <tr>

                    <td class="formTitle">
                        图标<font face="宋体" color="red">*</font>
                    </td>
                    <td class="formValue">
                        <div style="height:150px;border:1px solid #cccccc">
                            <div id="_Icon" style="float:left;margin:5px;width:140px;height:100%" class="showImg;"></div>
                            <div class="btnAvatar" style="float:left;margin-left:15px;margin-top:65px;">
                                <input id="DelAvatar2" onclick="DelIcon()" class="uploadify-button " type="hidden" style="height: 24px; margin-left:20px" />
                                <input id="Avatar2" name="Avatar" type="file" class="Avatar required" accept="image/*" />
                            </div>
                        </div>
                    </td>
                    <td class="formTitle">
                        模型<font face="宋体" color="red">*</font>
                    </td>
                    <td class="formValue">
                        <div style="height:150px;border:1px solid #cccccc">
                            <div id="_Model_Drawing" style="float:left;margin:5px;width:140px;height:100%" class="showImg;"></div>
                            <div class="btnAvatar" style="float:left;margin-left:15px;margin-top:65px;">
                                <input id="DelAvatar1" onclick="DelModel_Drawing()" class="uploadify-button " type="hidden" style="height: 24px;margin-left:10px" />
                                <input id="Avatar1" name="Avatar" type="file" class="Avatar required" accept="image/*" />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">
                        图纸<font face="宋体" color="red">*</font>
                    </td>
                    <td class="formValue" colspan="3">
                        <div id="CAD" style="float:left;height:155px;word-break:break-all;width:100%;min-height:150px;padding:5px;overflow-y:auto;border:1px solid #cccccc">
                            <ul id="engineering_img">
                                <li class="btnAvatar" style="float:left;margin:5px;margin-top:55px;">
                                    <input id="Avatar" name="Avatar" type="file" class="Avatar required" accept="image/*"/>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>

        </div>
        <div class="step-pane" id="step-2" style="margin: 5px;">
            <div style="height: 40px; line-height: 33px; text-align: right;">
                <div class="btn-group">
                    <a id="lr-add-RawMaterial" class="btn btn-default"><i class="fa fa-plus"></i>&nbsp;新增</a>
                    <a id="lr-edit-RawMaterial" class="btn btn-default"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑</a>
                    <a id="lr-delete-RawMaterial" class="btn btn-default"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
                </div>
            </div>
            <table id="gridTable-RawMaterial"></table>
        </div>

    </div>
</div>
<div class="form-button" id="wizard-actions">
    <a id="btn_last" disabled class="btn btn-default btn-prev">上一步</a>
    <a id="btn_next" disabled class="btn btn-default btn-next">下一步</a>
    <a id="btn_finish" class="btn btn-success">完成</a>
</div>

