@{
    ViewBag.Title = "构件列表";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script>
    $(function () {
        $("#keywords").focus();
        //GetTree();
        GetGrid();
        //绑定键盘按下事件  
        $(document).keypress(function (e) {
            // 回车键事件  
            if (e.which == 13) {
                $("#keywords").focus();
                $("#keywords").select();
                $("#btnSearch").click();
            }
        });
    });

    //显示物料
    function GetGrid() {
        var SelectRowIndx;
        var index = GetQuery('index');
        $("#gridTable").jqGrid({
            url: "@Url.Content("~/SteelMember/CollarManagement/GridListJsonCollar")?TreeID=" + GetQuery('TreeId'),
            datatype: "json",
            height: $(window).height() + 170,
            autowidth: true,
            colModel: [
                { label: '构件主键', name: 'MemberId', hidden: true },
                { label: '构件外键', name: 'ProjectDemandId', hidden: true  },
                { label: '构件编号', name: "MemberNumbering", align:' center',width: 125, sortable: false },
                { label: '构件名称', name: "MemberName", align:' center',width: 125, sortable: false },
                { label: '构件型号', name: "MemberModel", align:' center',width: 100, sortable: false, align: 'center' },
                { label: '单位', name: "MemberUnit", align:' center',width: 50, sortable: false, align: 'center' },
                //{ label: '单价', name: "UnitPrice", align:' center',width: 50, sortable: false, align: 'center' },
                { label: '库存量', name: "InStock", align:' center',width: 50, sortable: false, align: 'center' },
                { label: '已领用量', name: "OrderQuantityed", align:' center',width: 50, sortable: false, align: 'center' },
                { label: '说明', name: 'Description', align:' center',width: 150, sortable: false }
            ],
            rowNum: 30,
            sortname: 'SortCode',
            sortorder: 'Desc',//降序 asc升序
            pager: "#gridPager",
            viewrecords: true,
            rownumbers: true,
            gridview: true,
            multiselect: true,
            rowList: [15, 30, 50, 100, 500, 1000],
            onSelectRow: function () {
                SelectRowIndx = GetJqGridRowIndx("#" + this.id);
            },
            gridComplete: function () {
                $("#" + this.id).jqGrid('setSelection', SelectRowIndx);
                var rowIds = jQuery("#gridTable").jqGrid('getDataIDs');
                var $parentobj = top.frames["CollarForm"];
                for (var k = 0; k < rowIds.length; k++) {
                    var curRowData = jQuery("#gridTable").jqGrid('getRowData', rowIds[k]);
                    var curChk = $("#" + rowIds[k] + "").find(":checkbox");
                    //curChk.attr('name', 'checkboxname');   //给每一个checkbox赋名字
                    //curChk.attr('value', curRowData['MY_ID']);   //给checkbox赋值
                    //curChk.attr('title', curRowData['NAME']);   //给checkbox赋予额外的属性值
                    ////curChk.attr('checked', 'true');   //设置所有checkbox被选中
                    if (!$parentobj.HaveExistItem(k, curRowData.MemberId)) {
                        //$("#gridTable").attr("checked", false);
                        curChk.attr('checked', false);
                    } else {
                        //$("#gridTable").attr("checked", true);
                        curChk.attr('checked', true);
                    }
                }
            },

            ////单击事件
            //onSelectRow: function (RowIndx) {
            //    var rowData = $(this).jqGrid('getRowData', RowIndx);
            //    var $parentobj = top.frames["CollarForm"];
            //    if (!$parentobj.IsExistItem(index, rowData.MemberNumbering)) {
            //        $parentobj.$("#MemberID➩" + index).val(rowData.MemberId);
            //        $parentobj.$("#MemberNumbering➩" + index).val(rowData.MemberNumbering);
            //        $parentobj.$("#ProjectDemandId➩" + index).val(rowData.ProjectDemandId);
            //        $parentobj.$("#MemberName➩" + index).val(rowData.MemberName);
            //        $parentobj.$("#MemberModel➩" + index).val(rowData.MemberModel);
            //        $parentobj.$("#MemberUnit➩" + index).val(rowData.MemberUnit);
            //        $parentobj.$("#Qty➩" + index).val(rowData.InStock);
            //        //$parentobj.$("#PlusPrice➩" + index).val("0.00");
            //        //$parentobj.$("#CESS➩" + index).val("0.00");
            //        //$parentobj.$("#CESSAmount➩" + index).val("0.00");
            //        //$parentobj.$("#PlusPriceAmount➩" + index).val("0.00");
            //        $parentobj.$("#gridTable tbody tr:eq(" + index + ")").find('input').attr("datacol", "yes");
            //        index++;
            //        $parentobj.$("#gridTable tbody tr:eq(" + index + ")").find('input').removeAttr('disabled');
            //        $parentobj.$("#gridTable").find('.disabled').attr("disabled", "disabled");
            //        $parentobj.$("#MemberNumbering➩" + index).focus();
            //        //closeDialog();
            //    } else {
            //        confirmDialog("系统提示", "构件已存在,是否需要移除？", function (r) {
            //            if (r) {
            //                //删除判断集合对应元素开始
            //                $parentobj.IsExistItemdelete(index, rowData.MemberId);
            //                //删除判断集合对应元素结束
            //                $parentobj.$("#MemberID➩" + index).val(null);
            //                $parentobj.$("#MemberNumbering➩" + index).val(null);
            //                $parentobj.$("#ProjectDemandId➩" + index).val(null);
            //                $parentobj.$("#MemberName➩" + index).val(null);
            //                $parentobj.$("#MemberModel➩" + index).val(null);
            //                $parentobj.$("#MemberUnit➩" + index).val(null);
            //                $parentobj.$("#Qty➩" + index).val(null);
            //                $parentobj.$("#gridTable tbody tr:eq(" + index + ")").find('input').attr("datacol", "yes");
            //                //index++;
            //                $parentobj.$("#gridTable tbody tr:eq(" + index + ")").find('input').removeAttr('disabled');
            //                $parentobj.$("#gridTable").find('.disabled').attr("disabled", "disabled");
            //                $parentobj.$("#MemberNumbering➩" + index).focus();
            //            }
            //        });
            //    }
            //    $("#gridTable").trigger("reloadGrid"); //重新载入 
            //},
            ////全选事件
            //onSelectAll: function (RowIndx) {
            //    for (var i = 0; i < RowIndx.length; i++) {
            //        var rowData = $(this).jqGrid('getRowData', RowIndx[i]);
            //        var $parentobj = top.frames["CollarForm"];
            //        if (!$parentobj.IsExistItem(index, rowData.MemberNumbering)) {
            //            $parentobj.$("#MemberID➩" + index).val(rowData.MemberId);
            //            $parentobj.$("#MemberNumbering➩" + index).val(rowData.MemberNumbering);
            //            $parentobj.$("#ProjectDemandId➩" + index).val(rowData.ProjectDemandId);
            //            $parentobj.$("#MemberName➩" + index).val(rowData.MemberName);
            //            $parentobj.$("#MemberModel➩" + index).val(rowData.MemberModel);
            //            $parentobj.$("#MemberUnit➩" + index).val(rowData.MemberUnit);
            //            $parentobj.$("#Qty➩" + index).val(rowData.InStock);
            //            //$parentobj.$("#Price➩" + index).val(rowData.UnitPrice);
            //            //$parentobj.$("#PriceAmount➩" + index).val(Number(rowData.UnitPrice) * Number(rowData.MemberNumber));
            //            //$parentobj.$("#PlusPrice➩" + index).val("0.00");
            //            //$parentobj.$("#CESS➩" + index).val("0.00");
            //            //$parentobj.$("#CESSAmount➩" + index).val("0.00");
            //            //$parentobj.$("#PlusPriceAmount➩" + index).val("0.00");
            //            $parentobj.$("#gridTable tbody tr:eq(" + index + ")").find('input').attr("datacol", "yes");
            //            index++;
            //            $parentobj.$("#gridTable tbody tr:eq(" + index + ")").find('input').removeAttr('disabled');
            //            $parentobj.$("#gridTable").find('.disabled').attr("disabled", "disabled");
            //            $parentobj.$("#MemberNumbering➩" + index).focus();
            //        } else {   //top.TipMsg("构件已存在,不能重复添加", 4000, "error");
            //            confirmDialog("系统提示", "构件已存在,是否需要移除？", function (r) {
            //                if (r) {
            //                    for (var i = 0; i < RowIndx.length; i++) {
            //                        var rowData = $(this).jqGrid('getRowData', RowIndx[i]);
            //                        //删除判断集合对应元素开始
            //                        $parentobj.IsExistItemdelete(index, rowData.MemberId);
            //                        //删除判断集合对应元素结束
            //                        $parentobj.$("#MemberID➩" + index).val(null);
            //                        $parentobj.$("#MemberNumbering➩" + index).val(null);
            //                        $parentobj.$("#ProjectDemandId➩" + index).val(null);
            //                        $parentobj.$("#MemberName➩" + index).val(null);
            //                        $parentobj.$("#MemberModel➩" + index).val(null);
            //                        $parentobj.$("#MemberUnit➩" + index).val(null);
            //                        $parentobj.$("#Qty➩" + index).val(null);
            //                        $parentobj.$("#gridTable tbody tr:eq(" + index + ")").find('input').attr("datacol", "yes");
            //                        index++;
            //                        $parentobj.$("#gridTable tbody tr:eq(" + index + ")").find('input').removeAttr('disabled');
            //                        $parentobj.$("#gridTable").find('.disabled').attr("disabled", "disabled");
            //                        $parentobj.$("#MemberNumbering➩" + index).focus();
            //                    }
            //                }
            //            });
            //        }
            //        $("#gridTable").trigger("reloadGrid"); //重新载入 
            //    }
            //    closeDialog();
            //},

        });
    }

    //搜索
    function btn_Search() {
        var keywords = $("#keywords").val();
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("~/SteelMember/CollarManagement/GridListJsonCollar")?keywords=" + escape(keywords)+"&TreeID=" + GetQuery('TreeId')
    }).trigger('reloadGrid');
    }

    //添加
    function btn_add() {
        var KeyValue = GetJqGridRowValue("#gridTable", "MemberId");

        $.ajax({
            url: "/SteelMember/CollarManagement/ListMember",
            type: "post",
            //traditional: true,
            datatype: 'json',
            data: {
                //TreeId: TreeId,
                KeyValue: KeyValue
            },
            success: function (rowData) {
                var rows = 1;
                var $parentobj = top.frames["CollarForm"];
                while (rows < 30) {
                    $parentobj.$("#MemberID➩" + rows).val(null);
                    $parentobj.$("#MemberNumbering➩" + rows).val(null);
                    $parentobj.$("#ProjectDemandId➩" + rows).val(null);
                    $parentobj.$("#MemberName➩" + rows).val(null);
                    $parentobj.$("#MemberModel➩" + rows).val(null);
                    $parentobj.$("#MemberUnit➩" + rows).val(null);
                    $parentobj.$("#Qty➩" + rows).val(null);
                    //$parentobj.$("#Price➩" + rows).val(null);
                    //$parentobj.$("#PriceAmount➩" + rows).val(null);
                    rows++;
                }
                if (rowData != null) {
                    var index = 1;
                    for (var i = 0; i < rowData.length; i++) {
                        $parentobj.IsExistItem(index, rowData[i].MemberId);
                        //var rowData = $(this).jqGrid('getRowData', RowIndx[i]);
                        $parentobj.$("#MemberID➩" + index).val(rowData[i].MemberId);
                        $parentobj.$("#MemberNumbering➩" + index).val(rowData[i].MemberNumbering);
                        $parentobj.$("#ProjectDemandId➩" + index).val(rowData[i].ProjectDemandId);
                        $parentobj.$("#MemberName➩" + index).val(rowData[i].MemberName);
                        $parentobj.$("#MemberModel➩" + index).val(rowData[i].MemberModel);
                        $parentobj.$("#MemberUnit➩" + index).val(rowData[i].MemberUnit);
                        $parentobj.$("#Qty➩" + index).val(rowData[i].InStock);
                        //$parentobj.$("#Price➩" + index).val(rowData[i].UnitPrice);
                        //$parentobj.$("#PriceAmount➩" + index).val(Number(rowData[i].UnitPrice) * Number(rowData[i].MemberNumber));
                        $parentobj.$("#gridTable tbody tr:eq(" + index + ")").find('input').attr("datacol", "yes");
                        index++;
                        $parentobj.$("#gridTable tbody tr:eq(" + index + ")").find('input').removeAttr('disabled');
                        $parentobj.$("#gridTable").find('.disabled').attr("disabled", "disabled");
                        $parentobj.$("#MemberNumbering➩" + index).focus();
                    }
                }
                closeDialog();
            },
            error: function (e) {
                tipDialog(e, 3);
            }
        });
    }
</script>

<div class="rightline" style="margin: 1px; margin-top: -1px;width:900px">
    <div class="QueryArea">
        <table border="0" class="form-find" @*style="height: 45px;"*@>
            <tr>
                <th>
                    关键字：
                </th>
                <td>
                    <input id="keywords" type="text" class="txt" style="width: 200px" />
                </td>
                <td>
                    <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="btn_Search()" />
                </td>
                <td>
                    <input id="btnSearch" type="button" class="btnSearch" value="确认" onclick="btn_add()" />
                </td>
            </tr>
        </table>
    </div>
    <div class="btnbartitle">
        <div>
            构件信息<span id="CenterTitle"></span>
        </div>
    </div>
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>