@{
    ViewBag.Title = "项目信息管理/项目信息表单";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}

<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue');
    var TreeId = GetQuery('TreeId');
    var ItemID = GetQuery('ItemID');
    var Info = GetQuery('Info');
    var TreeName = GetQuery('TreeName');

    $(function () {
        InitControl();

    })

    //得到一个对象实体
    function InitControl() {
        if (KeyValue == "") {
            document.getElementById("table_project").style.display = "black";
            document.getElementById("div_projcet_logo").style.display = "none";
            document.getElementById("div_project_photo").style.display = "none";
            //document.getElementById("ProjectLogo").value="Logo.png";
            //document.getElementById("ProjectLogo").readOnly=true;
            //document.getElementById("ProjectBackground").value="Background.png";
            //document.getElementById("ProjectBackground").readOnly=true;
            //document.getElementById("btn_ProjectLogo").style.display="none";
            //document.getElementById("btn_ProjectBackground").style.display="none";
        }
        else if (TreeId == "59" && KeyValue != "") {
            document.getElementById("table_project").style.display = "black";
            document.getElementById("div_projcet_logo").style.display = "none";
            document.getElementById("div_project_photo").style.display = "none";
            //document.getElementById("btn_ProjectLogo").style.display = "none";
            //document.getElementById("btn_ProjectBackground").style.display = "none";
            //document.getElementById("ProjectLogo").readOnly=true;
            //document.getElementById("ProjectBackground").readOnly=true;
            //document.getElementById("ConstructionUnit").readOnly = true;
            //document.getElementById("ProjectAddress").readOnly = true;
            //document.getElementById("DesignUnit").readOnly = true;
            //document.getElementById("SupervisionUnit").readOnly = true;
            //document.getElementById("GeneralContractor").readOnly = true;
            //document.getElementById("ProfessionalContractor").readOnly = true;
            //document.getElementById("Description").readOnly = true;
            AjaxJson("/SteelMember/ProjectInfo/SetDataForm", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
            });
        } else if (TreeId == "61" && KeyValue != "") {
            document.getElementById("table_project").style.display = "none";
            document.getElementById("div_projcet_logo").style.display = "black";
            document.getElementById("div_project_photo").style.display = "none";
            //document.getElementById("btn_ProjectLogo").style.display = "none";
            //document.getElementById("btn_ProjectBackground").style.display = "none";
            //document.getElementById("ProjectLogo").readOnly=true;
            //document.getElementById("ProjectBackground").readOnly=true;
            //document.getElementById("ConstructionUnit").readOnly = true;
            //document.getElementById("ProjectAddress").readOnly = true;
            //document.getElementById("DesignUnit").readOnly = true;
            //document.getElementById("SupervisionUnit").readOnly = true;
            //document.getElementById("GeneralContractor").readOnly = true;
            //document.getElementById("ProfessionalContractor").readOnly = true;
            //document.getElementById("Description").readOnly = true;
            AjaxJson("/SteelMember/ProjectInfo/SetDataForm", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
            });
        }
        else if (TreeId == "60" && KeyValue != "") {

            document.getElementById("table_project").style.display = "none";
            document.getElementById("div_projcet_logo").style.display = "none";
            document.getElementById("div_project_photo").style.display = "black";
            //document.getElementById("btn_ProjectLogo").style.display = "none";
            //document.getElementById("btn_ProjectBackground").style.display = "none";
            //document.getElementById("ProjectLogo").readOnly=true;
            //document.getElementById("ProjectBackground").readOnly=true;
            //document.getElementById("ConstructionUnit").readOnly = true;
            //document.getElementById("ProjectAddress").readOnly = true;
            //document.getElementById("DesignUnit").readOnly = true;
            //document.getElementById("SupervisionUnit").readOnly = true;
            //document.getElementById("GeneralContractor").readOnly = true;
            //document.getElementById("ProfessionalContractor").readOnly = true;
            //document.getElementById("Description").readOnly = true;
            AjaxJson("/SteelMember/ProjectInfo/SetDataForm", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
            });
        } else {
            document.getElementById("table_project").style.display = "black";
            document.getElementById("div_projcet_logo").style.display = "none";
            document.getElementById("div_project_photo").style.display = "none";
            AjaxJson("/SteelMember/ProjectInfo/SetDataForm", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
            });
        }
    }

    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form2')) {
            return false;
        }
        Loading(true, "正在提交数据...");
        window.setTimeout(function () {
            var postData = GetWebControls("#form2");
            AjaxJson("/SteelMember/ProjectInfo/SubmitDataForm?KeyValue=" + KeyValue + '&TreeId=' + TreeId, postData, function (data) {//+ '&ItemID=' + ItemID
                tipDialog(data.Message, 3, data.Code);
                top.frames[tabiframeId()].windowload();
                parent.window.LoadLogo();//刷新标题
                closeDialog();
            });
        }, 200);
    }

    //上传logo
    function LogoUpload() {
        var Logo = "Logo"
        var url = "/SteelMember/File/UpLoadFile?KeyValue=" + KeyValue + "&Logo=" + Logo;
        Dialog(url, "UpLoadFile", "上传文件到网络硬盘", 500, 600, function (iframe) {
            top.frames[iframe].AcceptClick()
            $("#gridTable").trigger("reloadGrid"); //重新载入
        });
    }

    //上传背景图片
    function BackgroundUpload() {
        var Background = "Background"
        var url = "/SteelMember/File/UpLoadFile?KeyValue=" + KeyValue + "&Background=" + Background;
        Dialog(url, "UpLoadFile", "上传文件到网络硬盘", 500, 600, function (iframe) {
            top.frames[iframe].AcceptClick()
            $("#gridTable").trigger("reloadGrid"); //重新载入
        });
    }
</script>

<form id="form2">

    <div id="table_project">
        <table class="form">
            <tr>
                <th class="formTitle">
                    系统标题：
                </th>
                <td class="formValue" colspan="5">
                    <input id="ProjectSystemTitel" type="text" class="txt" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">
                    项目地址：
                </th>
                <td class="formValue" colspan="5">
                    <input id="ProjectAddress" type="text" class="txt" rowspan="4"/>
                </td>
            </tr>
          
            <tr>
                <th class="formTitle">
                    业主单位：
                </th>
                <td class="formValue">
                    <input id="ConstructionUnit" type="text" class="txt" />
                </td>
                <th class="formTitle">
                    负责人：
                </th>
                <td class="formValue">
                    <input id="ConstructionPrincipal" type="text" class="txt" />
                </td>
                <th class="formTitle">
                    联系电话：
                </th>
                <td class="formValue">
                    <input id="ConstructionPrincipalTEL" type="text" class="txt" />
                </td>
            </tr>

            <tr>
                <th class="formTitle">
                    设计单位：
                </th>
                <td class="formValue">
                    <input id="DesignUnit" type="text" class="txt" />
                </td>
                <th class="formTitle">
                    负责人：
                </th>
                <td class="formValue">
                    <input id="DesignPrincipal" type="text" class="txt" />
                </td>
                <th class="formTitle">
                    联系电话：
                </th>
                <td class="formValue">
                    <input id="DesignPrincipalTEL" type="text" class="txt" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">监理单位：</th>
                <td class="formValue">
                    <input id="SupervisionUnit" type="text" class="txt" />
                </td>
                <th class="formTitle">
                    负责人：
                </th>
                <td class="formValue">
                    <input id="SupervisionPrincipal" type="text" class="txt" />
                </td>
                <th class="formTitle">
                    联系电话：
                </th>
                <td class="formValue">
                    <input id="SupervisionPrincipalTEL" type="text" class="txt" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">总承包商：</th>
                <td class="formValue">
                    <input id="GeneralContractor" type="text" class="txt" />
                </td>
                <th class="formTitle">
                    负责人：
                </th>
                <td class="formValue">
                    <input id="GeneralContractorPrincipal" type="text" class="txt" />
                </td>
                <th class="formTitle">
                    联系电话：
                </th>
                <td class="formValue">
                    <input id="GeneralContractorPrincipalTEL" type="text" class="txt" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">专业承包商：</th>
                <td class="formValue">
                    <input id="ProfessionalContractor" type="text" class="txt" />
                </td>
                <th class="formTitle">
                    负责人：
                </th>
                <td class="formValue">
                    <input id="ProfessionalContractorPrincipal" type="text" class="txt" />
                </td>
                <th class="formTitle">
                    联系电话：
                </th>
                <td class="formValue">
                    <input id="ProfessionalContractorPrincipalTEL" type="text" class="txt" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">
                    工程概况：
                </th>
                <td class="formValue" colspan="5">
                    <textarea id="Description" name="Description" maxlength="200" class="txtArea" rows="5"></textarea>
                </td>
            </tr>
        </table>
    </div>
    <div id="div_projcet_logo">
        <table class="form">
            <tr>
                <th class="formTitle">
                    项目Logo：
                </th>
                <td class="formValue">
                    @*<input id="ProjectLogo" type="text" class="txt" />*@
                    <input id="btn_ProjectLogo" type="button" onclick="LogoUpload(@ViewData["projectid"])" value="上传" />
                </td>
            </tr>
        </table>
    </div>
    <div id="div_project_photo">
        <table class="form">
            <tr>
                <th class="formTitle">
                    项目背景：
                </th>
                <td class="formValue">
                    @*<input id="ProjectBackground" type="text" class="txt" />*@
                    <input id="btn_ProjectBackground" type="button" onclick="BackgroundUpload(@ViewData["projectid"])" value="上传" />
                </td>
            </tr>
        </table>
    </div>
</form>