@{
    ViewBag.Title = "项目信息管理/项目信息表单";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<script type="text/javascript">
    var KeyValue = request('KeyValue');
    var TreeId = request('TreeId');
    var ItemID = request('ItemID');
    var Info = request('Info');
    var TreeName = request('TreeName');

    $(function () {
        InitControl();

    })

    //得到一个对象实体
    function InitControl() {
        if (KeyValue == "") {
            document.getElementById("table_project").style.display = "black";
            document.getElementById("div_projcet_logo").style.display = "none";
            document.getElementById("div_project_photo").style.display = "none";
        }
        else if (TreeId == "59" && KeyValue != "") {
            document.getElementById("table_project").style.display = "black";
            document.getElementById("div_projcet_logo").style.display = "none";
            document.getElementById("div_project_photo").style.display = "none";

            $.SetForm({
                url: "/SteelMember/ProjectInfoManagement/SetDataForm",
                param: { KeyValue: KeyValue },
                success: function (data) {
                    $("#form1").SetWebControls(data);
                }
            })
        } else if (TreeId == "61" && KeyValue != "") {
            document.getElementById("table_project").style.display = "none";
            document.getElementById("div_projcet_logo").style.display = "black";
            document.getElementById("div_project_photo").style.display = "none";

            $.SetForm({
                url: "/SteelMember/ProjectInfoManagement/SetDataForm",
                param: { KeyValue: KeyValue },
                success: function (data) {
                    $("#form1").SetWebControls(data);
                }
            })
        }
        else if (TreeId == "60" && KeyValue != "") {

            document.getElementById("table_project").style.display = "none";
            document.getElementById("div_projcet_logo").style.display = "none";
            document.getElementById("div_project_photo").style.display = "black";
           
            $.SetForm({
                url: "/SteelMember/ProjectInfoManagement/SetDataForm",
                param: { KeyValue: KeyValue },
                success: function (data) {
                    $("#form1").SetWebControls(data);
                }
            })
        } else {
            document.getElementById("table_project").style.display = "black";
            document.getElementById("div_projcet_logo").style.display = "none";
            document.getElementById("div_project_photo").style.display = "none";

            $.SetForm({
                url: "/SteelMember/ProjectInfoManagement/SetDataForm",
                param: { KeyValue: KeyValue },
                success: function (data) {
                    $("#form1").SetWebControls(data);
                }
            })
        }
    }

    //保存表单
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").GetWebControls(KeyValue);
        $.SaveForm({
            url: "/SteelMember/ProjectInfoManagement/SubmitDataForm?KeyValue=" + KeyValue + "&TreeId=" + TreeId,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().windowload();
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
              //  parent.window.LoadLogo();//刷新标题
            }
        })
    }

    //上传logo
    function LogoUpload() {
        var Logo = "Logo"
        var url = "/SteelMember/File/UpLoadFile?KeyValue=" + KeyValue + "&Logo=" + Logo;
        Dialog(url, "UpLoadFile", "上传文件到网络硬盘", 500, 600, function (iframe) {
            top.frames[iframe].AcceptClick()
            $("#gridTable").trigger("reloadGrid"); //重新载入
        });
    }

    //上传背景图片
    function BackgroundUpload() {
        var Background = "Background"
        var url = "/SteelMember/File/UpLoadFile?KeyValue=" + KeyValue + "&Background=" + Background;
        Dialog(url, "UpLoadFile", "上传文件到网络硬盘", 500, 600, function (iframe) {
            top.frames[iframe].AcceptClick()
            $("#gridTable").trigger("reloadGrid"); //重新载入
        });
    }
</script>

@*<form id="form2">*@

    <div id="table_project">
        <table class="form">
            <tr>
                <td class="formTitle">
                    系统标题<font face="宋体">*</font>
                </td>
                <td class="formValue" colspan="5">
                    <input id="ProjectSystemTitel" type="text" class="form-control" placeholder="请输入系统标题" isvalid="yes" checkexpession="NotNull" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">
                    项目地址
                </td>
                <td class="formValue" colspan="5">
                    <input id="ProjectAddress" type="text" class="form-control" rowspan="4" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">
                    业主单位
                </td>
                <td class="formValue">
                    <input id="ConstructionUnit" type="text" class="form-control" />
                </td>
                <td class="formTitle">
                    负责人
                </td>
                <td class="formValue">
                    <input id="ConstructionPrincipal" type="text" class="form-control" />
                </td>
                <td class="formTitle">
                    联系电话
                </td>
                <td class="formValue">
                    <input id="ConstructionPrincipalTEL" type="text" class="form-control" placeholder="请输入电话格式或手机格式" isvalid="yes" checkexpession="MobileOrPhoneOrNull" />
                </td>
            </tr>

            <tr>
                <td class="formTitle">
                    设计单位
                </td>
                <td class="formValue">
                    <input id="DesignUnit" type="text" class="form-control" />
                </td>
                <td class="formTitle">
                    负责人
                </td>
                <td class="formValue">
                    <input id="DesignPrincipal" type="text" class="form-control" />
                </td>
                <td class="formTitle">
                    联系电话
                </td>
                <td class="formValue">
                    <input id="DesignPrincipalTEL" type="text" class="form-control"  placeholder="请输入电话格式或手机格式" isvalid="yes" checkexpession="MobileOrPhoneOrNull"/>
                </td>
            </tr>
            <tr>
                <td class="formTitle">监理单位</td>
                <td class="formValue">
                    <input id="SupervisionUnit" type="text" class="form-control" />
                </td>
                <td class="formTitle">
                    负责人
                </td>
                <td class="formValue">
                    <input id="SupervisionPrincipal" type="text" class="form-control" />
                </td>
                <td class="formTitle">
                    联系电话
                </td>
                <td class="formValue">
                    <input id="SupervisionPrincipalTEL" type="text" class="form-control"  placeholder="请输入电话格式或手机格式" isvalid="yes" checkexpession="MobileOrPhoneOrNull"/>
                </td>
            </tr>
            <tr>
                <td class="formTitle">总承包商</td>
                <td class="formValue">
                    <input id="GeneralContractor" type="text" class="form-control" />
                </td>
                <td class="formTitle">
                    负责人
                </td>
                <td class="formValue">
                    <input id="GeneralContractorPrincipal" type="text" class="form-control" />
                </td>
                <td class="formTitle">
                    联系电话
                </td>
                <td class="formValue">
                    <input id="GeneralContractorPrincipalTEL" type="text" class="form-control"  placeholder="请输入电话格式或手机格式" isvalid="yes" checkexpession="MobileOrPhoneOrNull"/>
                </td>
            </tr>
            <tr>
                <td class="formTitle">专业承包商</td>
                <td class="formValue">
                    <input id="ProfessionalContractor" type="text" class="form-control" />
                </td>
                <td class="formTitle">
                    负责人
                </td>
                <td class="formValue">
                    <input id="ProfessionalContractorPrincipal" type="text" class="form-control" />
                </td>
                <td class="formTitle">
                    联系电话
                </td>
                <td class="formValue">
                    <input id="ProfessionalContractorPrincipalTEL" type="text" class="form-control"  placeholder="请输入电话格式或手机格式" isvalid="yes" checkexpession="MobileOrPhoneOrNull"/>
                </td>
            </tr>
            <tr>
                <td class="formTitle">
                    工程概况
                </td>
                <td class="formValue" colspan="5">
                    <textarea id="Description" name="Description" maxlengtd="200" class="form-control" rows="5"></textarea>
                </td>
            </tr>
        </table>
    </div>
    <div id="div_projcet_logo">
        <table class="form">
            <tr>
                <th class="formTitle">
                    项目Logo
                </th>
                <td class="formValue">
                    @*<input id="ProjectLogo" type="text" class="txt" />*@
                    <input id="btn_ProjectLogo" type="button" onclick="LogoUpload(@ViewData["projectid"])" value="上传" />
                </td>
            </tr>
        </table>
    </div>
    <div id="div_project_photo">
        <table class="form">
            <tr>
                <th class="formTitle">
                    项目背景
                </th>
                <td class="formValue">
                    @*<input id="ProjectBackground" type="text" class="txt" />*@
                    <input id="btn_ProjectBackground" type="button" onclick="BackgroundUpload(@ViewData["projectid"])" value="上传" />
                </td>
            </tr>
        </table>
    </div>
@*</form>*@