@{
    ViewBag.Title = "项目信息管理";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}

<link href="~/Content/Scripts/uploadify/uploadify.css" rel="stylesheet" />
<script src="~/Content/Scripts/uploadify/jquery.uploadify.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        GetTree();
        GetGrid("59");
        
    });

    //加载左边树
    //注意 FolderId 默认等于1 这样就可以加载一级目录下的子节点文件夹
    var ItemId = 2;
    var TreeId = "";
    var data_id = "";
    var TreeName = "";
    var Img = "";
    //It Background:emId = GetQuery("ItemID"), IsPublic = "1";
    function GetTree() {
        var itemtree = {
            onnodeclick: function (node) {
                TreeId = node.id;
                TreeName = node.text;
                $("#CenterTitle").html(" - " + TreeName);
                if (TreeId == "59") {
                    //var leftHeight=parseInt(document.getElementById("left").style.clientHeight);
                    document.getElementById("table_project").style.display = "block";
                    document.getElementById("div_project_photo").style.display = "none";
                    document.getElementById("div_projcet_logo").style.display = "none";
                    document.getElementById("div_tools_bar").style.display = "block";

                } else if (TreeId == "61") {

                    document.getElementById("div_tools_bar").style.display = "none";
                    document.getElementById("table_project").style.display = "none";
                    document.getElementById("div_project_photo").style.display = "none";
                    document.getElementById("div_projcet_logo").style.display = "block";
                } else if (TreeId == "60") {
                    document.getElementById("div_tools_bar").style.display = "none";
                    document.getElementById("table_project").style.display = "none";
                    document.getElementById("div_project_photo").style.display = "block";
                    document.getElementById("div_projcet_logo").style.display = "none";
                  
                }else{}
                GetGrid(TreeId);
            },
            url: "@Url.Content("~/SteelMember/ProjectInfo/TreeJson")?ItemId=" + ItemId
        };
        $("#ItemsTree").treeview(itemtree);

        
    };


    /*上传图片*/
    var index_uploadify = 1;
    function uploadify() {
        if (TreeId == "60") {
            Img ="Background"
        } else {
            Img = "Logo"
        }
        //上传Logo
        $("#Avatar").uploadify({
            uploader: '/SteelMember/File/SubmitUpLoadFile',
            swf: '/Content/Scripts/uploadify/uploadify.swf',
            buttonText: "选择图片",
            height: 24,
            width: 70,
            fileTypeDesc: '支持格式:jpg/gif/jpeg/png/bmp.',
            fileTypeExts: '*.jpg;*.gif;*.jpeg;*.png;*.bmp',//允许的格式
            fileSizeLimit: '3MB',
            formData: {//向uploader指定的后台传递数据
                KeyValue: data_id,
                Img: Img,
            },
            onFallback: function () {
                alert("您未安装FLASH控件，无法上传！请安装FLASH控件后再试。");
            },
            onUploadSuccess: function (file, data, response) {
                document.getElementById("txImg").src = data;
                parent.window.LoadLogo();
               // top.frames[tabiframeId()].windowload();
            },
        });

        //上传背景
        $("#Avatar1").uploadify({
            uploader: '/SteelMember/File/SubmitUpLoadFile',
            swf: '/Content/Scripts/uploadify/uploadify.swf',
            buttonText: "选择图片",
            height: 24,
            width: 70,
            fileTypeDesc: '支持格式:jpg/gif/jpeg/png/bmp.',
            fileTypeExts: '*.jpg;*.gif;*.jpeg;*.png;*.bmp',//允许的格式
            fileSizeLimit: '3MB',
            formData: {//向uploader指定的后台传递数据
                KeyValue: data_id,
                Img: Img,
            },
            onFallback: function () {
                alert("您未安装FLASH控件，无法上传！请安装FLASH控件后再试。");
            },
            onUploadSuccess: function (file, data, response) {
                document.getElementById("txImg1").src = data;
                top.frames["tabs_iframe_Imain"].GetProject();
            },
        });
    }
   
    ////表格文件夹点击事件
    //function GridFolderEvent(TreeId) {
    //    AjaxJson("/SteelMember/ProjectInfo/GetItemInfo", { KeyValue: TreeId }, function (data) {
    //        SetWebControls(data);
    //        data_id = data.ProjectId;
    //        var filename="", filename1="";

    //        filename = data.ProjectLogo;
    //        filename = filename.substring(0, filename.lastIndexOf('.'));//获取文件名称，去除后缀名
    //        filename = "../../Resource/Document/NetworkDisk/System/Project/" + filename + "/" + data.ProjectLogo;
    //        document.getElementById("project_logo").src = filename;

    //        filename1 = data.ProjectBackground;
    //        filename1 = filename1.substring(0, filename1.lastIndexOf('.'));//获取文件名称，去除后缀名
    //        filename1 = "../../Resource/Document/NetworkDisk/System/Project/" + filename1 + "/" + data.ProjectBackground;
    //        document.getElementById("project_background").src = filename1;
    //    });
    //}

    //加载表格
    function GetGrid(TreeId) {
        uploadify();
        $.ajax({
            url: "/SteelMember/ProjectInfo/GetItemInfo",
            type: "post",
            data: { KeyValue: TreeId },
            dataType: "json",
            async: false,
            success: function (data) {
                if (data!=null) {
                SetWebControls(data);
                data_id = data.ProjectId;
                var filename = data.ProjectLogo, filename1 = data.ProjectBackground;
              
                if (filename1!=null){
                filename1 = filename1.substring(0, filename1.lastIndexOf('.'));//获取文件名称，去除后缀名
                filename1 = "../../Resource/Document/NetworkDisk/System/Project/" + filename1 + "/" + data.ProjectBackground;
                document.getElementById("txImg1").src = filename1;
                } 
                if (filename != null) {
                filename = filename.substring(0, filename.lastIndexOf('.'));//获取文件名称，去除后缀名
                filename = "../../Resource/Document/NetworkDisk/System/Project/" + filename + "/" + data.ProjectLogo;
                document.getElementById("txImg").src = filename;
                }
                }
            },
        });
    }

    //按钮刷新表格树
    function btn_reload(){
        GetTree();
        GetGrid();
    }
    //刷新
    function windowload() {
        GetGrid();
    }

    //新增信息
    function btn_add() {
        if (IsChecked(TreeId)) {
            if (data_id == "") {
                var url = "/SteelMember/ProjectInfo/Form?TreeId= " + TreeId;
                openDialog(url, "Form", "新增信息", 600, 250, function (iframe) {
                    top.frames[iframe].AcceptClick();
                });
            } else {
                alertDialog("数据已存在", 0);
            }
        }
    }

    //编辑信息(得到实体)
    function btn_edit() {
        if (data_id != "") {
            var url = "/SteelMember/ProjectInfo/Form?KeyValue= " + data_id + "&TreeId=" + TreeId;
            openDialog(url, "Form", "编辑信息", 600, 250, function (iframe) {
                top.frames[iframe].AcceptClick();
            });
        } else {
            alertDialog("主键不能为空", 0)
        }
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }

    //删除信息
    function btn_delete() {
        var Prompt = "您确实要删除此文件吗？";
        if (IsDelData(data_id)) {
            delConfirm('/SteelMember/ProjectInfo/DeleteProjectInfo', { KeyValue: data_i }, Prompt);
            $("#gridTable").trigger("reloadGrid"); //重新载入
        }

    }

</script>
<style>
    .uploadify-queue {
        display: none;
    }
</style>
<div id="layout" class="layout">
    <!--左边-->
    <div class="layoutPanel layout-west">
        <div class="btnbartitle">
            <div>
                项目信息
            </div>
        </div>
        <div class="ScrollBar" id="ItemsTree"></div>
    </div>
    <!--中间-->
    <div class="layoutPanel layout-center">
        <div class="btnbartitle">
            <div>
                信息表<span id="CenterTitle"></span>
            </div>
        </div>
        <div id="div_tools_bar" class="tools_bar" style="border-top: none; margin-bottom: 0px;">
            <div class="PartialButton">
                @Html.Partial("_PartialButton")
            </div>
        </div>
        <div id="table_project">
            <table class="form">
                <tr>
                    <th class="formTitle">
                        系统标题：
                    </th>
                    <td class="formValue" colspan="5">
                        <input readonly id="ProjectSystemTitel" type="text" class="txt" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">
                        项目地址：
                    </th>
                    <td class="formValue" colspan="5">
                        <input readonly id="ProjectAddress" type="text" class="txt" rowspan="4" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">
                        业主单位：
                    </th>
                    <td class="formValue">
                        <input readonly id="ConstructionUnit" type="text" class="txt" />
                    </td>
                    <th class="formTitle">
                        负责人：
                    </th>
                    <td class="formValue">
                        <input readonly id="ConstructionPrincipal" type="text" class="txt" />
                    </td>
                    <th class="formTitle">
                        联系电话：
                    </th>
                    <td class="formValue">
                        <input readonly id="ConstructionPrincipalTEL" type="text" class="txt" />
                    </td>
                </tr>

                <tr>
                    <th class="formTitle">
                        设计单位：
                    </th>
                    <td class="formValue">
                        <input readonly id="DesignUnit" type="text" class="txt" />
                    </td>
                    <th class="formTitle">
                        负责人：
                    </th>
                    <td class="formValue">
                        <input readonly id="DesignPrincipal" type="text" class="txt" />
                    </td>
                    <th class="formTitle">
                        联系电话：
                    </th>
                    <td class="formValue">
                        <input readonly id="DesignPrincipalTEL" type="text" class="txt" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">监理单位：</th>
                    <td class="formValue">
                        <input readonly id="SupervisionUnit" type="text" class="txt" />
                    </td>
                    <th class="formTitle">
                        负责人：
                    </th>
                    <td class="formValue">
                        <input readonly id="SupervisionPrincipal" type="text" class="txt" />
                    </td>
                    <th class="formTitle">
                        联系电话：
                    </th>
                    <td class="formValue">
                        <input readonly id="SupervisionPrincipalTEL" type="text" class="txt" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">总承包商：</th>
                    <td class="formValue">
                        <input readonly id="GeneralContractor" type="text" class="txt" />
                    </td>
                    <th class="formTitle">
                        负责人：
                    </th>
                    <td class="formValue">
                        <input readonly id="GeneralContractorPrincipal" type="text" class="txt" />
                    </td>
                    <th class="formTitle">
                        联系电话：
                    </th>
                    <td class="formValue">
                        <input readonly id="GeneralContractorPrincipalTEL" type="text" class="txt" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">专业承包商：</th>
                    <td class="formValue">
                        <input readonly id="ProfessionalContractor" type="text" class="txt" />
                    </td>
                    <th class="formTitle">
                        负责人：
                    </th>
                    <td class="formValue">
                        <input readonly id="ProfessionalContractorPrincipal" type="text" class="txt" />
                    </td>
                    <th class="formTitle">
                        联系电话：
                    </th>
                    <td class="formValue">
                        <input readonly id="ProfessionalContractorPrincipalTEL" type="text" class="txt" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">
                        工程概况：
                    </th>
                    <td class="formValue" colspan="5">
                        <textarea readonly id="Description" name="Description" maxlength="200" class="txtArea" rows="5"></textarea>
                    </td>
                </tr>
            </table>
        </div>
        <div id="div_projcet_logo" style="margin:10px;display:none">
            <div style="float:left;margin:5px;" class="showImg;"><img id="txImg" name="txImg" class="txImg" src="" height="300" width="400" /></div>
            <div class ="btnAvatar" style="float:left;margin-left:10px; margin-top:280px;"><input id="Avatar" name="Avatar" type="file" class="Avatar required" checkexpession="NotNull" /></div>
            @*<img id="project_logo" src="" style="width:400px;height:300px" />
            <input id="btn_ProjectLogo" type="button" onclick="LogoUpload()" value="上传" />*@
        </div>
        <div id="div_project_photo" style="margin:10px;display:none">
            <div style="float:left;margin:5px;" class="showImg;"><img id="txImg1" name="txImg" class="txImg" src="" height="300" width="400" /></div>
            <div class="btnAvatar" style="float:left;margin-left:10px; margin-top:280px;"><input id="Avatar1" name="Avatar" type="file" class="Avatar required" checkexpession="NotNull" /></div>
            @*<img id="project_background" style="width:400px;height:300px" />
            <input id="btn_ProjectBackground" type="button" onclick="BackgroundUpload()" value="上传" />*@

        </div>

    </div>
</div>
