@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = request('keyValue');
    var category = request('category');
    $(function () {
        initControl();
    });
    //初始化控件
    function initControl() {
        //工程
        $("#Category").ComboBoxTree({
            param: { Levels: 2 },
            url: "../../SteelMember/SubProject/GetTreeJson",
            description: "==请选择==",
            height: "150px",
            click: function (item) {
                //for (var i in item) {
                //    alert(i);
                //    alert(item[i]);
                //}
                if (!item.hasChildren) {
                    //$(".tip_container").remove();
                    //parameter.baseInfo.F_ObjectId = item.id;
                    //parameter.baseInfo.F_ObjectName = item.text;
                    //parameter.baseInfo.F_ObjectFormId = "";
                    //$("#gridTable").jqGrid('setGridParam', {
                    //    postData: { moduleId: item.id },
                    //    url: "../../AuthorizeManage/ModuleButton/GetTreeListJson"
                    //}).trigger('reloadGrid');
                }
                else {
                    dialogTop("请选择工程名称而不是工程分类", "error");
                    return "false";
                }
            }
        });
        //原材料类型
        $("#RawMaterialCategory").ComboBox({
            param: { EnCode: "RawMaterialType" },
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            description: "==请选择==",
            id: "ItemValue",
            text: "ItemName",
            height: "150px",
        }).bind("change", function () {
            var value = $(this).attr('data-value');
            //加载规格或型号
            $("#RawMaterialStandard").ComboBox({
                url: "../../SteelMember/RawMaterialAnalysis/RawMateriaType?type=" + value,
                description: "==请选择==",
                id: "RawMaterialModel",
                text: "RawMaterialModel",
            });
        });
        //规格或型号
        $("#RawMaterialStandard").ComboBox({
            description: "==请选择==",
            height: "200px",
        })
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../SteelMember/RawMaterialAnalysis/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").SetWebControls(data);
                    $("#RawMaterialCategory").trigger("change");
                    $("#RawMaterialStandard").ComboBoxSetValue(data.RawMaterialStandard);
                }
            })
        } else {
            $("#Category").ComboBoxTreeSetValue(category);
        }
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").GetWebControls(keyValue);
        $.SaveForm({
            url: "../../SteelMember/RawMaterialAnalysis/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
</script>
<div style="margin-top: 40px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">工程<font face="宋体">*</font></td>
            <td class="formValue">
                <div id="Category" type="selectTree" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
            </td>
            <td class="formTitle">原材料类型<font face="宋体">*</font></td>
            <td class="formValue">
                <div id="RawMaterialCategory" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
            </td>
        </tr>
        <tr>
            <td class="formTitle">规格或型号<font face="宋体">*</font></td>
            <td class="formValue">
                <div id="RawMaterialStandard" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
            </td>
            <th class="formTitle">数量<font face="宋体">*</font></th>
            <td class="formValue">
                <input id="RawMaterialDosage" type="text" class="form-control" placeholder="请输入数量" isvalid="yes" checkexpession="PositiveInteger" />
            </td>
        </tr>
        <tr>
            <th class="formTitle" valign="top" style="padding-top: 4px;">
                描述
            </th>
            <td class="formValue" colspan="3">
                <textarea id="Description" class="form-control" style="height: 70px;"></textarea>
            </td>
        </tr>
    </table>
</div>
