@model LeaRun.Application.Entity.SteelMember.ProduceEquipmentEntity

@{
    ViewBag.Title = "设备明细";
    Layout = "~/Views/Shared/_Index.cshtml";
}


<style>
    .img {
        width: 58%;
        height: auto;
        float: left
    }

    .info1 {
        width: 42%;
        height: auto;
        float: left
    }

    ._info {
        line-height: 30px;
        font-size: 12pt;
    }
</style>

<div>
    <div>
        <div class="img">
            <img width="350" height="300" src="@Model.Icon" />
        </div>
        <div class="info1">
            <div class="_info" style="margin-top:5px;">名称:&nbsp;@Model.Name</div>
            <div class="_info">编号:&nbsp;@Model.Code</div>
            <div class="_info">规格牌号/规格:&nbsp;@Model.StandardModel</div>
            <div class="_info">进场日期:&nbsp;@Html.DisplayFor(p => p.ApproachDate)</div>
            <div class="_info">操作员:&nbsp;@Model.Operator</div>
            <div class="_info">设备状态:&nbsp;@(Model.Status == 1 ? "正常" : "待维护")</div>
            <div class="_info">电气负责人:&nbsp;@Model.ElectricPrincipal</div>
            <div class="_info">机修负责人:&nbsp;@Model.ServicePrincipal</div>
            <div class="_info">最近维护时间:&nbsp;@Html.DisplayFor(p => p.MaintenanceDate)</div>
            <div class="_info">下次维护时间:&nbsp;@Html.DisplayFor(p => p.WarrantyDate)</div>
        </div>
    </div>
    <div style="clear:both"></div>
    <div class="_info img" style="margin-top:5px;">生产厂商:&nbsp;&nbsp;@Model.ProduceManufacturers</div>
    <div class="_info info1" style="margin-top:5px;">厂商电话:&nbsp;@Model.ManufacturersTel</div>
    <div style="clear:both"></div>
    <div style="float:left;line-height:25px;font-size:12pt">设备描述:&nbsp;</div><div style="width:560px;height:95px;float:right;line-height:25px;font-size:12pt">@Model.Description</div>
    <div>
    </div>
</div>
