@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<link href="~/Content/scripts/plugins/uploadify/uploadify.css" rel="stylesheet" />
<script src="~/Content/scripts/plugins/uploadify/jquery.uploadify.js"></script>
<script>
    var keyValue = request('keyValue');
    $(function () {
        initControl();
        UploadFile();
    });
    //初始化控件
    function initControl() {
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../SteelMember/ProduceEquipment/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                   var filename2 = data.Icon;
                    if (filename2 != "1.png") {
                        filename2 = filename2.substring(0, filename2.lastIndexOf('.'));//获取文件名称，去除后缀名
                        filename2 = "../../Resource/Document/NetworkDisk/System/Member/" + filename2 + "/" + data.Icon;
                        document.getElementById("_Icon").src = filename2;
                        document.getElementById("DelAvatar2").setAttribute("type", "button");
                        document.getElementById("DelAvatar2").value = "删除图片";
                    }
                    $("#form1").SetWebControls(data);
                }
            })
        }
    }

    function UploadFile() {
        $('#Avatar2').uploadify({
            uploader: '/SteelMember/MemberLibrary/SubmitUploadify',
            swf: '/Content/Scripts/plugins/uploadify/uploadify.swf',
            buttonText: "选择图片",
            height: 24,
            width: 70,
            fileTypeDesc: '支持格式:jpg/gif/jpeg/png/bmp.',
            fileTypeExts: '*.jpg;*.gif;*.jpeg;*.png;*.bmp',//允许的格式
            fileSizeLimit: '5MB',

            onFallback: function () {
                dialogMsg("您未安装FLASH控件，无法上传！请安装FLASH控件后再试", 0);
            },
            onUploadSuccess: function (file, data, response) {
                document.getElementById("Icon").value = data;
                document.getElementById("_Icon").src = data;
                document.getElementById("DelAvatar2").setAttribute("type", "button");
                document.getElementById("DelAvatar2").value = "删除图片";

            },
        });

    }

    function DelIcon() {
        document.getElementById("_Icon").src = "";
        document.getElementById("Icon").value = "";
        document.getElementById("DelAvatar2").setAttribute("type", "hidden");
    }


    //保存表单;
    function AcceptClick() {
        if (document.getElementById("Icon").value == "" || document.getElementById("Icon").value == null || document.getElementById("Icon").value == undefined) {
            dialogMsg("图片不能为空！", 0);
            return false;
        }

        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").GetWebControls(keyValue);
      
        $.SaveForm({
            url: "../../SteelMember/ProduceEquipment/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
</script>
<div style="margin: 20px;">
    <input id="Icon" type="hidden" />
    <table class="form">
        <tr>
            <td class="formTitle">设备名称<font face="宋体" color="red">*</font></td>
            <td class="formValue">
                <input id="Name" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
            <td class="formTitle">编号<font face="宋体" color="red">*</font></td>
            <td class="formValue">
                <input id="Code" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">规格型号<font face="宋体" color="red">*</font></td>
            <td class="formValue">
                <input id="StandardModel" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
            <td class="formTitle">操作员<font face="宋体" color="red">*</font></td>
            <td class="formValue">
                <input id="Operator" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">机修负责人</td>
            <td class="formValue">
                <input id="ServicePrincipal" type="text" class="form-control" />
            </td>
            <td class="formTitle">电气负责人</td>
            <td class="formValue">
                <input id="ElectricPrincipal" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">生产厂商<font face="宋体" color="red">*</font></td>
            <td class="formValue">
                <input id="ProduceManufacturers" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
            <td class="formTitle">厂商电话<font face="宋体" color="red">*</font></td>
            <td class="formValue">
                <input id="ManufacturersTel" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">运行状态<font face="宋体" color="red">*</font></td>
            <td class="formValue">
                @*<input id="Status" type="text" class="form-control" list="itemlist" isvalid="yes" checkexpession="NotNull" />
                    <datalist id="itemlist">
                        <option value="1">正常</option>
                        <option value="0">需保养</option>
                        <option value="2">故障</option>
                    </datalist>*@

                <select id="Status" datacol="yes" err="运行状态" class="form-control" checkexpession="NotNull">
                    <option value="1">正常</option>
                    <option value="0">需保养</option>
                    <option value="2">维护中</option>
                    <option value="3">故障</option>
                </select>
            </td>
            <td class="formTitle">进场时间<font face="宋体" color="red">*</font></td>
            <td class="formValue">
                <input id="ApproachDate" type="text" class="form-control input-datepicker" isvalid="yes" checkexpession="NotNull" placeholder="选择进场时间" onfocus="WdatePicker()" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">最新保养时间</td>
            <td class="formValue">
                <input id="MaintenanceDate" type="text" class="form-control input-datepicker" isvalid="yes" checkexpession="NotNull" placeholder="选择最近一次保养时间" onfocus="WdatePicker()" />
            </td>
            <td class="formTitle">保修至<font face="宋体" color="red">*</font></td>
            <td class="formValue">
                <input id="WarrantyDate" type="text" class="form-control input-datepicker" isvalid="yes" checkexpession="NotNull" placeholder="选择保修时间" onfocus="WdatePicker()" />
            </td>
        </tr>
        <tr>
           
            <td class="formTitle">
                图片<font face="宋体" color="red">*</font>
            </td>
            <td class="formValue">
                <div style="float:left;margin:5px;" class="showImg;"><img id="_Icon" name="txImg" class="txImg" src="" height="100" widtd="100" /></div>
                <div class="btnAvatar" style="float:left;margin-left:5px;margin-top:10px">
                    <input id="DelAvatar2" onclick="DelIcon()" class="uploadify-button " type="hidden" style="height: 24px; margin-left:20px" />
                    <input id="Avatar2" name="Avatar" type="file" class="Avatar required" />
                </div>
            </td>
            <td class="formTitle">备注</td>
            <td class="formValue" >
                <textarea id="Description" class="form-control"></textarea>
            </td>
        </tr>
      
    </table>
</div>
<style>
    #Description {
        height: 80px;
    }

    .form .formTitle {
        width: 70px;
    }

    .uploadify-queue {
        display: none;
    }
</style>
