@{;
    ViewBag.Title = "列表页面";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    ;
    $(function () {
        InitialPage();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 146.5);
            }, 200);
            e.stopPropagation();
        });
    }
    //鼠标移动放大图片
    function showBigImg(oEvent, imgPath) {
        bigImg.src = imgPath;
        var oDiv = document.getElementById("BigDiv");
        oDiv.style.visibility = "visible";
        oDiv.style.left = oEvent.clientX + 5;
        oDiv.style.top = oEvent.clientY + 5;
    }
    function leaveBigImg(oEvent) {
        var oDiv = document.getElementById("BigDiv");
        oDiv.style.visibility = "hidden";
    }//鼠标移动放大图片end
    //加载表格
    var subgrid_table_id;
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 146.5,
            url: "../../SteelMember/ProduceEquipment/GetPageListJson",
            datatype: "json",
            colModel: [
                { label: 'Id', name: 'Id', index: 'Id', hidden: true },
                {
                    label: '图片', name: 'Icon', index: 'Icon', width: 80, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var Icon = cellvalue;
                        if (Icon != "" || Icon != null) {
                            var filename = Icon.substring(0, Icon.lastIndexOf('.'));//获取文件名称，去除后缀名
                            filename = filename + "/" + Icon;
                            if (Icon == "1.png") {
                                return "<img style='width:44px;height:32px;' src='../../Resource/Document/NetworkDisk/System/Member/1/1.png'onmouseover=\"showBigImg(event,'../../Resource/Document/NetworkDisk/System/Member/1/1.png')\"onmouseout=\"leaveBigImg(event)\"/>";
                            } else {
                                return "<img style='width:44px;height:32px;' src='../../Resource/Document/NetworkDisk/System/Member/" + filename + "' onmouseover=\"showBigImg(event,'../../Resource/Document/NetworkDisk/System/Member/" + filename + "')\" onmouseout=\"leaveBigImg(event)\" />";
                            }
                        } else {
                            return "";
                        }
                    }
                },
                { label: '设备名称', name: 'Name', index: 'Name', width: 300, align: 'center', sortable: true },
                { label: '编号', name: 'Code', index: 'Code', width: 300, align: 'center', sortable: true },
                { label: '规格牌号/规格', name: 'StandardModel', index: 'StandardModel', width: 150, align: 'center', sortable: true },
                {
                    label: '设备状态', name: 'Status', index: 'Status', width: 100, align: 'center', sortable: true,
                    formatter: function (cellvalue, value, row, index) {
                        if (cellvalue == 0) {
                            return "<span class=\"label label-info\">需维护</span>";
                        } else if (cellvalue == 1) {
                            return "<span class=\"label label-success\">正常</span>";
                        } else if (cellvalue == 2) {
                            return "<span class=\"label label-warning\">维护中</span>";
                        } else if (cellvalue == 3) {
                            return "<span class=\"label label-danger\">故障</span>";
                        }
                    }
                },
                {
                    label: '进场时间', name: 'ApproachDate', index: 'ApproachDate', width: 150, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd');
                    }
                }
            ],
            viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100],
            pager: "#gridPager",
            sortname: 'ApproachDate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            multiselect: true,
            multiboxonly: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            },
        });
        //查询条件
        $("#queryCondition .dropdown-menu li").click(function () {
            var text = $(this).find('a').html();
            var value = $(this).find('a').attr('data-value');
            $("#queryCondition .dropdown-text").html(text).attr('data-value', value)
        });
        //查询事件
        $("#btn_Search").click(function () {
            var queryJson = {
                condition: $("#queryCondition").find('.dropdown-text').attr('data-value'),
                keyword: $("#txt_Keyword").val()
            }
            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) },
                page: 1
            }).trigger('reloadGrid');
        });
        //查询回车
        $('#txt_Keyword').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                $('#btn_Search').trigger("click");
            }
        });
    }
    //新增
    function btn_add() {
        dialogOpen({
            id: 'Form',
            title: '添加生产设备',
            url: '/SteelMember/ProduceEquipment/Form',
            width: '660px',
            height: '510px',
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    }
    //编辑
    function btn_edit() {
        var keyValue = $('#gridTable').jqGridRowValue('Id');
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'Form',
                title: '编辑生产设备',
                url: '/SteelMember/ProduceEquipment/Form?keyValue=' + keyValue,
                width: '660px',
                height: '510px',
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            })
        }
    }
    //明细
    function btn_detail() {
        var keyValue = $('#gridTable').jqGridRowValue('Id');
        var name = $('#gridTable').jqGridRowValue('Name');
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'Form',
                title: '设备明细――'+name,
                url: '/SteelMember/ProduceEquipment/EquipmentDeail?keyValue=' + keyValue,
                width: '660px',
                height: '510px',
                btn: null
            })
        }
    }
    //删除
    function btn_delete() {
        var keyValue = $('#gridTable').jqGridRowValue('Id');
        if (checkedArray(keyValue)) {
            $.RemoveForm({
                url: '../../SteelMember/ProduceEquipment/RemoveForm',
                param: { keyValue: keyValue },
                success: function (data) {
                    $('#gridTable').trigger('reloadGrid');
                }
            })
        }
    }
    //报修
    function btn_Warranty() {
        var Id = $('#gridTable').jqGridRowValue('Id');
        var Status = $('#gridTable').jqGridRowValue('Status');
        if (checkedArray(Id)) {
            var StatusArr = Status.split(",");
            if (StatusArr.length > 0) {
                for (var i in StatusArr) {
                    if (StatusArr[i] == "<span class=\"label label-danger\">故障</span>") {
                        dialogMsg("所选数据包含已报修数据！", 0);
                        return false;
                        //break;
                    }
                }
                $.SaveForm({
                    url: "../../SteelMember/ProduceEquipment/Warranty?keyValue=" + Id,
                    param: {},
                    loading: "正在保存数据...",
                    success: function () {
                        $.currentIframe().$("#gridTable").trigger("reloadGrid");
                    }
                })
            }
        }
    }
    //维护确认
    function btn_MaintenanceReport() {
        var Id = $('#gridTable').jqGridRowValue('Id');
        var Status = $('#gridTable').jqGridRowValue('Status');
        if (checkedRow(Id)) {
            if (Status == "<span class=\"label label-success\">正常</span>") {
                dialogMsg("当前设备不需要维护！", 0);
                return false;
            } else {
                dialogOpen({
                    id: 'Form',
                    title: '维护确认',
                    url: "/SteelMember/ProduceEquipment/MaintenanceRecordsForm?t=1&Id=" + Id ,
                    width: '480px',
                    height: '330px',
                    callBack: function (iframeId) {
                        top.frames[iframeId].AcceptClick();
                    }
                });
            }
        }
    }
    //维护记录
    function btn_MaintenanceRecording() {
        var Id = $('#gridTable').jqGridRowValue('Id');
        if (checkedRow(Id)) {
            dialogOpen({
                id: 'Index',
                title: '维护记录',
                url: '/SteelMember/ProduceEquipment/MaintenanceRecordsIndex?Id=' + Id,
                width: '960px',
                height: '660px',
                btn: null
            });
        }
    }
</script>
<div class="titlePanel">
    <div class="title-search">
        <table>
            <tr>
                <td>
                    <div id="queryCondition" class="btn-group">
                        <a class="btn btn-default dropdown-text" data-toggle="dropdown">选择条件</a>
                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a data-value="Name">设备名称</a></li>
                            <li><a data-value="Code">编号</a></li>
                            <li><a data-value="StandardModel">规格牌号/规格</a></li>
                        </ul>
                    </div>
                </td>
                <td>
                    <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 120px;" />
                </td>
                <td style="padding-left: 5px;">
                    <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>查询</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="toolbar">
        <div class="btn-group">
            <a id="lr-replace" class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
            <a id="lr-add" class="btn btn-default" onclick="btn_add()"><i class="fa fa-plus"></i>&nbsp;新增</a>
            <a id="lr-edit" class="btn btn-default" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑</a>
            <a id="lr-equipmentInfo" class="btn btn-default" onclick="btn_detail()"><i class="fa fa-reorder"></i>&nbsp;明细</a>
            <a id="lr-delete" class="btn btn-default" onclick="btn_delete()"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
        </div>
        <div class="btn-group">
            <a id="lr-Warranty" class="btn btn-default" onclick="btn_Warranty()"><i class="fa fa-pencil-square-o"></i>&nbsp;报修</a>
            <a id="lr-MaintenanceReport" class="btn btn-default" onclick="btn_MaintenanceReport()"><i class="fa fa-pencil-square-o"></i>&nbsp;维护确认</a>
            <a id="lr-Maintenancerecording" class="btn btn-default" onclick="btn_MaintenanceRecording()"><i class="fa fa-pencil-square-o"></i>&nbsp;维护记录</a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
</div>
<div id="BigDiv" style="margin-left:50px;margin-top:160px; width:360px;height:360px; position: absolute; visibility: hidden; padding: 5px;z-index:999">
    <img id="bigImg" src="" style="width:100%;height:100%" />
</div>
<div class="gridPanel">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
