@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var Id = request('Id');
    var type = request('type');
    //DocumentEvent.getElementById("Id").value = Id;
    $(function () {
        initControl();
    });
    //初始化控件
    function initControl() {
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../SteelMember/EquipmentMaintenanceRecords/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").SetWebControls(data);
                }
            })
        }
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").GetWebControls(keyValue);
        var date = $("#warrantyDate").val();
        postData["Id"] = Id;
        $.SaveForm({
            url: "../../SteelMember/EquipmentMaintenanceRecords/SaveForm?keyValue=" + "" + "& warrantyDate=" + date & 'type=' + type,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
</script>
<div style="margin:15px;">
    <table class="form">
        <tr>
            <td class="formTitle">故障：<font face="宋体" color="red">*</font></td>
            <td class="formValue">
                <input id="MaintenanceContent" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>

        </tr>
        <tr>
            <td class="formTitle">故障说明：<font face="宋体" color="red">*</font></td>
            <td class="formValue">
                <textarea id="MalfunctionReason" class="form-control" isvalid="yes" checkexpession="NotNull"></textarea>
            </td>
        </tr>
        @*<tr>
                <td class="formTitle">解决方案：<font face="宋体" color="red">*</font></td>
                <td class="formValue">
                    <input id="SolveMethod" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
                </td>

            </tr>*@
        <tr>
            <td class="formTitle">是否决解：<font face="宋体" color="red">*</font></td>
            <td class="formValue">
                <div class="checkbox">
                    <label>
                        <input id="IsSolve" type="checkbox" checked="checked" />
                        是
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td class="formTitle">下次维护时间：<font face="宋体" color="red">*</font></td>
            <td class="formValue">
                <input id="warrantyDate" type="text" class="form-control input-datepicker" isvalid="yes" checkexpession="NotNull" placeholder="选择维护时间" onfocus="WdatePicker()" />
            </td>
        </tr>
        @*<tr>
                <td class="formTitle">备注：</td>
                <td class="formValue">
                    <input id="Description" type="text" class="form-control"  />
                </td>
            </tr>*@

    </table>
</div>
<style>
    #MalfunctionReason {
        height: 100px;
    }

    .form .formTitle {
        width: 90px;
    }
</style>
