@{
    ViewBag.Title = "abc";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<meta name="viewport" content="width=device-width" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link href="~/Content/multipleFile/imgUploadCss.css" rel="stylesheet" />
<script src="~/Content/multipleFile/ajaxfileupload.js"></script>
<script src="~/Content/multipleFile/imgFileUpload.js"></script>


<div class="right houseImgUpload">
    <i class="button">点击上传图片</i><i class="prompt">（单个文件大小不能超过200KB）</i>
    <input class="file-input" type="file" name="file" multiple="true" accept="image/*" onchange="imgFileUpload.fileUploadChange(this);" />
    <div class="imgShow">

    </div>

</div>



<script>
    $(document).ready(function () {
        imgFileUpload.init([$(".houseImgUpload")], "file", "/SystemConfiguration/ImgUpload");

    });
    
</script>