@{
    ViewBag.Title = "项目信息管理";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<meta name="viewport" content="width=device-width" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="~/Content/multipleFile/imgUploadCss.css" rel="stylesheet" />
<link href="~/Content/scripts/plugins/uploadify/uploadify.css" rel="stylesheet" />
<script src="~/Content/scripts/plugins/uploadify/jquery.uploadify.js"></script>

<script src="~/Content/scripts/plugins/uploadify/ajaxfileupload.js"></script>
<script src="~/Content/multipleFile/imgFileUpload.js"></script>


<script>
    var data_id = "";
    $(function () {
        GetGrid();
        UploadFile();
        //imgFileUpload.init([$(".houseImgUpload")], "file", "/SystemConfiguration/ImgUpload");

    });
    //上传系统Logo
    function initControl() {
        var f = document.getElementById('uploadFile').files[0];
        if (!/image\/\w+/.test(f.type)) {
            var txt = "<span>请选择格式为:'gif,jpg,jpeg,png,bmp'的图片!</span>";
            $("#checkimg").append(txt);
            document.getElementById('checkimg').style.display = "block";
            //alert('上传的不是图片');
            return false;
        }
        document.getElementById('checkimg').style.display = "none";

        //上传应用图标
        $.ajaxFileUpload({
            url: "/SystemConfiguration/UploadFile",
            secureuri: false,
            fileElementId: 'uploadFile',
            dataType: 'text',
            //data:{"file":f},
            success: function (data) {
                $("#checkimg").children("span").remove();
                if (data == "1") {
                    var txt = "<span>未选择要上传的图片!</span>";
                    $("#checkimg").append(txt);
                    document.getElementById('checkimg').style.display = "block";
                } else if (data == "2") {
                    var txt = "<span>图片大小不能超出200KB!</span>";
                    $("#checkimg").append(txt);
                    document.getElementById('checkimg').style.display = "block";
                } else {
                    document.getElementById('uploadPreview').src = data;
                    document.getElementById('SystemLogo').value = data;

                    $("#uploadFile").remove();
                    var input = " <input type=\"file\" id=\"uploadFile\" name=\"uploadFile\" onchange=\"initControl()\" accept=\"image/*\"/>";
                    $("#myupload").append(input);
                }

            }
        });
    }
    //加载数据
    function GetGrid() {
        $.ajax({
            url: "/SteelMember/SystemConfiguration/GetFormJson",
            type: "get",
            //data: { KeyValue: SystemConfigurationgId },
            dataType: "json",
            async: false,
            success: function (data) {
                if (data != null) {
                    $("#form1").SetWebControls(data);
                    data_id = data.SystemConfigurationId;
                    //document.getElementById("SystemConfigurationId").value = data_id;
                    if (data.SystemLogo != null && data.SystemLogo != "") {
                        document.getElementById("uploadPreview").src = data.SystemLogo;
                    }
                    if (data.EngineeringImg != null && data.EngineeringImg != "") {
                        var imgs = data.EngineeringImg.split(",");
                        for (var j = 0; j < imgs.length; j++) {
                            //images.push(imgs[j]);
                            $("#engineering_img").prepend("<li style='width:120px;height:150px;float:left;margin-right:5px;'><img class='txImg' src='" + imgs[j] + "' id='" + imgs[j] + "'/> <input onclick='Delimg(this)' type='button' class='uploadify-button' style='margin-left:33px;margin-top:5px' value='删除图片' /></li>");
                        }
                    }
                }
            },
        });
    }
    //工程名称自动赋值
    function fullProjectName(name) {
        $("#EngineeringName").val(name);
    }
    //上传工程图片
    function UploadFile() {
        $('#Avatar').uploadify({
            uploader: '/SystemConfiguration/ImgUpload',
            swf: '/Content/Scripts/plugins/uploadify/uploadify.swf',
            buttonText: "选择图片",
            height: 25,
            width: 70,
            //fileTypeDesc: '支持格式:jpg/gif/jpeg/png/bmp.',
            //fileTypeExts: '*.jpg;*.gif;*.jpeg;*.png;*.bmp',//允许的格式
            fileSizeLimit: '100MB',
            queueID: 'fileQueue',                        //队列的ID
            queueSizeLimit: 1,                          //队列最多可上传文件数量，默认为999
            multi: false,
            onFallback: function () {
                dialogMsg("您未安装FLASH控件，无法上传！请安装FLASH控件后再试", 0);
            },
            onUploadSuccess: function (file, data, response) {
                $("#errorimg").children("span").remove();
                if (data == "1") {
                    var txt = "<span>图片大小不能超出200KB!</span>";
                    $("#errorimg").append(txt);
                    document.getElementById('errorimg').style.display = "block";
                }
                else if (data == "2") {
                    var txt = "<span>请选择格式为:'gif,jpg,jpeg,png,bmp'的图片!</span>";
                    $("#errorimg").append(txt);
                    document.getElementById('errorimg').style.display = "block";
                }
                else if (data == "3") {
                    var txt = "<span>添加图片失败!</span>";
                    $("#errorimg").append(txt);
                    document.getElementById('errorimg').style.display = "block";
                }
                else {
                    $("#engineering_img").prepend("<li style='width:120px;height:150px;float:left;margin-right:5px;'><img class='txImg' src='" + data + "' id='" + data + "'/> <input onclick='Delimg(this)' type='button' class='uploadify-button' style='margin-left:33px;margin-top:5px' value='删除图片' /></li>");
                }
            }
        });
    }
    //删除工程图片
    function Delimg($i) {
        $($i).parent().remove();
    }
    //保存
    function btn_save() {
        if ($("#SystemLogo").val() == "") {
            var txt = "<span>系统Logo不能为空!</span>";
            $("#checkimg").append(txt);
            document.getElementById('checkimg').style.display = "block";
            return false;
        }
        if (!$('#form1').Validform()) {
            return false;
        }
        var images = "";
        var imgs = document.getElementById("CAD").getElementsByTagName("img");
        for (var j = 0; j < imgs.length; j++) {
            images += imgs[j].id + ',';
        }
        var postData = $("#form1").GetWebControls("");
        postData["SystemConfigurationId"] = data_id;
        postData["EngineeringImg"] = images;
        $.SaveForm({
            url: "/SteelMember/SystemConfiguration/SaveForm",
            param: postData,
            loading: "正在保存数据...",
            success: function (data) {
                btn_reset();
                GetGrid();
            }
        })
    }
    //重置
    function btn_reset() {
        $('#form1')[0].reset();
        $("#SystemLogo").val("");
        document.getElementById("uploadPreview").src = "/Content/images/logo-headere47d5.png";

        $("#engineering_img").children("li").remove();
        $("#engineering_img").append("<li class='btnAvatar' style='float:left;margin-left:5px; margin-top:50px'><input id='Avatar' name='Avatar' type='file' class='Avatar required' accept='image/*' /><div id='errorimg' style='display:none;color:red;padding-top:50px;'></div></li >");
        UploadFile();
    }
</script>
<style>
    .file {
        position: relative;
        display: inline-block;
        overflow: hidden;
        text-decoration: none;
        text-indent: 0;
        cursor: pointer !important;
    }

        .file input {
            position: absolute;
            font-size: 100px;
            right: 0;
            top: 0;
            opacity: 0;
            cursor: pointer !important;
        }

        .file:hover {
            text-decoration: none;
            cursor: pointer !important;
        }

    .uploadify-queue {
        display: none;
    }

    .ui-layout {
        padding-left: 10px;
    }

    #table_project {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #sysinfo, #participatingInfo, #engineeringInfo {
        padding-left: 15%;
        border: 1px solid #cccccc;
        margin: 5px;
        padding-bottom: 10px;
    }

    .txImg {
        float: left;
        padding-left: 2px;
        width: 120px;
        height: 100px;
        border-radius: 10px;
    }
    h2{
        font-size:14pt;
    }
</style>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%">
    <div class="ui-layout-center">
        <div class="center-Panel">
            <div class="gridPanel">
                <form id="form1">
                    <div id="table_project">
                        <h2 style="margin-left:5px;color:#666">系统信息</h2>
                        <div id="sysinfo">
                            <input id="SystemLogo" type="hidden" />

                            <div style="height:150px;width:50%;margin-top:10px;float:left">
                                <div style="margin-right:10px;line-height:150px;float:left;font-size:14px;font-weight:600;">系统Logo:&nbsp;<font face="宋体" color="red">*</font>&nbsp;</div>
                                <div class="file" id="myupload" style="width: 120px; height: 120px;float:left;margin-left:100px;">
                                    <img id="uploadPreview" style="width: 120px; height: 120px; border-radius: 120px;" src="~/Content/images/logo-headere47d5.png" />
                                    <input type="file" name="uploadFile" id="uploadFile" onchange="initControl()" accept="image/*" />
                                </div>
                                <div id="checkimg" style="display:none;color:red;padding-top:100px;"></div>
                            </div>
                            <div style="height:150px;width:50%;margin-top:5px;float:right">
                                <div style="margin-right:10px;float:left;line-height:150px;font-size:14px;font-weight:600;height:30px;">系统名称:&nbsp;<font face="宋体" color="red">*</font>&nbsp;</div>
                                <div style="width:40%;float:left;line-height:150px;height:100%;margin-top:61px;"><input id="SystemName" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" onblur="fullProjectName(this.value)" /></div>
                                <div style="float:left;line-height:150px;margin-left:5px;height:30px;float:left">钢构件生产管理系统</div>
                            </div>
                            <div style="clear:both"></div>
                        </div>

                        <h2 style="margin-left:5px;margin-top:10px;color:#666">参建单位信息</h2>
                        <div id="participatingInfo">
                            <div style="height:30px;width:50%;margin-top:10px;float:left">
                                <div style="margin-right:10px;line-height:30px;float:left;font-size:14px;font-weight:600;">建设单位:&nbsp;<font face="宋体" color="red">*</font>&nbsp;</div>
                                <div style="width:70%;float:left;line-height:30px;height:100%;"><input id="ConstructUnit" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" /></div>
                            </div>
                            <div style="height:30px;width:50%;margin-top:10px;float:right">
                                <div style="margin-right:10px;float:left;line-height:30px;font-size:14px;font-weight:600;height:30px;">项目负责人:&nbsp;<font face="宋体" color="red">*</font>&nbsp;</div>
                                <div style="width:58%;float:left;line-height:30px;height:100%;"><input id="Cu_principal" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" /></div>
                            </div>
                            <div style="clear:both"></div>

                            <div style="height:30px;width:50%;margin-top:10px;float:left">
                                <div style="margin-right:10px;line-height:30px;float:left;font-size:14px;font-weight:600;">勘察单位:&nbsp;<font face="宋体" color="red">*</font>&nbsp;</div>
                                <div style="width:70%;float:left;line-height:30px;height:100%;"><input id="InvestigationUnit" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" /></div>
                            </div>
                            <div style="height:30px;width:50%;margin-top:10px;float:right">
                                <div style="margin-right:10px;float:left;line-height:30px;font-size:14px;font-weight:600;height:30px;">项目负责人:&nbsp;<font face="宋体" color="red">*</font>&nbsp;</div>
                                <div style="width:58%;float:left;line-height:30px;height:100%;"><input id="Iu_principal" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" /></div>
                            </div>
                            <div style="clear:both"></div>

                            <div style="height:30px;width:50%;margin-top:10px;float:left">
                                <div style="margin-right:10px;line-height:30px;float:left;font-size:14px;font-weight:600;">设计单位:&nbsp;<font face="宋体" color="red">*</font>&nbsp;</div>
                                <div style="width:70%;float:left;line-height:30px;height:100%;"><input id="DesignUnit" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" /></div>
                            </div>
                            <div style="height:30px;width:50%;margin-top:10px;float:right">
                                <div style="margin-right:10px;float:left;line-height:30px;font-size:14px;font-weight:600;height:30px;">项目负责人:&nbsp;<font face="宋体" color="red">*</font>&nbsp;</div>
                                <div style="width:58%;float:left;line-height:30px;height:100%;"><input id="Du_principal" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" /></div>
                            </div>
                            <div style="clear:both"></div>

                            <div style="height:30px;width:50%;margin-top:10px;float:left">
                                <div style="margin-right:10px;line-height:30px;float:left;font-size:14px;font-weight:600;">施工单位:&nbsp;<font face="宋体" color="red">*</font>&nbsp;</div>
                                <div style="width:70%;float:left;line-height:30px;height:100%;"><input id="ConstructionUnit" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" /></div>
                            </div>
                            <div style="height:30px;width:50%;margin-top:10px;float:right">
                                <div style="margin-right:10px;float:left;line-height:30px;font-size:14px;font-weight:600;height:30px;">项目负责人:&nbsp;<font face="宋体" color="red">*</font>&nbsp;</div>
                                <div style="width:58%;float:left;line-height:30px;height:100%;"><input id="Ctu_principal" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" /></div>
                            </div>
                            <div style="clear:both"></div>

                            <div style="height:30px;width:50%;margin-top:10px;float:left">
                                <div style="margin-right:10px;line-height:30px;float:left;font-size:14px;font-weight:600;">监理单位:&nbsp;<font face="宋体" color="red">*</font>&nbsp;</div>
                                <div style="width:70%;float:left;line-height:30px;height:100%;"><input id="SupervisionUnit" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" /></div>
                            </div>
                            <div style="height:30px;width:50%;margin-top:10px;float:right">
                                <div style="margin-right:10px;float:left;line-height:30px;font-size:14px;font-weight:600;height:30px;">项目负责人:&nbsp;<font face="宋体" color="red">*</font>&nbsp;</div>
                                <div style="width:58%;float:left;line-height:30px;height:100%;"><input id="Su_principal" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" /></div>
                            </div>
                            <div style="clear:both"></div>
                        </div>

                        <h2 style="margin-left:5px;margin-top:10px;color:#666">工程信息</h2>
                        <div id="engineeringInfo">
                            <div style="margin-right:10px;float:left;line-height:30px;font-size:14px;font-weight:600;height:30px;margin-top:10px;">工程名称:&nbsp;<font face="宋体" color="red">*</font>&nbsp;</div>
                            <div style="width:80%;float:left;line-height:30px;height:100%;margin-top:10px;"><input id="EngineeringName" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" /></div>
                            <div style="clear:both"></div>

                            <div style="height:30px;width:50%;margin-top:10px;float:left">
                                <div style="margin-right:10px;line-height:30px;float:left;font-size:14px;font-weight:600;">开工日期:&nbsp;<font face="宋体" color="red">*</font>&nbsp;</div>
                                <div style="width:70%;float:left;line-height:30px;height:100%;"><input id="StartDate" type="text" class="form-control input-wdatepicker" isvalid="yes" checkexpession="NotNull" onfocus="WdatePicker()" /></div>
                            </div>
                            <div style="height:30px;width:50%;margin-top:10px;float:right">
                                <div style="margin-right:10px;float:left;line-height:30px;font-size:14px;font-weight:600;height:30px;">预计工期:&nbsp;<font face="宋体" color="red">*</font>&nbsp;</div>
                                <div style="width:60%;float:left;line-height:30px;height:100%;"><input id="ExpectedDuration" type="text" class="form-control input-wdatepicker" isvalid="yes" checkexpession="NotNull" onfocus="WdatePicker()" /></div>
                            </div>
                            <div style="clear:both"></div>

                            <div style="height:auto;width:100%;margin-top:10px;float:left">
                                <div style="margin-right:10px;line-height:150px;float:left;font-size:14px;font-weight:600;">工程图片:</div>
                                <div id="CAD" style="float:left;height:auto;word-break:break-all;width:80%;border:1px solid #cccccc;min-height:150px;padding-top:10px;padding-left:5px;margin-left:15px;" class="showImg;">
                                    <ul id="engineering_img">
                                        <li class="btnAvatar" style="float:left;margin-left:5px;margin-top:50px">
                                            <input id="Avatar" name="Avatar" type="file" class="Avatar required" accept="image/*" />
                                            <div id="errorimg" style="display:none;color:red;padding-top:50px;"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div style="clear:both"></div>

                            <div style="margin-right:10px;height:200px;width:100%;margin-top:10px;">
                                <div style="float:left;line-height:200px;font-size:14px;font-weight:600;height:30px;">工程概况:</div>
                                <textarea id="EngineeringOverview" class="form-control" style="width:80%;float:left;height:100%;margin-left:25px;"></textarea>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="titlePanel" style="margin-top:-25px;float:right;margin-right:5px;">
                <div id="div_tools_bar" class="toolbar">
                    <div class="btn-group">
                        <a id="lr-edit" class="btn btn-default" onclick="btn_save()"><i class="fa fa-pencil-square-o"></i>&nbsp;保存</a>
                        <a id="lr-delete" class="btn btn-default" onclick="btn_reset()"><i class="fa fa-trash-o"></i>&nbsp;重置</a>
                    </div>
                    <script>$('.toolbar').authorizeButton()</script>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
</div>

