@{;
    ViewBag.Title = "列表页面";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script>
;
    $(function () {
        InitialPage();
        GetTree();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {
        //layout布局
        $('#layout').layout({
            applyDemoStyles: true,
            onresize: function () {
                $(window).resize()
            }
        });
        //resize重设(表格、树形)宽高
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $("#gridTable").setGridHeight($(window).height() - 170);
                $("#itemTree").setTreeHeight($(window).height() - 52);
            }, 200);
            e.stopPropagation();
        });
    }
    //加载树
    var _CategoryFather;
    var _HavesChildren
    var _Category;

    function GetTree() {
        var item = {
            height: $(window).height() - 52,
            param: { EnCode: "RawMaterialType" },
            url: "../../SystemManage/DataItemDetail/GetDataItemTreeJson",
            onnodeclick: function (item) {

                _Category = item.id;
                //_Category = item.value;
                //_CategoryFather = item.id;
                //var ff = item.id;
                
                //alert(ff);
                //alert(_Category);


                //_HavesChildren = item.hasChildren;
                ////alert(HavesChildren);
                $('#btn_Search').trigger("click");
            }
        };
        //初始化
        $("#itemTree").treeview(item);
    }
    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $grid = $('#gridTable');
        $grid.jqGrid({
            autowidth: true,
            height: $(window).height() - 170,
            url: "../../SteelMember/RawMaterialLibrary/GetPageListJson",
            datatype: "json",
            colModel: [
                { label: "主键", name: "RawMaterialId", index: "RawMaterialId", hidden: true },
                { label: "类型", name: "Category", index: "Category", width: 150, align: "center" },
                { label: "材料名称", name: "RawMaterialName", index: "RawMaterialName", width: 150, align: "center" },
                { label: "规格或型号", name: "RawMaterialModel", index: "RawMaterialModel", width: 150, align: "left" },
                { label: "单位", name: "Unit", index: "Unit", width: 350, align: "left" },
                { label: "描述", name: "Description", index: "Description", width: 100, align: "left" }
            ],
            viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100],
            pager: "#gridPager",
            sortname: 'RawMaterialModel',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $("#" + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $("#" + this.id).setSelection(selectedRowIndex, false);
            }
        });
        //查询事件
        $("#btn_Search").click(function () {
            var queryJson = {
                Category: _Category,
                HavesChildren: _HavesChildren,
                CategoryFather: _CategoryFather,
                //RawMaterialModel: $("#txt_Keyword").val()
                RawMaterialName: $("#txt_Keyword").val()
            }
            $grid.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) },
            }).trigger('reloadGrid');
        });
    }
    //新增
    function btn_add() {
        dialogOpen({
            id: 'Form',
            title: '添加原材料管理',
            url: '/SteelMember/RawMaterialLibrary/Form?category=' + escape(_Category),
            width: '600px', 
            height: '400px',
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    }
    //编辑
    function btn_edit() {
        var keyValue = $('#gridTable').jqGridRowValue('RawMaterialId');
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'Form',
                title: '编辑原材料管理',
                url: '/SteelMember/RawMaterialLibrary/Form?keyValue=' + keyValue,
                width: '600px',
                height: '400px',
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            })
        }
    }
    //删除
    function btn_delete() {
        var keyValue = $('#gridTable').jqGridRowValue('RawMaterialId');
        if (keyValue) {
            $.RemoveForm({
                url: '../../SteelMember/RawMaterialLibrary/RemoveForm',
                param: { keyValue: keyValue },
                success: function (data) {
                    $('#gridTable').trigger('reloadGrid');
                }
            })
        } else {
            dialogMsg('请选择需要删除的原材料管理！', 0);
        }
    }
    //文件导入
    function btn_import() {
       // if (_Category != null || _Category != undefined || _Category!="") {  url: '/SteelMember/MemberLibrary/ImportFile?KeyValue=' + _Category,
        //if (!!_Category) {
            dialogOpen({
                    id: "ImportFile",
                    title: '导入功能',
                    url: '/SteelMember/RawMaterialLibrary/ImportFile?KeyValue=' + _Category,
                    width: "400px",
                    height: "300px",
                    callBack: function (iframeId) {
                        top.frames[iframeId].AcceptClick();
                    },
                    btn: null
                });
        //} else {
        //    dialogMsg('请选择原材料类型！', 0);
        //}
    }
    //文件导出
    var JsonData1 = ""; var TableObject = "";
    function btn_derive() {
        SetDeriveExcel("#gridTable", "原材料信息浏览表", "云南公投澄川高速", JsonData1, TableObject.toString());
        dialogOpen({
            id: "DeriveFile",
            title: '原材料导出',
            url: '/Utility/DeriveFile',
            width: "700px",
            height: "435px",
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            },
            // btn: null
        });
       
    }
</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west">
        <div class="west-Panel">
            <div class="panel-Title">原材料类型</div>
            <div id="itemTree"></div>
        </div>
    </div>
    <div class="ui-layout-center">
        <div class="center-Panel">
            <div class="panel-Title">原材料信息</div>
            <div class="titlePanel">
                <div class="title-search">
                    <table>
                        <tr>
                            <td>
                                <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
                            </td>
                            <td style="padding-left: 5px;">
                                <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="toolbar">
                    <div class="btn-group">
                        <a id="lr-replace" class="btn btn-default" onclick="reload();"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                        <a id="lr-add" class="btn btn-default" onclick="btn_add()"><i class="fa fa-plus"></i>&nbsp;新增</a>
                        <a id="lr-edit" class="btn btn-default" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑</a>
                        <a id="lr-edit" class="btn btn-default" onclick="btn_import()"><i class="fa fa-upload"></i>&nbsp;导入</a>
                        <a id="lr-edit" class="btn btn-default" onclick="btn_derive()"><i class="fa fa-download"></i>&nbsp;导出</a>
                        <a id="lr-delete" class="btn btn-default" onclick="btn_delete()"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
                    </div>
                    @*<script>$('.toolbar').authorizeButton()</script>*@
                </div>
            </div>
            <div class="gridPanel">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
        </div>
    </div>
</div>



