@{
    ViewBag.Title = "项目信息管理/项目信息表单";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<head>
    <script type="text/javascript">
        var KeyValue = GetQuery('KeyValue');
        var ItemId = GetQuery('ItemId');
        var MemberId = GetQuery('MemberID');
        var Data;
        $(function () {
            InitControl();
            LoadMemberClass();
            GetRawMaterialName();
        })
        //得到一个对象实体
        function InitControl() {
            //if (!!KeyValue) {
            AjaxJson("/SteelMember/MemberProduce/SetAnalysisRawMaterialForm", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
                Data = data;
            });
        }

        //保存事件
        function AcceptClick() {
            if (!CheckDataValid('#form2')) {
                return false;
            }
            Loading(true, "正在提交数据...");
            window.setTimeout(function () {
                var postData = GetWebControls("#form2");
                AjaxJson("/SteelMember/MemberProduce/SubmitAnalysisRawMaterialForm?KeyValue=" + KeyValue + "&OrderNumbering=" + OrderNumbering, postData, function (data) {//+ '&ItemID=' + ItemID
                    tipDialog(data.Message, 3, data.Code);
                    top.frames[tabiframeId()].windowload();
                    closeDialog();
                });
            }, 200);
        };

        //加载上级模块
        function LoadMemberClass() {
            $("#MaterialClassName").focus(function () {
                var objId = this.id;
                comboBoxTree(objId, "200px");
                var itemtree = {
                    onnodeclick: function (item) {
                        $("#MaterialClassId").val(item.id);
                        $('#MaterialClassName').val(item.text);
                        GetRawMaterialName(item.id);
                    },
                    url: "@Url.Content("/SteelMember/File/TreeJson")?TreeId=" + ItemId
            };
            $("#comboBoxTree" + objId).treeview(itemtree);
            //移除Id上级元素
            $("#comboBoxTree" + objId + "_" + GetQuery('KeyValue').replace(/-/g, '_')).parent('li').remove();
        })
        };

        //获取原材料名称
        function GetRawMaterialName(TreeId) {
            $.ajax({
                url: '/SteelMember/MemberProduce/GetRawMaterialName',
                type: 'post',
                datatype: 'Json',
                data: { KeyValue: TreeId },
                success: function (data) {
                    if (data) {
                        var projectname_sel = [];
                        // projectname_sel.push('<option value="" selected>请选择</option>')
                        for (var i = 0, len = data.length; i < len; i++) {
                            var projectname = data[i];
                            projectname_sel.push('<option value="' + projectname.Value + '">' + projectname.Text + '</option>')
                        }
                        $("#RawMaterialId").html(projectname_sel.join(' '));
                        $('#RawMaterialId')[0].selectedIndex = 0;//select下拉框的第二个元素为当前选中值
                        var checkValue = $("#RawMaterialId").val();  //获取Select选择的Value
                        //GetMemberDrawing(checkValue);

                        //$("#RawMaterialId").change(function () {//code...});   //为Select添加事件，当选择其中一项时触发
                        //    var checkValue = $("#RawMaterialId").val();  //获取Select选择的Value
                        //    GetMemberDrawing(checkValue);
                        //    //var checkText = $("#MemberId").find("option:selected").text();  //获取Select选择的Text
                        //    //var checkIndex = $("#MemberId ").get(0).selectedIndex;  //获取Select选择的索引值
                        //    //var maxIndex = $("#MemberId option:last").attr("index");  //获取Select最大的索引值
                        //})
                        
                    }
                },
                error: function () {
                    alert('查询异常');
                }
            });
        };
    </script>
</head>
<form id="form2" style="margin: 25px; margin-left: 40px; margin-right: 40px;">
    <div>
       <input id="MemberId" type="hidden" />
        <table class="form">
            <tr>
                <th class="formTitle">
                    原材料类型：
                </th>
                <td class="formValue">
                    <input id="MaterialClassId" name="MemberClassId" type="hidden" />
                    <input id="MaterialClassName" type="text" class="txt icontree" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">
                    材料名：
                </th>
                <td class="formValue">
                    <select id="RawMaterialId" name="RawMaterialId"></select> 
                </td>
            </tr>
            <tr>
                <th class="formTitle">
                    用量：
                </th>
                <td class="formValue">
                    <input id="Number" name="Number"/>
                </td>
            </tr>
            <tr>
                <th class="formTitle">
                    备注：
                </th>
                <td class="formValue">
                    <textarea id="Description" name="Description" maxlength="200" class="txtArea" rows="5"></textarea>
                </td>
            </tr>
        </table>
    </div>
</form>