@{
    ViewBag.Title = "查询过滤";
        Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<script>
    //获取条件表格JSON
    function GetConditionJson() {
        var JsonData = [];
        $("#grid_condition tbody tr").each(function () {
            var OrderNumbering = $(this).find('td:eq(0)').find('input').val();
            var InBeginTime = $(this).find('td:eq(1)').find('input').val();
            var InEndTime = $(this).find('td:eq(2)').find('input').val();
                var tdData = {
                    OrderNumbering: OrderNumbering,
                    InBeginTime: InBeginTime,
                    InEndTime: InEndTime,
                }
                JsonData.push(tdData);
        });
        return JsonData;
    }
    //回调查询确认事件
    function QueryClick(callBack) {
        callBack(JSON.stringify(GetConditionJson()));
        closeDialog();
    }

</script>
<br />
<br />
<br />
<table id="grid_condition" border="0" class="form-find" style="height: 30px;">
    <tr>
        <th>订单编号：</th>
        <td>
            <input id="OrderNumbering" class="txt" style="width:120px;" />
        </td>
        <th>创建时间：</th>
        <td>
            <input id="InBeginTime" type="text" class="txt Wdate" onfocus="WdatePicker({maxDate:'%y-%M-%d'})" style="width:90px;" />
            至
        </td>
        <td><input id="InEndTime" type="text" class="txt Wdate" onfocus="WdatePicker({maxDate:'%y-%M-%d'})" style="width:90px;" /></td>
    </tr>
</table>




