@{;
    ViewBag.Title = "领用表单页面";
    Layout = "~/Views/Shared/_PrintForm_A5.cshtml";
}

<!--
如果您使用的是高版本jQuery调用下面jQuery迁移辅助插件即可-->
<script src="~/Content/scripts/plugins/jquery-jqprint/jquery-migrate-1.2.1.min.js"></script>

<script>
    var keyValue = request('keyValue');
    var CollarEngineering = request("category");
    $(function () {
        InitialPage();
        GetCollarEntryGrid();
        SelectInput();
    });
    //初始化页面
    function InitialPage() {
        //$(".bills").height($(window).height() - 88);
        //resize重设(表格、树形)宽高
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 328.5);
                //$(".bills").height($(window).height() - 88);
            }, 200);
            e.stopPropagation();
        });
    }

    //加载明细表
    function GetCollarEntryGrid() {
        var $grid = $('#gridTable');

        $grid.append("<tr style='font-weight:bold'><td style='width:35px'>序号</td><td style='width:120px'>构件编号</td><td style='width:120px'>构件名称</td><td style='width:100px'>构件类型</td><td style='width:70px'>单位</td><td style='width:90px'>数量</td><td style='width:70px'>单价<br/>(元)</td><td style='width:105px'>备注</td></tr>")
        for (var i = 1; i < 11; i++) {
            $grid.append("<tr><td style='width:35px'>" + i + "</td><td style='width:120px'></td><td style='width:120px'></td><td style='width:100px'></td><td style='width:70px'></td><td style='width:90px'></td><td style='width:70px'></td><td style='width:105px'></td><td style='display:none'></td> <td style='display:none'></td> <td style='display:none'></td> <td style='display:none'></td><td style='display:none'></td> </tr>")
        }
    }

    //获取采购单
    function SelectInput() {
        var Numbering = "";
        $("#Numbering").ComboBox({
            //param: { EnCode: "RawMaterialManufacturer" },
            url: "../../SteelMember/MemberCollar/GetNumberingList",
            id: "CollarId",
            text: "Numbering",
            description: "==请选择==",
            height: "120px",

        }).bind("change", function () {
            Numbering = $(this).attr('data-text');

            Numbering = $("#Numbering").val().replace(/(^\s*)|(\s*$)/g, "");
            $("#table1").find("tr:eq(0)").find("td:eq(0)").html();
            $("#table1").find("tr:eq(1)").find("td:eq(0)").html();
            $("#table1").find("tr:eq(1)").find("td:eq(1)").html();
            $("#table1").find("tr:eq(1)").find("td:eq(2)").html();
            $("#table1").find("tr:eq(2)").find("td:eq(0)").html();
            $("#table1").find("tr:eq(2)").find("td:eq(1)").html();
            $("#table1").find("tr:eq(2)").find("td:eq(2)").html();
            $("#table2").find("tr:eq(0)").find("td:eq(0)").html();
            $("#table2").find("tr:eq(0)").find("td:eq(1)").html();
            for (var i = 1; i < 11; i++) {
                for (var c = 0; c < 12; c++) {
                    $("#gridTable").find("tr:eq(" + i + ")").find("td:eq(" + i + ")").html();
                }
            }

            if (Numbering != "") {
                $.SetForm({
                    url: "../../SteelMember/MemberCollar/NumberingToGetFormJson",
                    param: { Numbering: Numbering },
                    success: function (data) {
                        if (data.entity != null) {
                            var myDate = new Date();//获取系统当前时间
                            //myDate.getYear(); //获取当前年份(2位)
                            //myDate.getFullYear(); //获取完整的年份(4位,1970-????)
                            //myDate.getMonth(); //获取当前月份(0-11,0代表1月)
                            //myDate.getDate(); //获取当前日(1-31)
                            //myDate.getDay(); //获取当前星期X(0-6,0代表星期天)
                            //myDate.getTime(); //获取当前时间(从1970.1.1开始的毫秒数)
                            //myDate.getHours(); //获取当前小时数(0-23)
                            //myDate.getMinutes(); //获取当前分钟数(0-59)
                            //myDate.getSeconds(); //获取当前秒数(0-59)
                            //myDate.getMilliseconds(); //获取当前毫秒数(0-999)
                            //myDate.toLocaleDateString(); //获取当前日期
                            //var mytime = myDate.toLocaleTimeString(); //获取当前时间
                            //myDate.toLocaleString(); //获取日期与时间
                            if (data.entity.CollarNumbering == null || data.entity.CollarNumbering == "") {
                                data.entity.CollarNumbering = "GJCKD" + myDate.getFullYear() + "" + myDate.getMonth() + "" + myDate.getDate() + "" + myDate.getHours() + "" + myDate.getMinutes() + "" + myDate.getMilliseconds();
                            }

                            //$("#form1").SetWebControls(data.entity);
                            $("#table1").find("tr:eq(0)").find("td:eq(0)").html(data.entity.CollarEngineering);
                            $("#table1").find("tr:eq(1)").find("td:eq(0)").html(data.entity.DepartmentId);
                            $("#table1").find("tr:eq(1)").find("td:eq(1)").html(data.entity.ContactPerson);
                            $("#table1").find("tr:eq(1)").find("td:eq(2)").html(data.entity.Date);
                            $("#table1").find("tr:eq(2)").find("td:eq(0)").html(data.entity.ShippingAddress);
                            $("#table1").find("tr:eq(2)").find("td:eq(1)").html(data.entity.ContactPersonTel);
                            $("#table1").find("tr:eq(2)").find("td:eq(2)").html(data.entity.CollarNumbering);
                            $("#table2").find("tr:eq(0)").find("td:eq(0)").html(data.entity.CreateMan);
                            $("#table2").find("tr:eq(0)").find("td:eq(1)").html(data.entity.ReviewMan);
                            //明细
                            var childEntity = data.childEntity;
                            $('#gridTable').find('tr').each(function (i) {
                                var row = childEntity[i - 1];
                                if (row != undefined) {
                                    $(this).find("td:eq(1)").html(row.MemberNumbering);
                                    $(this).find("td:eq(2)").html(row.MemberName);
                                    $(this).find("td:eq(3)").html(row.Category);
                                    $(this).find("td:eq(4)").html(row.UnitId);
                                    $(this).find("td:eq(5)").html(Number(row.Quantity) - Number(row.CollaredQuantity));
                                    $(this).find("td:eq(6)").html(row.Description);
                                    $(this).find("td:eq(7)").html(row.CollaredQuantity);
                                    $(this).find("td:eq(8)").html(row.InventoryQuantity);
                                    $(this).find("td:eq(9)").html(row.InventoryId);
                                    $(this).find("td:eq(10)").html(row.CollarId);
                                    $(this).find("td:eq(11)").html(row.Quantity);
                                    $(this).find("td:eq(12)").html(row.InfoId);
                                    $(this).find("td:eq(13)").html(row.MemberWarehouseId);
                                    $(this).find("td:eq(14)").html(row.MemberId);

                                    Conversion(i);
                                }
                            });
                        }
                    }
                })
            }
        })
    }

    //保存表单;
    function AcceptClick() {

            var val = document.getElementById("gridTable").rows[1].cells[5].innerText;

            if (val == undefined || val == "" || val == null) {
                dialogMsg('请选取构件！', 0);
                return false;
            }

        if (!$('#form1').Validform()) {
            return false;
        }

        var a = 0;
        var childEntryJson = [];
        $('#gridTable').find('tr').each(function (i) {
            //if (!!$(this).find('input[id="MemberName➩' + i + '"]').val()) {
            //    var quantity = parseInt($(this).find('input[id="CollarQuantity➩' + i + '"]').val());
            //    if (quantity <= 0 || isNaN(quantity)) {
            //        postData = null
            //        return false;
            //    }
            //}
            if (i > 0 && i < 11) {
                if (!!document.getElementById("gridTable").rows[i].cells[5].innerText) {
                    a = a + Number(document.getElementById("gridTable").rows[i].cells[5].innerText);
                    childEntryJson.push({
                        CollarQuantity: document.getElementById("gridTable").rows[i].cells[5].innerText,
                        Description: document.getElementById("gridTable").rows[i].cells[6].innerText,
                        CollarId: document.getElementById("gridTable").rows[i].cells[10].innerText,
                        InfoId: document.getElementById("gridTable").rows[i].cells[12].innerText,
                        MemberWarehouseId: document.getElementById("gridTable").rows[i].cells[13].innerText,
                        MemberId: document.getElementById("gridTable").rows[i].cells[14].innerText,
                    });
                }
            }
        });
        var CollarNumbering = $("#table1").find("tr:eq(2)").find("td:eq(2)").html();

        //判断是否已全部出库
        if (a == 0) {
            dialogMsg('构件已全部出库', 0);
            return false;
        }
        //end
        $.SaveForm({
            url: "../../SteelMember/MemberCollar/SaveForm?Numbering=" + Numbering,
            param: { "CollarNumbering": CollarNumbering, "strChildEntitys": JSON.stringify(childEntryJson) },
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }

    //控制出库量
    function Conversion(index) {
        var CollaredQuantity = Number($("#CollaredQuantity➩" + index).val());
        var MaxNumber = Number($("#MaxNumber➩" + index).val()) - CollaredQuantity;

        var Qty = Number($("#CollarQuantity➩" + index).val());//数量
        if (Qty > MaxNumber) {
            dialogMsg("该构件已出库" + CollaredQuantity + "!您的输入不能超过" + MaxNumber, 0)
            $("#CollarQuantity➩" + index).val(MaxNumber);
            return false
        }

        var InventoryQuantity = Number($("#CollarQuantity➩" + index).val());//库存
        if (Qty > InventoryQuantity) {
            dialogMsg("该材料库存为" + InventoryQuantity + "!您的输入不能超过" + InventoryQuantity, 0)
            $("#CollarQuantity➩" + index).val(InventoryQuantity);
            return false
        }
    }

    //打印
    function btn_print() {
        //$(".bills").printTable();
        $(".bills").jqprint();
    }

    //导出
    function btn_export() {
        location.href = "/CustomerManage/Order/ExportOrderEntry?orderId=" + keyValue;
    }
</script>
<div class="title-search" style="padding-bottom:10px">
    <table>
        <tr>
            @*<td style="width:190px">
                <input id="Numbering" type="text" class="form-control" placeholder="请输入申请单号" />
            </td>*@
            <td style="padding-left: 5px;">
                <div id="Numbering" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull" style="width:200px"></div>
                @*<a id="btn_Search" class="btn btn-primary" onclick="btn_Search()"><i class="fa fa-search"></i>&nbsp;确定</a>*@
            </td>
        </tr>
    </table>
</div>
<div class="bills">
    <div>
        <p style="font-size:14pt;padding-bottom:10px;text-align:center"> 云南交投建设集团第十工程有限公司</p>
        <p style="font-size:20pt;padding-bottom:15px;text-align:center;font-family: 华文楷体;font-weight:bold;"> 构件出库单</p>

        <table id="table1" class="form" style="width:100%;">@*border:1px solid #ccc;*@
            <tr>
                <th class="formTitle">
                    项目名称：
                </th>
                <td class="formValue" colspan="8">
                    @*<div id="CollarEngineering" type="selectTree" class="ui-select" style="width:100%" isvalid="yes" checkexpession="NotNull"></div>*@
                </td>

            </tr>
            <tr>
                <th class="formTitle">
                    领用单位：
                </th>
                <td class="formValue" colspan="2">
                    @*<div id="OrganizeId" type="selectTree" class="ui-select" style="width:45%;float:left" isvalid="yes" checkexpession="NotNull"></div>&nbsp;—
                        <div id="DepartmentId" type="selectTree" class="ui-select" style="width:45%;float:right" isvalid="yes" checkexpession="NotNull"></div>*@
                </td>
                <th class="formTitle">
                    联系人：
                </th>
                <td class="formValue" colspan="2">
                    @*<input id="ContactPerson" type="text" class="form-control" style="width: 100%" isvalid="yes" checkexpession="NotNull" />*@
                </td>
                <th class="formTitle">
                    日期：
                </th>
                <td class="formValue" colspan="2">
                    @*   <input readonly id="Date" type="text" class="form-control" value="@ViewBag.Date"/>*@
                </td>
            </tr>

            <tr>
                <th class="formTitle">
                    收货地址：
                </th>
                <td class="formValue" colspan="2">
                    @*<input id="ShippingAddress" type="text" class="form-control" datacol="yes" checkexpession="NotNull" style="width: 100%" />*@
                </td>

                <th class="formTitle">
                    联系电话：
                </th>
                <td class="formValue" colspan="2">
                    @*<input id="ContactPersonTel" type="text" class="form-control" style="width: 100%" isvalid="yes" checkexpession="Phone" />*@
                </td>
                <th class="formTitle">
                    单号：
                </th>
                <td class="formValue" colspan="2">
                    @*<input readonly id="CollarNumbering" type="text" class="form-control" datacol="yes" err="单号" checkexpession="NotNull" value="@ViewBag.CollarNumbering" style="width: 100%" />*@
                </td>
            </tr>
        </table>
    </div>

    <div class="gridPanel">
        <table id="gridTable" class="formPrint"></table>
    </div>

    <div>
        <table id="table2" class="form" style="width:100%;">
            <tr>
                <th class="formTitle">
                    申请人：
                </th>
                <td class="formValue">
                    @*<input id="CreateMan" type="text" class="form-control" style="width: 100%" value="@ViewBag.CreateMan" />*@
                </td>
                <th class="formTitle">
                    经办人：
                </th>
                <td class="formValue">
                    @* <input id="Sender" type="text" class="form-control" style="width: 100%" />*@
                </td>
                <th class="formTitle">
                    领用人(签字)：
                </th>
                <td class="formValue">
                    @*<input id="CreateTime" type="text" class="form-control" style="width: 100%" datacol="yes" err="制单日期" checkexpession="NotNull" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")" onfocus="WdatePicker({dateFmt: 'yyyy-MM-dd HH:mm:ss' })" />*@
                </td>
            </tr>
        </table>
    </div>
</div>

<div id="bottomField">
    <div class="btn-group">
        <a id="lr-print" class="btn btn-default" onclick="btn_print()"><i class="fa fa-print"></i>&nbsp;打印</a>
        @*<a id="lr-export" class="btn btn-default" onclick="btn_export()"><i class="fa fa-sign-out"></i>&nbsp;导出</a>*@
    </div>
    @*<div class="btn-group">
            <a id="lr-prev" class="btn btn-default" onclick="btn_prev()"><i class="fa fa-backward"></i>&nbsp;前单</a>
            <a id="lr-next" class="btn btn-default" onclick="btn_next()"><i class="fa fa-forward"></i>&nbsp;后单</a>
        </div>*@
</div>
<style>
    .form .formTitle {
        width: 60px;
    }
</style>