@{
    ViewBag.Title = "Collar";
    Layout = "~/Views/Shared/_OrderForm.cshtml";
}
<script>
    var InventoryId = request('MemberWarehouseId');
    $(function () {
        initControl();
        AddRawMaterial();

    });

    //加载树
    var _Category
    function initControl() {
        $("#SubProject").ComboBoxTree({
            //param: { EnCode: "RawMaterialType" },
            //url: "../../SystemManage/DataItemDetail/GetDataItemTreeJson",
            param: { Levels: 2 },
            url: '../../SteelMember/SubProject/GetTreeJson',
            description: "==请选择==",
            allowSearch: true
        });
    }

    //加载构件
    var _Quantity
    function AddRawMaterial() {
        if (InventoryId == "") {
            return false;
        }
        $.ajax({
            type: 'Get',
            dataType: 'json',
            url: '../../SteelMember/MemberWarehouse/GetFormJson',
            data: { keyValue: InventoryId },
            success: function (data) {
                _Quantity = data.InStock;
                $("#Quantity").val(data.InStock);
                $("#Category").val(data.Category);
                $("#MemberName").val(data.MemberName);
                $("#MemberUnit").html(data.MemberUnit);
            },
            error: function (e) {
                alert(e);
            }

        });
    }
    //function AcceptClick() {
    //    if ($("#SubProject").attr("data-text") == undefined) {
    //        dialogTop("请选择工程名称", "error");
    //        return false;
    //    }

    //    if ($("#Quantity").val() == "" || $("#Quantity").val() > _Quantity || $("#Quantity").val() <= 0) {
    //        dialogMsg("输入的领用数量有误！请重新输入",0);
    //        $("#Quantity").val("");
    //        return false;
    //    }
    //    var sb = $("#CollarCategory").val();
    //    if ($("#CollarCategory").val() == "" || $("#Collaror").val() == "")
    //    {
    //        dialogMsg("请将信息填写完整！！", 0);
    //        return false;
    //    }



    //    $.ajax({
    //        type: 'post',
    //        url: '../../SteelMember/MemberWarehouse/SaveCollarinfo',
    //        dataType: 'json',
    //        data: { collarinfo: JSON.stringify(collarinfo) },
    //        success: function (data) {
    //            if (data.type == 1) {
    //                Loading(false);
    //                dialogMsg(data.message, 1);

    //            } else {
    //                dialogAlert(data.message, -1);
    //            }
    //            dialogClose();
    //        },
    //        error: function (e) {
    //            dialogAlert(e, -1);
    //        }
    //    });
    //}

    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        if ($("#InStock").val() == "" || $("#InStock").val() > _Quantity || $("#InStock").val() <= 0) {
            dialogMsg("输入的领用数量有误！请重新输入", 0);
            $("#InStock").val("");
            return false;
        }
        var postData = $("#form1").GetWebControls(InventoryId);
            postData['MemberWarehouseId'] = InventoryId,
            postData['SubProject'] = $("#SubProject").attr("data-value"),
            $.SaveForm({
                url: "../../SteelMember/MemberWarehouse/SaveCollarinfo",
                param: postData,
                loading: "正在保存数据...",
                success: function () {
                    $.currentIframe().$("#gridTable").trigger("reloadGrid");
                }
            })
    }
</script>

<div class="bills">
    <div style="height:100%;overflow-y:auto;margin:0px 10px;">
        <table class="form" style="width: 100%;border-collapse:separate;border-spacing:30px;">
            <tr>
                <td align="center" colspan="10">
                    <div style="font-family: 华文楷体; font-size: x-large; height: 50px; line-height: 50px;">
                        构件出库&nbsp;

                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    所属工程:
                </th>
                <td colspan="4">
                    <div id="SubProject" type="select" class="ui-select" style="width:95%" isvalid="yes" checkexpession="NotNull"></div>
                </td>
                <th>
                    出库数量:
                </th>
                <td colspan="4">
                    <input id="InStock" type="text" class="form-control" style="width:95%" isvalid="yes" checkexpession="Num">
                </td>
            </tr>
            <tr>
                <th>
                    构件类型:
                </th>
                <td colspan="4">
                    <input id="Category" type="text" class="form-control" style="width:95%;" disabled="disabled">
                </td>
                <th>
                    构件名称:
                </th>
                <td colspan="4">
                    <input id="MemberName" type="text" class="form-control" style="width:95%;" disabled="disabled">
                </td>
            </tr>
            <tr>
                <th>
                    领取人:
                </th>
                <td colspan="4">
                    <input id="Receiver" type="text" class="form-control" style="width:95%;" list="Collarorlist" isvalid="yes" checkexpession="NotNull">
                    <datalist id="Collarorlist">
                        <option value="张三">张三</option>
                        <option value="李四">李四</option>
                    </datalist>
                </td>
                <th>
                    联系电话:
                </th>
                <td colspan="4">
                    <input id="ReceiverTel" type="text" class="form-control" style="width:95%;" isvalid="yes" checkexpession="MobileOrPhone">
                </td>
            </tr>

            <tr>

                <th>
                    备注:
                </th>
                <td colspan="9">
                    <input id="Description" type="text" class="form-control" style="width:95%;">
                </td>

            </tr>

        </table>
    </div>

</div>
<style>
    body {
        margin: 0px;
    }

    .bills {
        overflow: hidden;
        border-radius: 0px;
        position: relative;
        background: #FFFFFF;
        border: 0px solid rgb(204, 204, 204);
        box-shadow: none;
        padding: 0px;
    }

    .ui-widget-content {
        border-left: 0px;
        border-right: 0px;
        border-bottom: 0px;
    }
</style>

