@{
    ViewBag.Title = "InventoryInfo";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    $(function () {
        GetGrid();
    });

    //加载表格
    var subgrid_table_id;
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 180.5,
            url: "../../SteelMember/MemberWarehouse/GetDetailsJson",
            datatype: "json",
            colModel: [
               
                { label: '外键', name: 'OrderId', index: 'OrderId', hidden: true },
                { label: 'InfoId', name: 'InfoId', index: 'InfoId', hidden: true },
                { label: 'MemberId', name: 'MemberId', index: 'MemberId', hidden: true },
                //{ label: '主键', name: 'OrderId', index: 'OrderId', hidden: true },
                //{ label: '外键', name: 'SubjectId', index: 'SubjectId', hidden: true },
                { label: '构件编号', name: "MemberNumbering", align: ' center', width: 180, sortable: false },
                { label: '构件类型', name: "Category", align: ' center', width: 150, sortable: false },
                { label: '构件名称', name: "MemberName", align: ' center', width: 150, sortable: false },
                { label: '单位', name: "UnitId", align: ' center', width: 80, sortable: false, align: 'center' },
                { label: '计划生产量', name: 'ProductionQuantity', index: 'ProductionQuantity', width: 80, align: '', sortable: true },
                { label: '已生产量', name: 'ProductionedQuantity', index: 'ProductionedQuantity', width: 80, align: '', sortable: true },
                { label: '已合格量', name: 'QualifiedQuantity', index: 'QualifiedQuantity', width: 80, align: '', sortable: true },
                { label: '已入库量', name: 'WarehousedQuantity', index: 'WarehousedQuantity', width: 80, align: '', sortable: true },
                { label: '描述', name: "Description", align: 'center', width: 100, sortable: false },
            ],
            viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100],
            pager: "#gridPager",
            sortname: 'CreateTime',
            sortorder: 'desc',
            rownumbers: true,
            multiselect: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            },
        });
    }
    function AcceptClick() {
        var OrderId = $('#gridTable').jqGridRowValue('OrderId');
        var MemberId = $('#gridTable').jqGridRowValue('MemberId');
        var queryJson = {
            OrderId: OrderId,
            MemberId: MemberId
        }
       
        var QualifiedQuantity = $('#gridTable').jqGridRowValue('QualifiedQuantity');
        var WarehousedQuantity = $('#gridTable').jqGridRowValue('WarehousedQuantity');
        if (OrderId != "") {
            if (QualifiedQuantity <= WarehousedQuantity) {
                dialogMsg("该构件合格品已全部入库！，请重新选择", 0);
                return false;
            }
            $.ajax({
                url: "/SteelMember/MemberWarehouse/Inventory",
                type: "post",
                datatype: 'json',
                data: {
                    queryJson: JSON.stringify(queryJson)
                },
                loading: "正在保存数据...",
                success: function (data) {
                    var datamodel = JSON.parse(data);
                    if (datamodel.type == 1) {
                        Loading(false);
                        dialogMsg(datamodel.message, 1);

                    } else {
                        dialogAlert(datamodel.message, -1);
                    }
                    dialogClose();

                },
                error: function (e) {
                    dialogAlert(e, -1);
                }
            });
        } else {
            dialogMsg("入库数据不能为空！！，请选择。", 0);
        }
    }
</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">

    <div class="ui-layout-center">
        <div class="center-Panel">
            <div class="panel-Title">已生产列表</div>
            <div class="titlePanel">
                <div class="toolbar">
                    <div class="btn-group">
                        <a id="lr-replace" class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>
                    </div>
                </div>
            </div>
            <div class="gridPanel">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
        </div>
    </div>
</div>
