@{
    ViewBag.Title = "InventoryInfo";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    $(function () {
        GetGrid();
    });

    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 180.5,
            url: "../../SteelMember/MemberWarehouse/GetNoIswarehousing",
            datatype: "json",
            //height: $(window).height() - 100,
            colModel: [
                { label: '主键', name: 'OrderId', index: 'OrderId', hidden: true},
                { label: '单号', name: 'OrderNumbering', index: 'OrderNumbering', width: 190, align: 'center', sortable: true },
                {
                    label: '生产状态', name: 'ProductionStatus', index: 'ProductionStatus', width: 65, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == 0) {
                            return "<span class=\"label label-info\">未生产</span>";
                        } else if (cellvalue == 1) {
                            return "<span class=\"label label-danger\">生产中</span>";
                        } else {
                            return "<span class=\"label label-success\">已完成</span>";
                        }
                    }
                },
                //{
                //    label: '入库状态', name: 'OrderWarehousingStatus', index: 'OrderWarehousingStatus', width: 80, align: 'center', sortable: true, formatter: function (cellvalue, options, rowObject) {
                //        if (cellvalue == 0) {
                //            return "<span class=\"label label-info\">未入库</span>";
                //        } else if (cellvalue == 1) {
                //            return "<span class=\"label label-danger\">已入库</span>";
                //        }
                //        //else {
                //        //    return "<span class=\"label label-success\">已生产</span>";
                //        //}
                //    }
                //},
                { label: '制单人', name: 'CreateMan', index: 'CreateMan', width: 90, align: 'center', sortable: true },
                {
                    label: '制单时间', name: 'CreateTime', index: 'CreateTime', width: 90, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd');//'yyyy-MM-dd hh:mm:ss'
                    } },
                { label: '审核人', name: 'ReviewMan', index: 'ReviewMan', width: 90, align: 'center', sortable: true },
                {
                    label: '审核时间', name: 'ReviewTime', index: 'ReviewTime', width: 90, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd');//'yyyy-MM-dd hh:mm:ss'
                    } },
                { label: '备注', name: 'Description', index: 'Description', width: 100, align: 'center', sortable: true },
            ],
            viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100],
            pager: "#gridPager",
            sortname: 'CreateTime',
            sortorder: 'desc',
            rownumbers: true,
            multiselect: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            },
            subGrid: true,
            subGridRowExpanded: function (subgrid_id, row_id) {
                var keyValue = $gridTable.jqGrid('getRowData', row_id)['OrderId'];
                var subgrid_table_id = subgrid_id + "_t";
                $("#" + subgrid_id).html("<table id='" + subgrid_table_id + "'></table>");
                $("#" + subgrid_table_id).jqGrid({
                    url: "../../SteelMember/MemberWarehouse/GetDetailsJson",
                    postData: { keyValue: keyValue },
                    datatype: "json",
                    height: "100%",
                    colModel: [
                        { label: 'InfoId', name: 'InfoId', index: 'InfoId', width: 80, align: '', sortable: true, hidden: true },
                        { label: 'OrderId', name: 'OrderId', index: 'OrderId', width: 80, align: '', sortable: true, hidden: true },
                        { label: '构件编号[<font face="宋体">*</font>]', name: "MemberNumbering", align: ' center', width: 180, sortable: false },
                        { label: '构件名称', name: "MemberName", align: ' center', width: 150, sortable: false },
                        { label: '单位', name: "UnitId", align: ' center', width: 80, sortable: false, align: 'center' },
                        { label: '计划生产量', name: 'ProductionQuantity', index: 'ProductionQuantity', width: 80, align: '', sortable: true },
                        { label: '已生产量', name: 'ProductionedQuantity', index: 'ProductionedQuantity', width: 80, align: '', sortable: true },
                        { label: '已合格量', name: 'QualifiedQuantity', index: 'QualifiedQuantity', width: 80, align: '', sortable: true },
                        { label: '已入库量', name: 'WarehousedQuantity', index: 'WarehousedQuantity', width: 80, align: '', sortable: true },
                        { label: '描述', name: "Description", align: 'center', width: 100, sortable: false },
                    ],
                    caption: "明细",
                    rowNum: "1000",
                    rownumbers: true,
                    shrinkToFit: false,
                    gridview: true,
                    hidegrid: false
                });
            }
        });
    }
    function AcceptClick() {

        var OrderId = $('#gridTable').jqGridRowValue('OrderId');

        var QualifiedQuantity = $("#" + subgrid_table_id).jqGridRowValue('QualifiedQuantity');
        var WarehousedQuantity = $("#" + subgrid_table_id).jqGridRowValue('WarehousedQuantity');
        //alert(RawMaterialPurchaseId);
        if (OrderId != "") {
            if (QualifiedQuantity <= WarehousedQuantity) {
                dialogMsg("该单合格构件已全部入库！，请重新选择", 0);
                return false;
            }
            $.ajax({
                url: "/SteelMember/MemberWarehouse/Inventory",
                type: "post",
                datatype: 'json',
                data: {
                    OrderId: OrderId
                },
                loading: "正在保存数据...",
                success: function (data) {
                    var datamodel = JSON.parse(data);
                    if (datamodel.type == 1) {
                        Loading(false);
                        dialogMsg(datamodel.message, 1);

                    } else {
                        dialogAlert(datamodel.message, -1);
                    }
                    dialogClose();

                },
                error: function (e) {
                    dialogAlert(e, -1);
                }
            });
        } else {
            dialogMsg("入库数据不能为空！！，请选择。", 0);
        }
    }
</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">

    <div class="ui-layout-center">
        <div class="center-Panel">
            <div class="panel-Title">已生产列表</div>
            <div class="titlePanel">
                <div class="toolbar">
                    <div class="btn-group">
                        <a id="lr-replace" class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>
                    </div>
                </div>
            </div>
            <div class="gridPanel">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
        </div>
    </div>
</div>
