@{
    ViewBag.Title = "项目信息管理/项目信息表单";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<head>
    <script src="~/Scripts/jqueryPicture/js/jquery.mousewheel.min.js"></script>
    <script src="~/Scripts/jqueryPicture/js/jquery.iviewer.js"></script>

    <script type="text/javascript">
        var KeyValue = GetQuery('KeyValue');
        var ItemID = GetQuery('ItemID');
        var TreeId = GetQuery('TreeId');
        var Data;
        var mole_fileURL;
        var cad_fileURL;
        $(function () {
            LoadMemberClass();
            InitControl();
            LoadDrawing();
            LoadMemberName();
        })
        //得到一个对象实体
        function InitControl() {
            //if (!!KeyValue) {
            AjaxJson("/SteelMember/ProjectManagement/SetDataForm", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
                Data = data;
            });
            //} else {
            //    tipDialog('请选择文件夹!', 3); //,data.Code
            //}
            //(!!FolderId){
            //    tipDialog('请选择文件夹!', 3); //,data.Code
            //    ////显示顺序
            //    //AjaxJson("/SysManagement/Module/SortCode", {}, function (Data) {
            //    //    $("#SortCode").val(Data);
            //    //})
            //    $("#ParentID").val(GetQuery('FolderId'));
            //    //$("#IsPublic").val(GetQuery('IsPublic'));
        }
        //保存事件
        function AcceptClick() {
            if (!CheckDataValid('#form2')) {
                return false;
            }
            Loading(true, "正在提交数据...");
            window.setTimeout(function () {
                var postData = GetWebControls("#form2");
                AjaxJson("/SteelMember/ProjectManagement/SubmitDataForm?KeyValue=" + KeyValue + '&TreeId=' + TreeId, postData, function (data) {//+ '&ItemID=' + ItemID
                    tipDialog(data.Message, 3, data.Code);
                    top.frames[tabiframeId()].windowload();
                    closeDialog();
                });
            }, 200);
        };

        //加载上级模块
        function LoadMemberClass() {
            $("#MemberClassName").focus(function () {
                var objId = this.id;
                comboBoxTree(objId, "200px");
                var itemtree = {
                    onnodeclick: function (item) {
                        $("#MemberClassId").val(item.id);
                        $('#MemberClassName').val(item.text);
                        GetMemberName(item.id);
                    },
                    url: "@Url.Content("/SteelMember/File/TreeJson")?TreeId=" + ItemID
                };
                $("#comboBoxTree" + objId).treeview(itemtree);
                //移除Id上级元素
                $("#comboBoxTree" + objId + "_" + GetQuery('KeyValue').replace(/-/g, '_')).parent('li').remove();
            })
        };

        //获取构件名称
        function GetMemberName(treeid) {
            $.ajax({
                url: '/SteelMember/ProjectManagement/GetMemderName',
                type: 'post',
                datatype: 'Json',
                data: { KeyValue: treeid },
                success: function (data) {
                    if (data) {
                        var projectname_sel = [];
                        // projectname_sel.push('<option value="" selected>请选择</option>')
                        for (var i = 0, len = data.length; i < len; i++) {
                            var projectname = data[i];
                            projectname_sel.push('<option value="' + projectname.MemberID + '">' + projectname.MemberModel + '</option>')
                        }
                        $("#MemberId").html(projectname_sel.join(' '));
                        ////编辑时获取值
                        //$("#MemberId  option[value='" + data.MemberId + "']").attr("selected", true);
                        GetMemberDrawing(projectname.MemberID);
                    }
                },
                error: function () {
                    alert('查询异常');
                }
            });
        };

        //获取构件图像
        function GetMemberDrawing(MemberId) {
            $.ajax({
                url: '/SteelMember/ProjectManagement/GetMemderDrawing',
                type: 'post',
                datatype: 'Json',
                data: { KeyValue: MemberId },
                success: function (data) {
                    mole_fileURL = data.CADDrawing;
                    cad_fileURL = data.ModelDrawing;

                    $("#viewer_cad").iviewer(
                {
                    src: cad_fileURL,
                    update_on_resize: false,
                    initCallback: function () {
                        var object = this;
                        $("#in").click(function () { object.zoom_by(1); });
                        $("#out").click(function () { object.zoom_by(-1); });
                        $("#fit").click(function () { object.fit(); });
                        $("#orig").click(function () { object.set_zoom(100); });
                        $("#update").click(function () { object.update_container_info(); });
                    },
                    onMouseMove: function (object, coords) { },
                    onStartDrag: function (object, coords) { return false; }, //this image will not be dragged
                    onDrag: function (object, coords) { }
                });

                    $("#viewer_model").iviewer(
                       {
                           src: mole_fileURL,
                           update_on_resize: false,
                           initCallback: function () {
                               var object = this;
                               $("#in").click(function () { object.zoom_by(1); });
                               $("#out").click(function () { object.zoom_by(-1); });
                               $("#fit").click(function () { object.fit(); });
                               $("#orig").click(function () { object.set_zoom(100); });
                               $("#update").click(function () { object.update_container_info(); });
                           },
                           onMouseMove: function (object, coords) { },
                           onStartDrag: function (object, coords) { return false; }, //this image will not be dragged
                           onDrag: function (object, coords) { }
                       });
                },
                error: function () {
                    alert('查询异常');
                }
            });
        };

        //载入构件名称
        function LoadMemberName() {
            $.ajax({
                url: '/SteelMember/ProjectManagement/GetMemderName',
                type: 'post',
                datatype: 'Json',
                data: { KeyValue: Data.MemberClassId },
                success: function (data) {
                    if (data) {
                        var projectname_sel = [];
                        // projectname_sel.push('<option value="" selected>请选择</option>')
                        for (var i = 0, len = data.length; i < len; i++) {
                            var projectname = data[i];
                            projectname_sel.push('<option value="' + projectname.MemberID + '">' + projectname.MemberModel + '</option>')
                        }
                        $("#MemberId").html(projectname_sel.join(' '));
                        //编辑时获取值
                        $("#MemberId  option[value='" + Data.MemberId + "']").attr("selected", true);
                    }
                },
                error: function () {
                    alert('查询异常');
                }
            });
        };

        //var $ = jQuery;
        //$(document).ready(function ()
        function LoadDrawing() {
           mole_fileURL = $("#ModelDrawing").val();
           cad_fileURL = $("#CADDrawing").val();
            $("#viewer_cad").iviewer(
                 {
                     src: cad_fileURL,
                     update_on_resize: false,
                     initCallback: function () {
                         var object = this;
                         $("#in").click(function () { object.zoom_by(1); });
                         $("#out").click(function () { object.zoom_by(-1); });
                         $("#fit").click(function () { object.fit(); });
                         $("#orig").click(function () { object.set_zoom(100); });
                         $("#update").click(function () { object.update_container_info(); });
                     },
                     onMouseMove: function (object, coords) { },
                     onStartDrag: function (object, coords) { return false; }, //this image will not be dragged
                     onDrag: function (object, coords) { }
                 });

            $("#viewer_model").iviewer(
               {
                   src: mole_fileURL,
                   update_on_resize: false,
                   initCallback: function () {
                       var object = this;
                       $("#in").click(function () { object.zoom_by(1); });
                       $("#out").click(function () { object.zoom_by(-1); });
                       $("#fit").click(function () { object.fit(); });
                       $("#orig").click(function () { object.set_zoom(100); });
                       $("#update").click(function () { object.update_container_info(); });
                   },
                   onMouseMove: function (object, coords) { },
                   onStartDrag: function (object, coords) { return false; }, //this image will not be dragged
                   onDrag: function (object, coords) { }
               });
        };
    </script>

    <link href="~/Scripts/jqueryPicture/css/jquery.iviewer.css" rel="stylesheet" />
    <style>
        .viewer {
            width: 99%;
            height: 96%;
            border: 1px solid black;
            position: relative;
        }
    </style>
</head>
<form id="form2" style="margin: 25px; margin-left: 40px; margin-right: 40px;">
    <div>
        <input id="IsPublic" type="hidden" />
        <input id="SortCode" type="hidden" />
        <input id="ParentID" type="hidden" />
        @*<input id="ProjectId" type="hidden" />
            <input id="MemberId" type="hidden" />
            <input id="MemberCompanyId" type="hidden" />*@

        <table class="form">
            <tr>
                <th class="formTitle">
                    构件类型：
                </th>
                <td class="formValue">
                    <input id="MemberClassId" name="MemberClassId" type="hidden" />
                    <input id="MemberClassName" type="text" class="txt icontree" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">
                    构件型号：
                </th>
                <td class="formValue">
                    <select id="MemberId" name="MemberId"></select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">
                    需求量：
                </th>
                <td class="formValue">
                    <input id="MemberNumber" type="text" class="txt" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">
                    备注：
                </th>
                <td class="formValue">
                    <textarea id="Description" name="Description" maxlength="200" class="txtArea" rows="5"></textarea>
                </td>
            </tr>
            <tr>
                <th class="formTitle">
                    构件预览  ：
                </th>
                <td class="formValue">
                    <div style="width:100%;height:150px">
                        <div style="float:left;width:50%;height:50%">
                            <input type="hidden" id="CADDrawing" name="CADDrawing" />
                            <div>图纸</div>
                            <div id="viewer_cad" class="viewer"></div>
                        </div>
                        <div style="float:left;width:50%;height:50%">
                            <input type="hidden" id="ModelDrawing" name="ModelDrawing" />
                            <div>
                                模型
                            </div>
                            <div id="viewer_model" class="viewer"></div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</form>