@{
    ViewBag.Title = "项目信息管理";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<meta name="viewport" content="width=device-width" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="~/Content/scripts/plugins/uploadify/uploadify.css" rel="stylesheet" />
<script src="~/Content/scripts/plugins/uploadify/jquery.uploadify.js"></script>

<script>
    var data_id = "";
    $(function () {
        GetGrid();
    });

    //加载表格
    function GetGrid() {
        document.getElementById("div_project_photo").innerHTML = "";
        $.ajax({
            url: "/SteelMember/ProjectInfo/GetFormJson",
            type: "get",
            data: {},
            dataType: "json",
            async: false,
            success: function (data) {
                if (data != null) {
                    $("#form1").SetWebControls(data);
                    data_id = data.ProjectInfoId;
                    document.getElementById("ProjectInfoId").value = data_id;
                    var filename = data.ProjectBackground;
                    if (filename != null) {
                        var array = filename.split(":");// 在每个逗号(,)处进行分解。
                        array.forEach(function (fileName) {
                            if (filename == null || filename == "") {
                                return false;
                            } else {
                                var fileName1 = fileName.substring(0, fileName.lastIndexOf('.'));//获取文件名称，去除后缀名
                                fileName1 = "../../Resource/Document/NetworkDisk/System/Project/" + fileName1 + "/" + fileName;
                                document.getElementById("div_project_photo").innerHTML += "<img id='txImg' class='txImg' src='" + fileName1 + "' height='100' widtd='100'/>";

                            }
                        });
                    }

                    document.getElementById("DelAvatar").setAttribute("type", "button");
                    document.getElementById("DelAvatar").value = "删除图片";
                }
            },
        });
        uploadify(data_id);
    }

    /*上传图片*/
    function uploadify(data_id) {

        if (data_id == null) {
            btn_edit();
        }
        //上传图片
        $("#Avatar1").uploadify({
            uploader: '/SteelMember/MemberLibrary/SubmitUpLoadFile',
            swf: '/Content/scripts/plugins/uploadify/uploadify.swf',
            buttonText: "选择图片",
            height: 24,
            width: 70,
            fileTypeDesc: '支持格式:jpg/gif/jpeg/png/bmp.',
            fileTypeExts: '*.jpg;*.gif;*.jpeg;*.png;*.bmp',//允许的格式
            fileSizeLimit: '10MB',
            formData: {//向uploader指定的后台传递数据
                KeyValue: data_id,
                Img: "Background",
                //file: "",
            },
            onFallback: function () {
                dialogMsg("您未安装FLASH控件，无法上传！请安装FLASH控件后再试", 0);
            },
            onUploadSuccess: function (file, data, response) {
                //document.getElementById("txImg1").src = data;
                //document.getElementById("ProjectBackground").value = file.name;

                if (data != null) {
                    document.getElementById("div_project_photo").innerHTML += "<img id='txImg' class='txImg' src='" + data + "' height='100' widtd='100'/>";
                    document.getElementById("ProjectBackground").value += getFileName(data) + ":";
                }

                document.getElementById("DelAvatar").setAttribute("type", "button");
                document.getElementById("DelAvatar").value = "删除图片";
            },
        });
    }

    function DelProjectBackground() {
        //document.getElementById("_CAD_Drawing").src = "";
        document.getElementById("div_project_photo").innerHTML = "";
        document.getElementById("ProjectBackground").value = "";
        document.getElementById("DelAvatar").setAttribute("type", "hidden");
    }

    //保存
    function btn_edit() {

        if (!$('#form1').Validform()) {
            return false;
        }

        //if (document.getElementById("ProjectBackground").value == "" || document.getElementById("ProjectBackground").value == null || document.getElementById("ProjectBackground").value == undefined) {
        //    dialogMsg("图片不能为空！", 0);
        //    return false;
        //}
        var postData = $("#form1").GetWebControls(data_id);
        $.SaveForm({
            url: "/SteelMember/ProjectInfo/SaveForm?ProjectId=" + data_id,
            param: postData,
            loading: "正在保存数据...",
            success: function (data) {
                data_id = data;
                // $.currentIframe().windowload();
                //$.currentIframe("AdminDefaultDesktop");
            }
        })
    }

    //删除
    function btn_delete() {
        if (data_id != "") {
            $.RemoveForm({
                url: '/SteelMember/ProjectInfo/RemoveForm?KeyValue=' + data_id,
                param: { KeyValue: data_id },
                success: function (data) {
                    //$("#gridTable").trigger("reloadGrid");
                }
            })
        } else {
            dialogMsg('请选择需要删除的数据项！', 0);
        }
    }

    //获取文件名
    function getFileName(o) {
        var pos = o.lastIndexOf('/');
        return o.substring(pos + 1);
    }
    //刷新
    function reload() {
        GetGrid();
    }
</script>
<style>
    .form .formTitle {
        width: 80px;
    }

    .uploadify-queue {
        display: none;
    }

    .txImg {
        float: left;
        padding-left: 2px;
    }
</style>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%; padding-right: 15px">
    <div class="ui-layout-center">
        <div class="center-Panel">
            <div class="titlePanel">
                <div id="div_tools_bar" class="toolbar">
                    <div class="btn-group">
                        <a id="lr-replace" class="btn btn-default" onclick="reload();"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                        @*<a id="lr-add" class="btn btn-default" onclick="btn_add_edit(0)"><i class="fa fa-plus"></i>&nbsp;新增</a>*@
                        <a id="lr-edit" class="btn btn-default" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>&nbsp;保存</a>
                        <a id="lr-delete" class="btn btn-default" onclick="btn_delete()"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
                        @*<a id="lr-import" class="btn btn-default" onclick="btn_import()"><i class="fa fa-upload"></i>&nbsp;导入</a>
                            <a id="lr-derive" class="btn btn-default" onclick="btn_derive()"><i class="fa fa-trash-o"></i>&nbsp;导出</a>*@
                    </div>
                    <script>$('.toolbar').authorizeButton()</script>
                </div>
            </div>
            <div class="gridPanel">
                <form id="form1">
                    <div id="table_project">

                        <table class="form">
                            <tr>
                                <td class="formTitle">
                                    项目名称<font face="宋体" color="red">*</font>
                                </td>
                                <td class="formValue">
                                    <input id="ProjectInfoId" type="hidden" />
                                    <input id="ProjectBackground" type="hidden" />
                                    <input id="ProjectName" type="text" class="form-control" rowspan="4" isvalid="yes" checkexpession="NotNull" />
                                </td>
                            </tr>
                            <tr>
                                <td class="formTitle">
                                    项目地址<font face="宋体" color="red">*</font>
                                </td>
                                <td class="formValue">
                                    <input id="ProjectAddress" type="text" class="form-control" rowspan="4" isvalid="yes" checkexpession="NotNull" />
                                </td>
                            </tr>
                            <tr>
                                <td class="formTitle">
                                    业主单位<font face="宋体" color="red">*</font>
                                </td>
                                <td class="formValue">
                                    <input id="OwnerUnit" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
                                </td>
                            </tr>

                            <tr>
                                <td class="formTitle">
                                    设计单位<font face="宋体" color="red">*</font>
                                </td>
                                <td class="formValue">
                                    <input id="DesignUnit" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
                                </td>
                            </tr>
                            <tr>
                                <td class="formTitle">监理单位<font face="宋体" color="red">*</font></td>
                                <td class="formValue">
                                    <input id="SupervisionUnit" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
                                </td>
                            </tr>
                            <tr>
                                <td class="formTitle">施工单位<font face="宋体" color="red">*</font></td>
                                <td class="formValue">
                                    <input id="ConstructionUnit" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
                                </td>
                            </tr>

                            <tr>
                                <td class="formTitle">
                                    开工时间<font face="宋体" color="red">*</font>
                                </td>
                                <td class="formValue">
                                    <input id="StartTime" type="text" class="form-control input-wdatepicker" placeholder="选择开工时间" onfocus="WdatePicker()" isvalid="yes" checkexpession="NotNull" />
                                </td>

                            </tr>
                            <tr>
                                <td class="formTitle">
                                    预计工期至<font face="宋体" color="red">*</font>
                                </td>
                                <td class="formValue">
                                    <input id="CompletedTime" type="text" class="form-control input-wdatepicker" placeholder="选择竣工时间" onfocus="WdatePicker()" isvalid="yes" checkexpession="NotNull" />
                                </td>
                            </tr>
                            <tr>
                                <td class="formTitle">
                                    工程概况<font face="宋体" color="red">*</font>
                                </td>
                                <td class="formValue">
                                    <textarea id="Description" type="text" class="form-control" style="height:20%" isvalid="yes" checkexpession="NotNull"></textarea>
                                </td>
                            </tr>

                            <tr>
                                <td class="formTitle">
                                    工程图片
                                </td>
                                <td class="formValue">
                                    <div id="div_project_photo" style="margin:2px;">

                                    </div>
                                    <div class="btnAvatar" style="float:left;margin-left:5px;margin-top:10px">
                                        <input id="DelAvatar" onclick="DelProjectBackground()" class="uploadify-button " type="hidden" style="height: 24px;margin-left:20px" />
                                        <input id="Avatar1" name="Avatar" type="file" class="Avatar required" @*isvalid="yes" checkexpession="NotNull"*@ />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

