@{
    ViewBag.Title = "项目信息管理";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<script>
    $(function () {
        InitialPage();
        //InitControl();
        //GetGrid();
        $("#OrganizationInfo").load("/BaseManage/Organize/Index").show();
    });
    //初始化页面
    function InitialPage() {
        //layout布局
        $('#layout').layout({
            applyDemoStyles: true,
            onresize: function () {
                $(window).resize()
            }
        });
        $('.profile-nav').height($(window).height() - 20);
        $('.profile-content').height($(window).height() - 20);
        //resize重设(表格、树形)宽高
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('.profile-nav').height($(window).height() - 20);
                $('.profile-content').height($(window).height() - 20);
            }, 200);
            e.stopPropagation();
        });
    }
    //侧面切换显示/隐藏
    function profileSwitch(id) {
        if (id == 'DepartmentInfo') {
            $("#DepartmentInfo").load("/BaseManage/Department/Index").show();
        }
        if (id == 'RoleInfo') {
            $("#RoleInfo").load("/BaseManage/Role/Index").show();
        }
        if (id == 'UserInfo') {
            $("#UserInfo").load("/BaseManage/User/Index").show();
        }
        $(".profile-content").find('.flag').hide()
        $(".profile-content").find("#" + id).show();

    }

</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west">
        <div class="west-Panel">
            <div class="profile-nav">
                <ul style="padding-top: 20px;">
                    <li class="active" onclick="profileSwitch('OrganizationInfo')">单位信息</li>
                    <li onclick="profileSwitch('DepartmentInfo')">部门信息</li>
                    <li onclick="profileSwitch('RoleInfo')">角色信息</li>
                    <li onclick="profileSwitch('UserInfo')">用户信息</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ui-layout-center">
        <div class="center-Panel">
            <div class="profile-content" style="background: #fff;">
                <div id="OrganizationInfo" class="flag">

                </div>
                <div id="DepartmentInfo" class="flag" style="display: none;">

                </div>
                <div id="RoleInfo" class="flag" style="display: none;">

                </div>
                <div id="UserInfo" class="flag" style="display: none;">

                </div>
            </div>
        </div>
    </div>
</div>

