@{;
    ViewBag.Title = "分项目列表页面";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    ;
    $(function () {
        InitialPage();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 108.5);
            }, 200);
            e.stopPropagation();
        });
    }
    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            url: "../../SteelMember/SubProject/GetListJson",
            datatype: "json",
            height: $(window).height() - 108.5,
            autowidth: true,
            colModel: [
                { label: 'Id', name: 'Id', index: 'Id', align: 'left', sortable: true, hidden: true },
                { label: '工程名称', name: 'FullName', index: 'FullName', width: 150, align: 'left', sortable: false },
                { label: 'EnCode', name: 'EnCode', hidden: true },
            ],
            treeGrid: true,
            treeGridModel: "nested",
            ExpandColumn: "EnCode",
            rowNum: "all",
            rownumbers: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            }
        });
        //$gridTable.authorizeColModel();
        //查询条件
        $("#queryCondition .dropdown-menu li").click(function () {
            var text = $(this).find('a').html();
            var value = $(this).find('a').attr('data-value');
            $("#queryCondition .dropdown-text").html(text).attr('data-value', value)
        });
        //查询事件
        $("#btn_Search").click(function () {
            var queryJson = {
                condition: $("#queryCondition").find('.dropdown-text').attr('data-value'),
                keyword: $("#txt_Keyword").val()
            }
            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) },
                page: 1
            }).trigger('reloadGrid');
        });
        //查询回车
        $('#txt_Keyword').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                $('#btn_Search').trigger("click");
            }
        });
    }
    //新增
    function btn_add() {
        var ParentId = $("#gridTable").jqGridRowValue("Id");
        dialogOpen({
            id: 'Form',
            title: '添加子工程信息',
            url: '/SteelMember/SubProject/Form?parentId=' + ParentId,
            width: '380px',
            height: '280px',
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    }
    //编辑
    function btn_edit() {
        var keyValue = $('#gridTable').jqGridRowValue('Id');
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'Form',
                title: '编辑子工程信息',
                url: '/SteelMember/SubProject/Form?keyValue=' + keyValue,
                width: '380px',
                height: '280px',
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            })
        }
    }
    //删除
    function btn_delete() {
        var keyValue = $('#gridTable').jqGridRowValue('Id');
        if (keyValue) {
            $.ajax({
                url: "../../SteelMember/SubProject/ExistSubData",
                data: { keyValue: keyValue },
                type: "get",
                dataType: "text",
                async: false,
                success: function (data) {
                    if (data == "True") {
                        $.RemoveForm({
                            url: '../../SteelMember/SubProject/RemoveForm',
                            param: { keyValue: keyValue },
                            success: function (data) {
                                $('#gridTable').trigger('reloadGrid');
                            }
                        })
                    } else {
                        $.SubRemoveForm({
                            url: '../../SteelMember/SubProject/RemoveForm',
                            param: { keyValue: keyValue },
                            success: function (data) {
                                $('#gridTable').trigger('reloadGrid');
                            }
                        })
                    }
                },

            })
        } else {
            dialogMsg('请选择需要删除的子工程信息！', 0);
        }
    }
</script>
<div class="titlePanel">
    @*<div class="title-search">
        <table>
            <tr>
                <td>
                    <div id="queryCondition" class="btn-group">
                        <a class="btn btn-default dropdown-text" data-toggle="dropdown">工程名称</a>
                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a data-value="FullName">工程名称</a></li>
                        </ul>
                    </div>
                </td>
                <td>
                    <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
                </td>
                <td style="padding-left: 5px;">
                    <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>查询</a>
                </td>
            </tr>
        </table>
    </div>*@
    <div class="toolbar">
        <div class="btn-group">
            <a id="lr-replace" class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
            <a id="lr-add" class="btn btn-default" onclick="btn_add()"><i class="fa fa-plus"></i>&nbsp;新增</a>
            <a id="lr-edit" class="btn btn-default" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑</a>
            <a id="lr-delete" class="btn btn-default" onclick="btn_delete()"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
</div>
<div class="gridPanel">
    <table id="gridTable"></table>
</div>
