
@{
    Layout = "申请授权表";
        Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
@*<styly type="text/css">
    .ui-jqgrid .ui-jqgrid-bdiv {position: relative; margin: 0; padding:0; overflow: auto; text-align:left;height:590px !important}
</styly>*@
<link href="~/Content/themes/icon.css" rel="stylesheet" />
<link href="~/Content/themes/bootstrap/easyui.css" rel="stylesheet" />
<script src="~/scripts/jquery.easyui-1.4.5.min.js"></script>
<script src="~/Scripts/locale/easyui-lang-zh_CN.js"></script>
<!--引入弹窗组件start-->
@*<script src="~/Content/Scripts/lhgdialog/lhgdialog.min.js"></script>*@
<!--引入弹窗组件end-->
<script type="text/javascript">
    $(document).ready(function () {
        GetTree();
        GetGrid();
    });
    //加载左边树
    //注意 FolderId 默认等于1 这样就可以加载一级目录下的子节点文件夹
    var FolderId = "1", FolderName = "", IsPublic = "1";
    function GetTree() {
        var itemtree = {
            onnodeclick: function (node) {
                FolderId = node.id;            //ID
                FolderName = node.text;
                GridFolderEvent(FolderId);
            },
            url: "@Url.Content("/SteelMember/File/TreeJson")"
        };
        $("#ItemsTree").treeview(itemtree);
    };
    //表格文件夹点击事件
    function GridFolderEvent(TreeID) {
        FolderId = TreeID;
        $("#gridTableAuthorisation").jqGrid('setGridParam', {
            url: "@Url.Content("/SteelMember/File/GridListJson")?FolderId=" + FolderId, page: 1
        }).trigger('reloadGrid');
    }
    //加载表格
    function GetGrid() {
        $("#gridTableAuthorisation").jqGrid({
            url: "@Url.Content("/SteelMember/File/GridListJson")?FolderId=" + FolderId,
            datatype: "json",
            height: $(window).height() - 154,
            autowidth: true,
            colModel: [
            { label: "主键", name: "MemberID", hidden: true },
            { label: "主键", name: "TreeID", hidden: true },
            { label: 'ParentID', name: 'ParentID', hidden: true },
            { label: 'Sort', name: 'Sort', hidden: true },
            { label: "Icon", name: "Icon", hidden: true },
            {
                label: "文件名", name: "MemberName", index: "MemberName", align:' center',width: 330,
                formatter: function (cellvalue, options, rowObject) {
                    if (rowObject.Icon == "-1") {
                        return "<div style='cursor:pointer;padding-top:1px;'><img style='padding-bottom:3px;padding-right:2px;' src='../../Content/Images/Icon16/folder.png' />" + cellvalue + "</div>";
                    } else {
                        if (rowObject.Icon == "new") {
                            return "<div style='padding-top:1px;'><img style='padding-bottom:3px;padding-right:2px;' src='../../Content/Images/Icon16/page_white.png' />" + cellvalue + "</div>";
                        } else {
                            return "<div style='padding-top:1px;'><img style='padding-bottom:3px;padding-right:2px;' src='../../Content/Images/Icon16/file_extension_" + rowObject.Icon + ".png' />" + cellvalue + "</div>";
                        }
                    }
                }
            },
            { label: "文件类型", name: "FileType", index: "FileType", align:' center',width: 70 },
            { label: "文件大小", name: "FileSize", index: "FileSize", align:' center',width: 80 },
            {
                label: "添加时间", name: "UploadTime", index: "UploadTime", align:' center',width: 120,
                formatter: function (value, options, rowObject) {
                    return formatDate(value, 'yyyy-MM-dd hh:mm:ss');
                }
            },
            {
                label: "修改时间", name: "ModifiedTime", index: "ModifiedTime", align:' center',width: 120,
                formatter: function (value, options, rowObject) {
                    return formatDate(value, 'yyyy-MM-dd hh:mm:ss');
                }
            },
            {
                label: "过期时间", name: "OverdueTime", index: "OverdueTime", align:' center',width: 120,
                formatter: function (value, options, rowObject) {
                    return formatDate(value, 'yyyy-MM-dd hh:mm:ss');
                }
            },
            {
                label: '有效', name: 'Enabled', index: 'Enabled', align:' center',width: 35, align: 'center',
                formatter: function (cellvalue, options, rowObject) {
                    if (cellvalue == '1') return "<img src='../../Content/Images/checkokmark.gif' />";
                    if (cellvalue == '0') return "<img src='../../Content/Images/checknomark.gif' />";
                }
            }, {
                label: '审核状态', name: 'IsReview', index: 'IsReview', align:' center',width: 38, align: 'center',
                formatter: function (cellvalue, options, rowObject) {
                    if (cellvalue == '1') return "<img src='../../Content/Images/checkokmark.gif' />";
                    if (cellvalue == '0') return "<img src='../../Content/Images/checknomark.gif' />";
                }
            },
            { label: '描述', name: 'Description', index: 'Description', align:' center',width: 300 },
            ],
            viewrecords: true,
            rownumbers: true,
            gridview: true,
            rowNum: 30,
            rowList: [30, 50, 100, 500, 1000],
            pager: "#gridPager",
            sortname: 'SortCode',
            sortorder: 'asc',
            ondblClickRow: function (TreeID) {
                var rowData = $("#gridTableAuthorisation").getRowData(TreeID);  //根据ID拿到一行的数据
                if (rowData.Icon == '-1') {
                    GridFolderEvent(rowData.TreeID);
                    var treeid = "ItemsTree_" + rowData.TreeID.replace(/-/g, '_');
                    $('#' + treeid + ' img').trigger("click");
                }
            }
        });
        columnModelData("#gridTableAuthorisation");
        //自应高度
        $(window).resize(function () {
            $("#gridTableAuthorisation").setGridHeight($(window).height() - 200);
        });
    }
    //在线查看
    function OnlineLook() {
        var KeyValue = GetJqGridRowValue("#gridTableAuthorisation", "MemberID");
        var Sort = GetJqGridRowValue("#gridTableAuthorisation", "Sort");
        if (IsChecked(KeyValue)) {
            if (Sort == "1") {
                var url = '/SteelMember/File/OnlineLook?KeyValue=' + KeyValue;
                Dialog(url, "OnlineLook", "文件在线查看", 900, 890, function (iframe) {
                    top.frames[iframe].AcceptClick()
                });
            } else {
                alertDialog("文件夹不支持查看！", 0);
            }
        }

    }
    //刷新表格 树
    function Reload() {
        GetTree();
        $("#gridTableAuthorisation").trigger("reloadGrid"); //重新载入
    }
    //查询
    function Search() {
        if (!CheckDataValid('#formsearch')) {
            return false;
        }
        Loading(true, "正在提交数据...");
        var postData = GetWebControls("#formsearch");
        $("#gridTableAuthorisation").jqGrid('setGridParam', {
            url: "@Url.Content("/SteelMember/File/GridListJson")?FolderId=" + FolderId, postData, page: 1
            }).trigger('reloadGrid');
            }
            //返回上一级
            function Upward() {
            AjaxJson("/SteelMember/File/ReturnSuperior", { KeyValue: FolderId }, function (data) {
            if (data.ParentID != '0') {
                GridFolderEvent(data.ParentID);
            }
            });
            }
</script>
<div id="a" class="easyui-layout" style="width:1200px; height:700px;">
    <div region="west" hide="true" split="false" title="文件夹信息" collapse="false" style="width:180px" id="west">
        <div class="layoutPanel layout-west">
            <div class="ScrollBar" id="ItemsTree"></div>
        </div>
    </div>
    <div id="bPanle" region="center" style="background: #eee; overflow-y:hidden">
        <div class="btnbartitle">
            <div>
                文件信息
                <span id="CenterTitle"></span>
            </div>
        </div>
        <!--条件查询表-->
        <form id="formsearch">
            <div id="grid_condition">
                <div class="bottomline QueryArea" style="margin: 1px; margin-top: 0px; margin-bottom: 0px;">
                    <table border="0" class="form-find" style="height: 45px;">
                        <tr>
                            <th>文件名称：</th>
                            <td>
                                <input id="MemberName" class="txt" style="width:285px;" />
                            </td>
                            <th>空间位置：</th>
                            <td>
                                <input id="KJWZ" class="txt" style="width:285px;" />
                            </td>
                            <th>文件大小：</th>
                            <td>
                                <input id="FileSize" class="txt" style="width:100px;" />
                            </td>
                        </tr>
                        <tr>
                            <th>入库时间：</th>
                            <td>
                                <input id="InBeginTime" type="text" class="txt Wdate" onfocus="WdatePicker({maxDate:'%y-%M-%d'})" />
                                至
                                <input id="InEndTime" type="text" class="txt Wdate" onfocus="WdatePicker({maxDate:'%y-%M-%d'})" />
                            </td>

                            <th>修改时间：</th>
                            <td>
                                <input id="ModifidBeginTime" type="text" class="txt Wdate" onfocus="WdatePicker({maxDate:'%y-%M-%d'})" />
                                至
                                <input id="ModifidEndTime" type="text" class="txt Wdate" onfocus="WdatePicker({maxDate:'%y-%M-%d'})" />
                            </td>

                            <th>文件类型：</th>
                            <td>
                                <select id="FileType" class="txtselect" style="width:105px;">
                                    <option value="">全部</option>
                                    <option value=".txt">txt</option>
                                    <option value="word文件">word文件</option>
                                    <option value=".xls">xls</option>
                                    <option value=".xlsx">xlsx</option>
                                    <option value=".ppt">ppt</option>
                                    <option value=".pptx">pptx</option>
                                    <option value=".png">png</option>
                                    <option value=".jpg">jpg</option>
                                    <option value=".pdf">pdf</option>
                                    <option value=".zip">zip</option>
                                    <option value=".rar">rar</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
        <div class="tools_bar" style="border-top: none; margin-bottom: 0px;">
            <div class="PartialButton">
                <div style="float: left;padding-left:8px;padding-top:8px">
                    <div onclick="Search()" style="float:left;padding-left:8px">
                        <div class="icon" style="text-align-last:center"><img src="../../Content/Images/Icon16/zoom.png" /></div>
                        <div class="text">查询</div>
                    </div>
                    <div onclick="Reload()" style="float:left;padding-left:8px">
                        <div class="icon" style="text-align-last:center"><img src="../../Content/Images/Icon16/arrow_refresh.png" /></div>
                        <div class="text">刷新</div>
                    </div>
                    <div onclick="Upward()" style="float:left;padding-left:8px">
                        <div class="icon" style="text-align-last:center"><img src="../../Content/Images/Icon16/folder_go.png" /></div>
                        <div class="text">返回上一级</div>
                    </div>
                    <div onclick="OnlineLook()" style="float:left;padding-left:8px">
                        <div class="icon" style="text-align-last:center"><img src="../../Content/Images/Icon16/folder_explore.png" /></div>
                        <div class="text">查看文件信息</div>
                    </div>
                </div>
            </div>
        </div>
        <!--文件列表-->
        <div id="t_List" class="topline">
            <table id="gridTableAuthorisation"></table>
        </div>
        <div id="gridPager"></div>
    </div>
</div>
