@{
    ViewBag.Title = "构件库管理》表单页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    //var KeyValue = GetQuery('KeyValue');
    var FolderId = GetQuery('FolderId');
    //var ItemID = GetQuery('ItemID');
    $(function () { 
        InitControl();
    })
    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            getAjax("/SteelMember/File/SetMemberForm", { KeyValue: GetQuery('KeyValue') }, function (data) {
                var data = eval("(" + data + ")");
                SetWebControls(data);
            });
        }
    }
</script>
<form id="form1" style="margin: 1px">
    @ViewData["qq"]
    <div id="message" style="display: none"></div>
    <table class="form">
        <tr>
            <th class="formTitle">
                型号：
            </th>
            <td class="formValue">
                <input id="MemberModel" type="text" class="txt" readonly="readonly" />
            </td>
            <th class="formTitle">
                截面面积：
            </th>
            <td class="formValue">
                <input id="SectionalArea" type="text" class="txt" readonly="readonly" />
            </td>

        </tr>
        <tr>
            <th class="formTitle">
                外表面积：
            </th>
            <td class="formValue">
                <input id="SurfaceArea" type="text" class="txt" readonly="readonly"/>
            </td>
            <th class="formTitle">
                理论重量：
            </th>
            <td class="formValue">
                <input id="TheoreticalWeight" type="text" class="txt" readonly="readonly"/>
            </td>
        </tr>
        <tr>
            <th class="formTitle">
                h：
            </th>
            <td class="formValue">
                <input id="SectionalSize_h" type="text" class="txt" readonly="readonly"/>
            </td>
            <th class="formTitle">
                B：
            </th>
            <td class="formValue">
                <input id="SectionalSizeB" type="text" class="txt" readonly="readonly"/>
            </td>
        </tr>
        <tr>
            <th class="formTitle">
                b：
            </th>
            <td class="formValue">
                <input id="SectionalSize_b" type="text" class="txt" readonly="readonly" />
            </td>
            <th class="formTitle">
                D：
            </th>
            <td class="formValue">
                <input id="SectionalSizeD" type="text" class="txt" readonly="readonly" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">
                d：
            </th>
            <td class="formValue">
                <input id="SectionalSize_d" type="text" class="txt" readonly="readonly" />
            </td>
            <th class="formTitle">
                t：
            </th>
            <td class="formValue">
                <input id="SectionalSize_t" type="text" class="txt" readonly="readonly" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">
                r：
            </th>
            <td class="formValue">
                <input id="SectionalSize_r" type="text" class="txt" readonly="readonly" />
            </td>
            <th class="formTitle">
                r1：
            </th>
            <td class="formValue">
                <input id="FileType" type="text" class="txt" readonly="readonly" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">
                Ix：
            </th>
            <td class="formValue">
                <input id="InertiaDistance_x" type="text" class="txt" readonly="readonly" />
            </td>
            <th class="formTitle">
                Iy：
            </th>
            <td class="formValue">
                <input id="InertiaDistance_y" type="text" class="txt" readonly="readonly" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">
                Ix0：
            </th>
            <td class="formValue">
                <input id="InertiaDistance_x0" type="text" class="txt" readonly="readonly" />
            </td>
            <th class="formTitle">
                Iy0：
            </th>
            <td class="formValue">
                <input id="InertiaDistance_y0" type="text" class="txt" readonly="readonly" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">
                Ix1：
            </th>
            <td class="formValue">
                <input id="InertiaDistance_x1" type="text" class="txt" readonly="readonly" />
            </td>
            <th class="formTitle">
                Iy1：
            </th>
            <td class="formValue">
                <input id="InertiaDistance_y1" type="text" class="txt" readonly="readonly" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">
                Iu：
            </th>
            <td class="formValue">
                <input id="InertiaDistance_u" type="text" class="txt" readonly="readonly" />
            </td>
            <th class="formTitle">
                ix：
            </th>
            <td class="formValue">
                <input id="InertiaRadius_x" type="text" class="txt" readonly="readonly" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">
                ix0：
            </th>
            <td class="formValue">
                <input id="InertiaRadius_x0" type="text" class="txt" readonly="readonly" />
            </td>
            <th class="formTitle">
                iy：
            </th>
            <td class="formValue">
                <input id="InertiaRadius_y" type="text" class="txt" readonly="readonly" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">
                iy0：
            </th>
            <td class="formValue">
                <input id="InertiaRadius_y0" type="text" class="txt" readonly="readonly" />
            </td>
            <th class="formTitle">
                iu：
            </th>
            <td class="formValue">
                <input id="InertiaRadius_u" type="text" class="txt" readonly="readonly" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">
                Wx：
            </th>
            <td class="formValue">
                <input id="SectionalModulus_x" type="text" class="txt" readonly="readonly" />
            </td>
            <th class="formTitle">
                Wy：
            </th>
            <td class="formValue">
                <input id="SectionalModulus_y" type="text" class="txt" readonly="readonly" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">
                Wx0：
            </th>
            <td class="formValue">
                <input id="SectionalModulus_x0" type="text" class="txt" readonly="readonly" />
            </td>
            <th class="formTitle">
                Wy0：
            </th>
            <td class="formValue">
                <input id="SectionalModulus_y0" type="text" class="txt" readonly="readonly" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">
                Wu：
            </th>
            <td class="formValue">
                <input id="SectionalModulus_u" type="text" class="txt" readonly="readonly" />
            </td>
            <th class="formTitle">
                Z0：
            </th>
            <td class="formValue">
                <input id="GravityCenterDistance_0" type="text" class="txt" readonly="readonly" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">
                X0：
            </th>
            <td class="formValue">
                <input id="GravityCenterDistance_x0" type="text" class="txt" readonly="readonly" />
            </td>
            <th class="formTitle">
                Y0：
            </th>
            <td class="formValue">
                <input id="GravityCenterDistance_y0" type="text" class="txt" readonly="readonly" />
            </td>
        </tr>
    </table>
</form>
