@{
    ViewBag.Title = "构件库管理";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script>
    $(function () {
        InitialPage();
        GetTree();
        GetGrid();
    });

    //鼠标移动放大图片
    function showBigImg(oEvent, imgPath) {
        bigImg.src = imgPath;
        var oDiv = document.getElementById("BigDiv");
        oDiv.style.visibility = "visible";
        oDiv.style.left = oEvent.clientX + 5;
        oDiv.style.top = oEvent.clientY + 5;
    }
    function leaveBigImg(oEvent) {
        var oDiv = document.getElementById("BigDiv");
        oDiv.style.visibility = "hidden";
    }//鼠标移动放大图片

    //初始化页面
    function InitialPage() {
        //layout布局
        $('#layout').layout({
            applyDemoStyles: true,
            onresize: function () {
                $(window).resize()
            }
        });
        //resize重设(表格、树形)宽高
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $("#gridTable").setGridHeight($(window).height() - 141.5);
                $("#itemTree").setTreeHeight($(window).height() - 52);
            }, 200);
            e.stopPropagation();
        });
    }
    //加载树
    var TreeId = "";
    var HavesChildren;
    function GetTree() {
        var item = {
            height: $(window).height() - 52,
            url: "../../SteelMember/File/TreeJson?TreeId=1",
            onnodeclick: function (item) {
                TreeId = item.id;
                HavesChildren = item.hasChildren;
                $('#btn_Search').trigger("click");
            }
        };
        //初始化
        $("#itemTree").treeview(item);
    }

    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            url: "../../SteelMember/File/GridListJson?TreeId=" + TreeId,
            datatype: "json",
            height: $(window).height() - 141.5,
            autowidth: true,
            colModel: [
                { label: '主键', name: "MemberID", hidden: true },
                { label: '主键', name: "TreeID", hidden: true },
                { label: 'Sort', name: "Sort", hidden: true },
                {
                    label: '图标', name: "Icon", hidden: false,
                    formatter: function (cellvalue, options, rowObject) {
                        var Icon = cellvalue;
                        if (Icon != "" || Icon != null) {
                            var filename = Icon.substring(0, Icon.lastIndexOf('.'));//获取文件名称，去除后缀名
                            filename = filename + "/" + Icon;
                            if (Icon == "1.png") {
                                //<div style='cursor:pointer;padding-top:1px;'><img style='padding-bottom:3px;padding-right:2px;' src='../../Content/Scripts/tree/images/folder.gif' onmouseover=\"showBigImg(event,'../../Content/Scripts/tree/images/folder.gif')\" onmouseout=\"leaveBigImg(event)\"/>"</div>
                                //<img style='width:32px;height:18px;padding-bottom:3px;padding-right:2px;' src='../../Resource/Document/NetworkDisk/System/Member/" + filename + "' onmouseover=\"showBigImg(event,'../../Resource/Document/NetworkDisk/System/Member/" + filename + "')\" onmouseout=\"leaveBigImg(event)\" />";
                                return "<img style='width:44px;height:32px;' src='../../Resource/Document/NetworkDisk/System/Member/baton.png'onmouseover=\"showBigImg(event,'../../Resource/Document/NetworkDisk/System/Member/baton.png')\"onmouseout=\"leaveBigImg(event)\"/>";
                            } else {
                                return "<img style='width:44px;height:32px;' src='../../Resource/Document/NetworkDisk/System/Member/" + filename + "' onmouseover=\"showBigImg(event,'../../Resource/Document/NetworkDisk/System/Member/" + filename + "')\" onmouseout=\"leaveBigImg(event)\" />";
                            }
                        } else {
                            return "";
                        }
                    }
                },
                { label: '编号', name: "MemberNumbering", index: "MemberNumbering", align: 'center' },
                { label: '型号', name: "MemberModel", index: "MemberModel", align: 'center' },
                {
                    label: '入库时间', name: "UploadTime", index: "UploadTime", align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd hh:mm:ss');
                    }
                },
                { label: '截面面积(cm²)', name: "SectionalArea", index: "SectionalArea", align: 'center' },
                { label: '外表面积(m²/m)', name: "SurfaceArea", index: "SurfaceArea", align: 'center' },
                { label: '理论重量(㎏/m)', name: "TheoreticalWeight", index: "TheoreticalWeight", align: 'center' },
                { label: '高度', name: "SectionalSize_h", index: "SectionalSize_h", align: 'center' },
                //{ label: '长边宽度', name: 'SectionalSizeB', index: 'SectionalSizeB', align: 'center',width: 8 },
                { label: '腿宽度', name: 'SectionalSize_b', index: 'SectionalSize_b', align: 'center' },
                //{ label: '长边厚度', name: 'SectionalSizeD', index: 'SectionalSizeD', align: 'center',width: 8 },
                { label: '腰厚度', name: 'SectionalSize_d', index: 'SectionalSize_d', align: 'center' },
                //{ label: '平均腿厚度', name: 'SectionalSize_t', index: 'SectionalSize_t', align: 'center',width: 8 },
                //{ label: '内圆弧半径', name: 'SectionalSize_r', index: 'SectionalSize_r', align: 'center',width: 8 },
                //{ label: '腿端圆弧半径', name: 'SectionalSize_r1', index: 'SectionalSize_r1', align: 'center',width: 8 },
                {
                    label: '图纸', name: 'CAD_Drawing', index: 'CAD_Drawing', align: 'center',
                    formatter: function (cellvalue, value, row, index) {
                        var is_have_drawing = cellvalue;
                        if (is_have_drawing != "" || is_have_drawing != null) {
                            if (is_have_drawing != "1.png") {
                                return "<img src='../../Content/Images/checkokmark.gif'/>";
                            } else {
                                return "<img src='../../Content/Images/checknomark.gif'/>";
                            }
                        } else {
                            return "";
                        }
                    }
                },
                {
                    label: '模型', name: 'Model_Drawing', index: 'Model_Drawing', align: 'center',
                    formatter: function (cellvalue, value, row, index) {
                        var is_have_model = cellvalue;
                        if (is_have_model != "" || is_have_model != null) {
                            if (is_have_model != "1.png") {
                                return "<img src='../../Content/Images/checkokmark.gif'/>";
                            } else {
                                return "<img src='../../Content/Images/checknomark.gif'/>";
                            }
                        } else {
                            return "";
                        }
                    }
                },
                {
                    label: '材料', name: 'IsRawMaterial', index: 'IsRawMaterial', align: 'center',
                    formatter: function (cellvalue, value, row, index) {
                        var IsRawMaterial = cellvalue;
                        if (IsRawMaterial != 0) {
                            return "<img src='../../Content/Images/checkokmark.gif'/>";
                        } else {
                            return "<img src='../../Content/Images/checknomark.gif'/>";
                        }
                    }
                },
                {
                    label: '制程', name: 'IsProcess', index: 'IsProcess', align: 'center',
                    formatter: function (cellvalue, value, row, index) {
                        var IsProcess = cellvalue;
                        if (IsProcess != 0) {
                            return "<img src='../../Content/Images/checkokmark.gif'/>";
                        } else {
                            return "<img src='../../Content/Images/checknomark.gif'/>";
                        }
                    }
                },
            ],
            pager: false,
            rowNum: "1000",
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $("#" + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $("#" + this.id).setSelection(selectedRowIndex, false);
            }
        });
        //实现２行表头脚本
        $("#gridTable").jqGrid('setGroupHeaders', {
            useColSpanStyle: true,
            groupHeaders: [
                { startColumnName: 'SectionalSize_h', numberOfColumns: 3, titleText: '截面尺寸(㎜)' },
                { startColumnName: 'IsHaveDrawing', numberOfColumns: 2, titleText: '可视化状态' },
                //{ startColumnName: 'InertiaRadius_x', numberOfColumns: 5, titleText: '惯性半径/cm' },
                //{ startColumnName: 'SectionalModulus_x', numberOfColumns: 5, titleText: '截面模数/cm³' },
                //{ startColumnName: 'GravityCenterDistance_0', numberOfColumns: 3, titleText: '重心距离/cm' },
            ]
        })

        //查询条件
        $("#queryCondition .dropdown-menu li").click(function () {
            var text = $(this).find('a').html();
            var value = $(this).find('a').attr('data-value');
            $("#queryCondition .dropdown-text").html(text).attr('data-value', value)
        });
        //查询事件
        $("#btn_Search").click(function () {
            $gridTable.jqGrid('setGridParam', {
                url: "../../SteelMember/File/GridListJson",
                postData: {
                    TreeId: TreeId,
                    condition: $("#queryCondition").find('.dropdown-text').attr('data-value'),
                    keyword: $("#txt_Keyword").val()
                }
            }).trigger('reloadGrid');
        });
        //查询回车
        $('#txt_Keyword').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                $('#btn_Search').trigger("click");
            }
        });
    }

    //新增
    function btn_add() {
        if (!!TreeId) {
            if (!HavesChildren) {
                dialogOpen({
                    id: "MemberForm",
                    title: '添加功能',
                    url: '/SteelMember/File/MemberForm?TreeId=' + TreeId,
                    width: "700px",
                    height: "600px",
                    callBack: function (iframeId) {
                        top.frames[iframeId].AcceptClick();
                    }
                });
            } else {
                dialogMsg('此节点不可编辑，请选择一个子节点！', 0);
            }
        } else {
            dialogMsg('请选择文件夹目录!', 0);
        }
    }

    //编辑
    function btn_edit() {
        var KeyValue = $("#gridTable").jqGridRowValue("MemberID");
        if (checkedRow(KeyValue)) {
            dialogOpen({
                id: "MemberForm",
                title: '编辑功能',
                url: '/SteelMember/File/MemberForm?KeyValue=' + KeyValue,
                width: "700px",
                height: "600px",
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            });
        }
    }

    //删除
    function btn_delete() {
        var KeyValue = $("#gridTable").jqGridRowValue("MemberID");
        if (KeyValue) {
            $.RemoveForm({
                url: '../../SteelMember/File/DeleteMember?KeyValue=' + KeyValue,
                param: { KeyValue: KeyValue },
                success: function (data) {
                    $("#gridTable").trigger("reloadGrid");
                }
            })
        } else {
            dialogMsg('请选择需要删除的数据项！', 0);
        }
    }

    //导入文件
    function btn_import() {
        if (!!TreeId) {
            if (!HavesChildren) {
                dialogOpen({
                    id: "MemberForm",
                    title: '导入功能',
                    url: '/SteelMember/File/ImportFile?KeyValue=' + TreeId,
                    width: "500px",
                    height: "200px",
                    callBack: function (iframeId) {
                        top.frames[iframeId].AcceptClick();
                    },
                    btn: null
                });

            } else {
                dialogMsg('此节点不可编辑，请选择一个子节点！', 0);
            }
        }
        else {
            dialogMsg('请选择文件夹目录！', 0);
        }
    }

    //导出文件
    var JsonData1 = ""; var TableObject = "";
    function btn_derive() {
        SetDeriveExcel("#gridTable", "构件信息表", "云南公投澄川高速", JsonData1, TableObject.toString());
        openDialog("/SteelMember/File/DeriveFile", "DeriveFile", "构件信息导出", 900, 500, function (iframe) {
            top.frames[iframe].AcceptClick();
        })
        //var url = "/SteelMember/File/ImportFile?KeyValue=" + TreeId;
        //Dialog(url, "ImportFile", "上传文件到网络硬盘", 500, 600, function (iframe) {
        //    top.frames[iframe].AcceptClick()
        //    $("#gridTable").trigger("reloadGrid"); //重新载入
        //});
    }

</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west">
        <div class="west-Panel">
            <div class="panel-Title">功能目录</div>
            <div id="itemTree"></div>
        </div>
    </div>
    <div class="ui-layout-center">
        <div class="center-Panel">
            <div class="panel-Title">功能信息</div>
            <div class="titlePanel">
                <div class="title-search">
                    <table>
                        <tr>
                            <td>
                                <div id="queryCondition" class="btn-group">
                                    <a class="btn btn-default dropdown-text" data-toggle="dropdown">选择条件</a>
                                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a data-value="EnCode">编号</a></li>
                                        <li><a data-value="FullName">名称</a></li>
                                        <li><a data-value="UrlAddress">地址</a></li>
                                    </ul>
                                </div>
                            </td>
                            <td style="padding-left: 2px;">
                                <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
                            </td>
                            <td style="padding-left: 5px;">
                                <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="toolbar">
                    <div class="btn-group">
                        <a id="lr-replace" class="btn btn-default" onclick="reload();"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                        <a id="lr-add" class="btn btn-default" onclick="btn_add()"><i class="fa fa-plus"></i>&nbsp;新增</a>
                        <a id="lr-edit" class="btn btn-default" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑</a>
                        <a id="lr-delete" class="btn btn-default" onclick="btn_delete()"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
                        <a id="lr-import" class="btn btn-default" onclick="btn_import()"><i class="fa fa-upload"></i>&nbsp;导入</a>
                        <a id="lr-derive" class="btn btn-default" onclick="btn_derive()"><i class="fa fa-trash-o"></i>&nbsp;导出</a>
                    </div>
                    <script>$('.toolbar').authorizeButton()</script>
                </div>
            </div>
            <div id="BigDiv" style="margin-left:50px;margin-top:160px; width:360px;height:360px; position: absolute; visibility: hidden; padding: 5px;z-index:999">
                <img id="bigImg" src="" style="width:100%;height:100%" />
            </div>
            <div class="gridPanel">
                <table id="gridTable"></table>
            </div>
        </div>
    </div>
</div>
