@{
    ViewBag.Title = "项目信息管理/构件信息表单";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<head>
    <script type="text/javascript">
        var KeyValue = GetQuery('KeyValue');
        var MemberID = GetQuery('MemberID');
        var OrderId = GetQuery('OrderId');
        var ItemId = 3;
        var Data;
        $(function () {
            document.getElementById("MemberId").value = MemberID;
            InitControl();
            GetMemberName();
        })
        //得到一个对象实体
        function InitControl() {
            if (!!KeyValue) {
                AjaxJson("/SteelMember/File/SetMemberProcessForm", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
                Data = data;
            });
            }
        }

        //获取用户
        function GetMemberName() {
            $.ajax({
                url: '/SteelMember/File/GetUserName',
                type: 'post',
                datatype: 'Json',
                data: {},
                success: function (data) {
                    if (data) {
                        var projectname_sel = [];
                        // projectname_sel.push('<option value="" selected>请选择</option>')
                        for (var i = 0, len = data.length; i < len; i++) {
                            var projectname = data[i];
                            projectname_sel.push('<option value="' + projectname.RealName+ '">' + projectname.RealName + '</option>')
                        }
                        $("#ProcessMan").html(projectname_sel.join(' '));
                        $('#ProcessMan')[0].selectedIndex = 0;//select下拉框的第二个元素为当前选中值
                        var checkValue = $("#ProcessMan").val();  //获取Select选择的Value
                        $("#ProcessMan").change(function () {//code...});   //为Select添加事件，当选择其中一项时触发
                            var checkValue = $("#ProcessMan").val();  //获取Select选择的Value
                            //var checkText = $("#MemberId").find("option:selected").text();  //获取Select选择的Text
                            //var checkIndex = $("#MemberId ").get(0).selectedIndex;  //获取Select选择的索引值
                            //var maxIndex = $("#MemberId option:last").attr("index");  //获取Select最大的索引值
                        })

                    } 
                },
                error: function () {
                    alert('查询异常');
                }
            });
        };


        //保存事件
        function AcceptClick() {
            if (!CheckDataValid('#form2')) {
                return false;
            }
            Loading(true, "正在提交数据...");
            window.setTimeout(function () {
                var postData = GetWebControls("#form2");
                AjaxJson("/SteelMember/File/SubmitMemberProcessForm?KeyValue=" + KeyValue + "&OrderId=" + OrderId , postData, function (data) {//+ '&ItemID=' + ItemID
                    tipDialog(data.Message, 3, data.Code);
                    top.frames["MemberProcessIndex"].windowload();
                    closeDialog();
                });
            }, 200);
        };
    </script>

    @*<link href="~/Content/Scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/Scripts/editable-select/jquery.editable-select.min.css" rel="stylesheet" type="text/css" />

</head>
<form id="form2" style="margin: 25px; margin-left: 40px; margin-right: 40px;">
    <input id="MemberId" type="hidden" />
    <div>
        <table class="form">
          
            <tr>
                <th class="formTitle">
                    制程名称：
                </th>
                <td class="formValue">
                    @*<select id="ProcessName" name="ProcessName"></select>*@
                    <select id="ProcessName" name="ProcessName" class="form-control" style="width:92%;height:20px">
                        <option value="0">请选择，允许手动输入 </option>
                        <option value="选料">选料</option>
                        <option value="放样">放样</option>
                        <option value="号料">号料</option>
                        <option value="切割">切割</option>
                        <option value="矫正">矫正</option>
                        <option value="组立">组立</option>
                        <option value="埋弧">埋弧</option>
                        <option value="铆焊">铆焊</option>
                        <option value="油漆">油漆</option>
                        <option value="成型">成型</option>
                        <option value="边缘加工">边缘加工</option>
                        <option value="管球加工">管球加工</option>
                        <option value="摩擦面加工">摩擦面加工</option>
                        <option value="端部加工">端部加工</option>
                        <option value="预拼装">预拼装</option>
                        <option value="工厂质检">工厂质检</option>
                        <option value="监理质检">监理质检</option>
                        <option value="封装">封装</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">
                    负责人：
                </th>
                <td class="formValue">
                    <select id="ProcessMan" name="ProcessMan" style="width:50%"></select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">
                    工艺要求：
                </th>
                <td class="formValue">
                    <input id="ProcessRequirements" type="text" class="txt" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">
                    排序号：
                </th>
                <td class="formValue">
                    <input id="SortCode" type="text" class="txt" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">
                    备注：
                </th>
                <td class="formValue">
                    <textarea id="Description" name="Description" maxlength="200" class="txtArea" rows="5"></textarea>
                </td>
            </tr>
        </table>
    </div>
    <script src="~/Content/Scripts/editable-select/jquery.editable-select.min.js"></script>

    <script type="text/javascript">
        $('#ProcessName').editableSelect({
            effects: 'slide'
        });
    </script>
</form>