@{
    ViewBag.Title = "构件库管理》表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<link href="~/Content/scripts/plugins/uploadify/uploadify.css" rel="stylesheet" />
<script src="~/Content/scripts/plugins/uploadify/jquery.uploadify.js"></script>
<script type="text/javascript">
    var KeyValue = request('KeyValue');
    var ItemID = request('ItemID');
    var TreeId = request('TreeId');

    $(function () {
        InitControl();
        UploadFile();
    })

    //得到一个对象实体
    function InitControl() {

        //获取单位
        $("#UnitId").ComboBox({
            url: "../../SteelMember/ProjectManagement/GetMemderUnit",
            id: "UnitId",
            text: "UnitName",
            description: "==请选择==",
            allowSearch: false
        });
            //获取表单
            if (!!KeyValue) {
                $.SetForm({
                    url: "../../SteelMember/File/SetMemberForm",
                    param: { KeyValue: KeyValue },
                    success: function (data) {
                        //var data = eval("(" + data + ")");
                        var filename, filename1, filename2 = "";
                        filename = data.CAD_Drawing;
                        if (filename != "1.png") {
                            filename = filename.substring(0, filename.lastIndexOf('.'));//获取文件名称，去除后缀名
                            filename = "../../Resource/Document/NetworkDisk/System/Member/" + filename + "/" + data.CAD_Drawing;
                            document.getElementById("_CAD_Drawing").src = filename;
                            document.getElementById("DelAvatar").setAttribute("type", "button");
                            document.getElementById("DelAvatar").value = "删除图片";
                        }

                        filename1 = data.Model_Drawing;
                        if (filename1 != "1.png") {
                            filename1 = filename1.substring(0, filename1.lastIndexOf('.'));//获取文件名称，去除后缀名
                            filename1 = "../../Resource/Document/NetworkDisk/System/Member/" + filename1 + "/" + data.Model_Drawing;
                            document.getElementById("_Model_Drawing").src = filename1;
                            document.getElementById("DelAvatar1").setAttribute("type", "button");
                            document.getElementById("DelAvatar1").value = "删除图片";
                        }

                        filename2 = data.Icon;
                        if (filename2 != "1.png") {
                            filename2 = filename2.substring(0, filename2.lastIndexOf('.'));//获取文件名称，去除后缀名
                            filename2 = "../../Resource/Document/NetworkDisk/System/Member/" + filename2 + "/" + data.Icon;
                            document.getElementById("_Icon").src = filename2;
                            document.getElementById("DelAvatar2").setAttribute("type", "button");
                            document.getElementById("DelAvatar2").value = "删除图片";
                        }
                        $("#form1").SetWebControls(data);
                        document.getElementById("MemberModel").readOnly = true;
                    
                        //加载单位
                        $("#UnitId").ComboBox({
                            url: "../../SteelMember/ProjectManagement/GetMemderUnit?",
                            id: "UnitId",
                            text: "UnitName",
                            description: "==请选择==",
                            allowSearch: false
                        });
                    }
                });
            } else {
              //  $("#Category").ComboBoxTreeSetValue(category);
            }

        }
        ////载入构件单位
        //function LoadMemberUnit() {
        //    $.ajax({
        //        url: '/SteelMember/ProjectManagement/GetMemderUnit',
        //        type: 'post',
        //        datatype: 'Json',
        //        data: {},
        //        success: function (data) {
        //            if (data) {
        //                var projectname_sel = [];
        //                // projectname_sel.push('<option value="" selected>请选择</option>')
        //                for (var i = 0, len = data.length; i < len; i++) {
        //                    var projectname = data[i];
        //                    projectname_sel.push('<option value="' + projectname.UnitId + '">' + projectname.UnitName + '</option>')
        //                }
        //                $("#UnitId").html(projectname_sel.join(' '));
        //                if (!!request('KeyValue')) {
        //                    //编辑时获取值
        //                    $("#UnitId  option[value='" + Data.UnitId + "']").attr("selected", true);
        //                }
        //            }
        //        }
        //    });
        //};

        function UploadFile() {
            $('#Avatar').uploadify({
                uploader: '/SteelMember/File/SubmitUploadify',
                swf: '/Content/Scripts/plugins/uploadify/uploadify.swf',
                buttonText: "选择图片",
                height: 24,
                width: 70,
                fileTypeDesc: '支持格式:jpg/gif/jpeg/png/bmp.',
                fileTypeExts: '*.jpg;*.gif;*.jpeg;*.png;*.bmp',//允许的格式
                fileSizeLimit: '5MB',

                onFallback: function () {
                    alert("您未安装FLASH控件，无法上传！请安装FLASH控件后再试。");
                },
                onUploadSuccess: function (file, data, response) {
                    document.getElementById("CAD_Drawing").value = data;
                    document.getElementById("_CAD_Drawing").src = data;
                    document.getElementById("DelAvatar").setAttribute("type", "button");
                    document.getElementById("DelAvatar").value = "删除图片";
                },
            });

            $('#Avatar1').uploadify({
                uploader: '/SteelMember/File/SubmitUploadify',      //处理文件上传Action?FolderId=' + GetQuery('FolderId')
                swf: '/Content/Scripts/plugins/uploadify/uploadify.swf',
                buttonText: "选择图片",
                height: 24,
                width: 70,
                fileTypeDesc: '支持格式:jpg/gif/jpeg/png/bmp.',
                fileTypeExts: '*.jpg;*.gif;*.jpeg;*.png;*.bmp',//允许的格式
                fileSizeLimit: '5MB',

                onFallback: function () {
                    alert("您未安装FLASH控件，无法上传！请安装FLASH控件后再试。");
                },
                onUploadSuccess: function (file, data, response) {
                    document.getElementById("Model_Drawing").value = data;
                    document.getElementById("_Model_Drawing").src = data;
                    document.getElementById("DelAvatar1").setAttribute("type", "button");
                    document.getElementById("DelAvatar1").value = "删除图片";
                },
            });

            $('#Avatar2').uploadify({
                uploader: '/SteelMember/File/SubmitUploadify',
                swf: '/Content/Scripts/plugins/uploadify/uploadify.swf',
                buttonText: "选择图片",
                height: 24,
                width: 70,
                fileTypeDesc: '支持格式:jpg/gif/jpeg/png/bmp.',
                fileTypeExts: '*.jpg;*.gif;*.jpeg;*.png;*.bmp',//允许的格式
                fileSizeLimit: '5MB',

                onFallback: function () {
                    alert("您未安装FLASH控件，无法上传！请安装FLASH控件后再试。");
                },
                onUploadSuccess: function (file, data, response) {
                    document.getElementById("Icon").value = data;
                    document.getElementById("_Icon").src = data;
                    document.getElementById("DelAvatar2").setAttribute("type", "button");
                    document.getElementById("DelAvatar2").value = "删除图片";

                },
            });
        }

        function DelCAD_Drawing() {
            document.getElementById("_CAD_Drawing").src = "";
            document.getElementById("CAD_Drawing").value = "";
            document.getElementById("DelAvatar").setAttribute("type", "hidden");
        }

        function DelModel_Drawing() {
            document.getElementById("_Model_Drawing").src = "";
            document.getElementById("Model_Drawing").value = "";
            document.getElementById("DelAvatar1").setAttribute("type", "hidden");
        }

        function DelIcon() {
            document.getElementById("_Icon").src = "";
            document.getElementById("Icon").value = "";
            document.getElementById("DelAvatar2").setAttribute("type", "hidden");
        }


        //保存表单
        function AcceptClick() {
            if (!$('#form1').Validform()) {
                return false;
            }
            var postData = $("#form1").GetWebControls(KeyValue);
            $.SaveForm({
                url: "../../SteelMember/File/SubmitMember?TreeId=" + TreeId,
                param: postData,
                loading: "正在保存数据...",
                success: function () {
                    $.currentIframe().$("#gridTable").trigger("reloadGrid");
                }
            })
        }
</script>
<style>
    .uploadify-queue {
        display: none;
    }
</style>
<div style="margin-left: 10px; margin-top: 20px; margin-right: 30px;">
    <input id="CAD_Drawing" type="hidden" />
    <input id="Model_Drawing" type="hidden" />
    <input id="Icon" type="hidden" />
    <div id="message" style="display: none"></div>
    <table class="form">
        <tr>
            <td class="formTitle">
                型号<font face="宋体">*</font>
            </td>
            <td class="formValue">
                <input id="MemberModel" type="text" class="form-control" placeholder="请输入构件型号" isvalid="yes" checkexpession="NotNull" />
                @*<input id="MemberModel" type="text" class="txt required" datacol="yes" err="型号" checkexpession="NotNull" />*@
            </td>
            <td class="formTitle">
                截面面积<font face="宋体">*</font>
            </td>
            <td class="formValue">
                <input id="SectionalArea" type="text" class="form-control" placeholder="请输入截面面积" isvalid="yes" checkexpession="Double" />
            </td>

        </tr>
        <tr>
            <td class="formTitle">
                外表面积<font face="宋体">*</font>
            </td>
            <td class="formValue">
                <input id="SurfaceArea" type="text" class="form-control" placeholder="请输入外表面积" isvalid="yes" checkexpession="Double" />
            </td>
            <td class="formTitle">
                理论重量<font face="宋体">*</font>
            </td>
            <td class="formValue">
                <input id="TheoreticalWeight" type="text" class="form-control" placeholder="请输入理论重量" isvalid="yes" checkexpession="Double" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">
                h
            </td>
            <td class="formValue">
                <input id="SectionalSize_h" type="text" class="form-control" value=1 />
            </td>
            <td class="formTitle">
                B
            </td>
            <td class="formValue">
                <input id="SectionalSizeB" type="text" class="form-control" value=1 />
            </td>
        </tr>
        <tr>
            <td class="formTitle">
                b
            </td>
            <td class="formValue">
                <input id="SectionalSize_b" type="text" class="form-control" value=1 />
            </td>
            <td class="formTitle">
                D
            </td>
            <td class="formValue">
                <input id="SectionalSizeD" type="text" class="form-control" value=1 />
            </td>
        </tr>
        <tr>
            <td class="formTitle">
                d
            </td>
            <td class="formValue">
                <input id="SectionalSize_d" type="text" class="form-control" value=1 />
            </td>
            <td class="formTitle">
                t
            </td>
            <td class="formValue">
                <input id="SectionalSize_t" type="text" class="form-control" value=1 />
            </td>
        </tr>
        <tr>
            <td class="formTitle">
                r
            </td>
            <td class="formValue">
                <input id="SectionalSize_r" type="text" class="form-control" value=1 />
            </td>
            <td class="formTitle">
                r1
            </td>
            <td class="formValue">
                <input id="SectionalSize_r1" type="text" class="form-control" value=1 />
            </td>
        </tr>
        <tr>
            <td class="formTitle">
                Ix
            </td>
            <td class="formValue">
                <input id="InertiaDistance_x" type="text" class="form-control" value=1 />
            </td>
            <td class="formTitle">
                Iy
            </td>
            <td class="formValue">
                <input id="InertiaDistance_y" type="text" class="form-control" value=1 />
            </td>
        </tr>
        <tr>
            <td class="formTitle">
                Ix0
            </td>
            <td class="formValue">
                <input id="InertiaDistance_x0" type="text" class="form-control" value=1 />
            </td>
            <td class="formTitle">
                Iy0
            </td>
            <td class="formValue">
                <input id="InertiaDistance_y0" type="text" class="form-control" value=1 />
            </td>
        </tr>
        <tr>
            <td class="formTitle">
                Ix1
            </td>
            <td class="formValue">
                <input id="InertiaDistance_x1" type="text" class="form-control" value=1 />
            </td>
            <td class="formTitle">
                Iy1
            </td>
            <td class="formValue">
                <input id="InertiaDistance_y1" type="text" class="form-control" value=1 />
            </td>
        </tr>
        <tr>
            <td class="formTitle">
                Iu
            </td>
            <td class="formValue">
                <input id="InertiaDistance_u" type="text" class="form-control" value=1 />
            </td>
            <td class="formTitle">
                ix
            </td>
            <td class="formValue">
                <input id="InertiaRadius_x" type="text" class="form-control" value=1 />
            </td>
        </tr>
        <tr>
            <td class="formTitle">
                ix0
            </td>
            <td class="formValue">
                <input id="InertiaRadius_x0" type="text" class="form-control" value=1 />
            </td>
            <td class="formTitle">
                iy
            </td>
            <td class="formValue">
                <input id="InertiaRadius_y" type="text" class="form-control" value=1 />
            </td>
        </tr>
        <tr>
            <td class="formTitle">
                iy0
            </td>
            <td class="formValue">
                <input id="InertiaRadius_y0" type="text" class="form-control" value=1 />
            </td>
            <td class="formTitle">
                iu
            </td>
            <td class="formValue">
                <input id="InertiaRadius_u" type="text" class="form-control" value=1 />
            </td>
        </tr>
        <tr>
            <td class="formTitle">
                Wx
            </td>
            <td class="formValue">
                <input id="SectionalModulus_x" type="text" class="form-control" value=1 />
            </td>
            <td class="formTitle">
                Wy
            </td>
            <td class="formValue">
                <input id="SectionalModulus_y" type="text" class="form-control" value=1 />
            </td>
        </tr>
        <tr>
            <td class="formTitle">
                Wx0
            </td>
            <td class="formValue">
                <input id="SectionalModulus_x0" type="text" class="form-control" value=1 />
            </td>
            <td class="formTitle">
                Wy0
            </td>
            <td class="formValue">
                <input id="SectionalModulus_y0" type="text" class="form-control" value=1 />
            </td>
        </tr>
        <tr>
            <td class="formTitle">
                Wu
            </td>
            <td class="formValue">
                <input id="SectionalModulus_u" type="text" class="form-control" value=1 />
            </td>
            <td class="formTitle">
                Z0
            </td>
            <td class="formValue">
                <input id="GravityCenterDistance_0" type="text" class="form-control" value=1 />
            </td>
        </tr>
        <tr>
            <td class="formTitle">
                X0
            </td>
            <td class="formValue">
                <input id="GravityCenterDistance_x0" type="text" class="form-control" value=1 />
            </td>
            <td class="formTitle">
                Y0
            </td>
            <td class="formValue">
                <input id="GravityCenterDistance_y0" type="text" class="form-control" value=1 />
            </td>
        </tr>
        <tr>
            <td class="formTitle">
                单位<font face="宋体">*</font>
            </td>
            <td class="formValue">
                <div id="UnitId" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
            </td>
            <td class="formTitle">
                单价<font face="宋体">*</font>
            </td>
            <td class="formValue">
                <input id="UnitPrice" type="text" class="form-control" placeholder="请输入单价" isvalid="yes" checkexpession="Double" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">
                图纸
            </td>
            <td class="formValue">
                <div style="float:left;margin:5px;" class="showImg;"><img id="_CAD_Drawing" name="txImg" class="txImg" src="" height="100" widtd="100" /></div>
                <div class="btnAvatar" style="float:left;margin-left:5px;margin-top:10px">
                    <input id="DelAvatar" onclick="DelCAD_Drawing()" class="uploadify-button " type="hidden" style="height: 24px;margin-left:20px" />
                    <input id="Avatar" name="Avatar" type="file" class="Avatar required" checkexpession="NotNull" />

                </div>
            </td>
            <td class="formTitle">
                模型
            </td>
            <td class="formValue">
                <div style="float:left;margin:5px;" class="showImg;"><img id="_Model_Drawing" name="txImg" class="txImg" src="" height="100" widtd="100" /></div>
                <div class="btnAvatar" style="float:left;margin-left:5px;margin-top:10px">
                    <input id="DelAvatar1" onclick="DelModel_Drawing()" class="uploadify-button " type="hidden" style="height: 24px;margin-left:20px" />
                    <input id="Avatar1" name="Avatar" type="file" class="Avatar required" checkexpession="NotNull" />
                </div>
            </td>
        </tr>
        <tr>
            <td class="formTitle">
                图标
            </td>
            <td class="formValue">
                <div style="float:left;margin:5px;" class="showImg;"><img id="_Icon" name="txImg" class="txImg" src="" height="100" widtd="100" /></div>
                <div class="btnAvatar" style="float:left;margin-left:5px;margin-top:10px">
                    <input id="DelAvatar2" onclick="DelIcon()" class="uploadify-button " type="hidden" style="height: 24px; margin-left:20px" />
                    <input id="Avatar2" name="Avatar" type="file" class="Avatar required" checkexpession="NotNull" />
                </div>
            </td>
        </tr>
    </table>
</div>
