@{
    ViewBag.Title = "构件列表";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script>
    $(function () {
        $("#keywords").focus();
        //GetTree();
        GetGrid();
        //绑定键盘按下事件
        $(document).keypress(function (e) {
            // 回车键事件
            if (e.which == 13) {
                $("#keywords").focus();
                $("#keywords").select();
                $("#btnSearch").click();
            }
        });
    });

    //显示物料
    function GetGrid() {
        var index = GetQuery('index');
        $("#gridTable").jqGrid({
            url: "@Url.Content("~/SteelMember/ProjectOrder/GridListJsonDemand")?TreeID=" + GetQuery('TreeId'),
            datatype: "json",
            height: $(window).height() + 170,
            autowidth: true,
            colModel: [
                { label: '构件主键', name: 'MemberId', hidden: true },
                { label: '构件外键', name: 'ProjectDemandId', hidden: true },
                { label: '构件编号', name: "MemberNumbering", align:' center',width: 125, sortable: false },
                { label: '构件名称', name: "MemberName", align:' center',width: 125, sortable: false },
                { label: '构件型号', name: "MemberModel", align:' center',width: 100, sortable: false},
                { label: '需求量', name: "MemberNumber", align: ' center', width: 50, sortable: false },
                { label: '单位', name: "MemberUnit", align:' center',width: 50, sortable: false},
                { label: '单价', name: "UnitPrice", align:' center',width: 50, sortable: false},
                { label: '已成订单量', name: "OrderQuantityed", align:' center',width: 50, sortable: false},
                { label: '说明', name: 'Remark', align:' center',width: 150, sortable: false }
            ],
            rowNum: 30,
            sortname: 'SortCode',
            sortorder: 'Desc',//降序 asc升序
            pager: "#gridPager",
            viewrecords: true,
            rownumbers: true,
            gridview: true,
            multiselect: true,
            rowList: [15, 30, 50, 100, 500, 1000],
            gridComplete: function () {
                var rowIds = jQuery("#gridTable").jqGrid('getDataIDs');
                var $parentobj = top.frames["OrderForm"];
                for (var k = 0; k < rowIds.length; k++) {
                    var curRowData = jQuery("#gridTable").jqGrid('getRowData', rowIds[k]);
                    var curChk = $("#" + rowIds[k] + "").find(":checkbox");
                    //curChk.attr('name', 'checkboxname');   //给每一个checkbox赋名字
                    //curChk.attr('value', curRowData['MY_ID']);   //给checkbox赋值
                    //curChk.attr('title', curRowData['NAME']);   //给checkbox赋予额外的属性值
                    ////curChk.attr('checked', 'true');   //设置所有checkbox被选中
                    if (!$parentobj.HaveExistItem(k,curRowData.MemberId)) {
                        //$("#gridTable").attr("checked", false);
                        curChk.attr('checked',false);
                    } else {
                        //$("#gridTable").attr("checked", true);
                        curChk.attr('checked',true);
                    }
                }
            },

            //单击事件
            onSelectRow: function (RowIndx) {
                var rowData = $(this).jqGrid('getRowData', RowIndx);
                //var $parentobj = top.frames[tabiframeId()];
                var $parentobj = top.frames["OrderForm"];
                if (!$parentobj.IsExistItem(RowIndx,rowData.MemberId)) {
                    $parentobj.$("#MemberID➩" + RowIndx).val(rowData.MemberId);
                    $parentobj.$("#MemberNumbering➩" + RowIndx).val(rowData.MemberNumbering);
                    $parentobj.$("#ProjectDemandId➩" + RowIndx).val(rowData.ProjectDemandId);
                    $parentobj.$("#MemberName➩" + RowIndx).val(rowData.MemberName);
                    $parentobj.$("#MemberModel➩" + RowIndx).val(rowData.MemberModel);
                    $parentobj.$("#MemberUnit➩" + RowIndx).val(rowData.MemberUnit);
                    $parentobj.$("#Qty➩" + RowIndx).val(rowData.MemberNumber);
                    $parentobj.$("#Price➩" + RowIndx).val(rowData.UnitPrice);
                    $parentobj.$("#PriceAmount➩" + RowIndx).val(Number(rowData.UnitPrice) * Number(rowData.MemberNumber));
                    //$parentobj.$("#PlusPrice➩" + index).val("0.00");
                    //$parentobj.$("#CESS➩" + index).val("0.00");
                    //$parentobj.$("#CESSAmount➩" + index).val("0.00");
                    //$parentobj.$("#PlusPriceAmount➩" + index).val("0.00");
                    $parentobj.$("#gridTable tbody tr:eq(" + RowIndx + ")").find('input').attr("datacol", "yes");
                    //index++;
                    $parentobj.$("#gridTable tbody tr:eq(" + RowIndx + ")").find('input').removeAttr('disabled');
                    $parentobj.$("#gridTable").find('.disabled').attr("disabled", "disabled");
                    $parentobj.$("#MemberNumbering➩" + RowIndx).focus();
                    //closeDialog();
                } else {

                     //删除判断集合对应元素开始
                    $parentobj.IsExistItemdelete(RowIndx, rowData.MemberId);
                     //删除判断集合对应元素结束
                    $parentobj.$("#MemberID➩" + RowIndx).val(null);
                    $parentobj.$("#MemberNumbering➩" + RowIndx).val(null);
                    $parentobj.$("#ProjectDemandId➩" + RowIndx).val(null);
                    $parentobj.$("#MemberName➩" + RowIndx).val(null);
                    $parentobj.$("#MemberModel➩" + RowIndx).val(null);
                    $parentobj.$("#MemberUnit➩" + RowIndx).val(null);
                    $parentobj.$("#Qty➩" + RowIndx).val(null);
                    $parentobj.$("#Price➩" + RowIndx).val(null);
                    $parentobj.$("#PriceAmount➩" + RowIndx).val(null);
                    $parentobj.$("#gridTable tbody tr:eq(" + RowIndx + ")").find('input').attr("datacol", "yes");
                     //index++;
                    $parentobj.$("#gridTable tbody tr:eq(" + RowIndx + ")").find('input').removeAttr('disabled');
                     $parentobj.$("#gridTable").find('.disabled').attr("disabled", "disabled");
                     $parentobj.$("#MemberNumbering➩" + RowIndx).focus();
                        }
            },

            //全选事件
            onSelectAll: function (RowIndx) {
                for (var i = 0; i < RowIndx.length; i++) {
                    var rowData = $(this).jqGrid('getRowData', RowIndx[i]);
                    var $parentobj = top.frames["OrderForm"];
                    if (!$parentobj.IsExistItem(index, rowData.MemberId)) {
                        $parentobj.$("#MemberID➩" + index).val(rowData.MemberId);
                        $parentobj.$("#MemberNumbering➩" + index).val(rowData.MemberNumbering);
                        $parentobj.$("#ProjectDemandId➩" + index).val(rowData.ProjectDemandId);
                        $parentobj.$("#MemberName➩" + index).val(rowData.MemberName);
                        $parentobj.$("#MemberModel➩" + index).val(rowData.MemberModel);
                        $parentobj.$("#MemberUnit➩" + index).val(rowData.MemberUnit);
                        $parentobj.$("#Qty➩" + index).val(rowData.MemberNumber);
                        $parentobj.$("#Price➩" + index).val(rowData.UnitPrice);
                        $parentobj.$("#PriceAmount➩" + index).val(Number(rowData.UnitPrice) * Number(rowData.MemberNumber));
                        //$parentobj.$("#PlusPrice➩" + index).val("0.00");
                        //$parentobj.$("#CESS➩" + index).val("0.00");
                        //$parentobj.$("#CESSAmount➩" + index).val("0.00");
                        //$parentobj.$("#PlusPriceAmount➩" + index).val("0.00");
                        $parentobj.$("#gridTable tbody tr:eq(" + index + ")").find('input').attr("datacol", "yes");
                        index++;
                        $parentobj.$("#gridTable tbody tr:eq(" + index + ")").find('input').removeAttr('disabled');
                        $parentobj.$("#gridTable").find('.disabled').attr("disabled", "disabled");
                        $parentobj.$("#MemberNumbering➩" + index).focus();
                    } else {
                        //top.TipMsg("构件已存在,不能重复添加", 4000, "error");
                        confirmDialog("系统提示", "构件已存在,是否需要移除？", function (r) {
                            if (r) {
                                for (var i = 0; i < RowIndx.length; i++) {
                                    var rowData = $(this).jqGrid('getRowData', RowIndx[i]);
                                    //删除判断集合对应元素开始
                                    $parentobj.IsExistItemdelete(index, rowData.MemberId);
                                    //删除判断集合对应元素结束
                                    $parentobj.$("#MemberID➩" + index).val(null);
                                    $parentobj.$("#MemberNumbering➩" + index).val(null);
                                    $parentobj.$("#ProjectDemandId➩" + index).val(null);
                                    $parentobj.$("#MemberName➩" + index).val(null);
                                    $parentobj.$("#MemberModel➩" + index).val(null);
                                    $parentobj.$("#MemberUnit➩" + index).val(null);
                                    $parentobj.$("#Qty➩" + index).val(null);
                                    $parentobj.$("#Price➩" + index).val(null);
                                    $parentobj.$("#PriceAmount➩" + index).val(null);
                                    $parentobj.$("#gridTable tbody tr:eq(" + index + ")").find('input').attr("datacol", "yes");
                                    index++;
                                    $parentobj.$("#gridTable tbody tr:eq(" + index + ")").find('input').removeAttr('disabled');
                                    $parentobj.$("#gridTable").find('.disabled').attr("disabled", "disabled");
                                    $parentobj.$("#MemberNumbering➩" + index).focus();
                                }
                            }
                        });
                    }
                    $("#gridTable").trigger("reloadGrid"); //重新载入
                }
                closeDialog();
            },

        });
    }

    //搜索
    function btn_Search() {
        var keywords = $("#keywords").val();
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("~/SteelMember/ProjectOrder/GridListJsonDemand")?keywords=" + escape(keywords)+"&TreeID=" + GetQuery('TreeId')
    }).trigger('reloadGrid');
    }

</script>

<div class="rightline" style="margin: 1px; margin-top: -1px;width:900px">
    <div class="QueryArea">
        <table border="0" class="form-find" @*style="height: 45px;"*@>
            <tr>
                <th>
                    关键字：
                </th>
                <td>
                    <input id="keywords" type="text" class="txt" style="width: 200px" />
                </td>
                <td>
                    <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="btn_Search()" />
                </td>
            </tr>
        </table>
    </div>
    <div class="btnbartitle">
        <div>
            构件信息<span id="CenterTitle"></span>
        </div>
    </div>
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>