<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="BaseDb" connectionString="Server=192.168.1.112;Initial Catalog=LeaRunFramework_Base_2016;User ID=sa;Password=SSKJ*147258369" providerName="System.Data.SqlClient" />
  <!--<add name="BaseDb" connectionString="Data Source=192.168.0.103;port=3306;Initial Catalog=LeaRunFramework_Base_2016;user id=learun;password=123456;charset=utf8" providerName="MySql.Data.MySqlClient"/>-->
  <!--<add name="BaseDb" connectionString="User Id=cuxoa;Password=cuxoa;PERSIST SECURITY INFO=True;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.126.91)(PORT=1531))(CONNECT_DATA=(SID=CLA)))"  providerName="Oracle.ManagedDataAccess.Client"/>-->
  <add name="LeaRunFramework_Base_2016Entities" connectionString="metadata=res://*/SteelMemberEntity.csdl|res://*/SteelMemberEntity.ssdl|res://*/SteelMemberEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.112;initial catalog=LeaRunFramework_Base_2016;user id=sa;password=SSKJ*147258369;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>