@{
    ViewBag.Title = "Collar";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var Category = request('Category');
    var childEntity;
    $(function () {
        initControl();
    });
    function setComboBox() {
        //加载牌号/规格
        $("#RawMaterialId").ComboBox({
            description: "==请选择==",
            height: "150px",
        });

        ////生产商下拉框
        //    $('#itemlist_f').empty();
        //    var queryJson = {
        //        Nature: "5af89035-0822-4c98-b986-9cd7e735773a",
        //    }
        //    $("#RawMaterialManufacturer").ComboBox({
        //        param: {
        //            queryJson: JSON.stringify(queryJson)
        //        },
        //        url: "../../BaseManage/Organize/GetTreeListJson",//?keyword=''
        //        id: "OrganizeId",
        //        text: "FullName",
        //        height: "100px",
        //        description: "==请选择==",
        //        allowSearch: true
        //    });

        ////供应商下拉框
        //    $('#itemlist_s').empty();
        //    var queryJson1 = {
        //        Nature: "f69cad31-680a-424c-9d3b-e6ce7c366e77",
        //    }
        //    $("#RawMaterialSupplier").ComboBox({
        //        param: {
        //            queryJson: JSON.stringify(queryJson1)
        //        },
        //        url: "../../BaseManage/Organize/GetTreeListJson",//?keyword=''
        //        id: "OrganizeId",
        //        text: "FullName",
        //        height: "100px",
        //        description: "==请选择==",
        //        allowSearch: true
        //    });
    }
    //加载材料类型
    function initControl() {        
        setComboBox();
        //获取申请单
        $("#PurchaseId").ComboBox({
            //param: { EnCode: "RawMaterialManufacturer" },
            url: "../../SteelMember/RawMaterialPurchase/GetPurchaseList",
            id: "RawMaterialPurchaseId",
            text: "PurchaseNumbering",
            description: "==请选择==",
            height: "120px",
        }).bind("change", function () {
            var keyValue = $(this).attr('data-value');
            $.SetForm({
                url: "../../SteelMember/RawMaterialPurchase/GetDetailsJson1",
                param: { keyValue: keyValue },
                success: function (data) {
                    document.getElementById("Category").value = data.CategoryName;
                    childEntity = data.childEntity;
                    //加载牌号/规格
                    $("#RawMaterialId").ComboBox({
                        url: "../../SteelMember/RawMaterialAnalysis/RawMateriaNameByPurchaseId?purchaseId=" + keyValue,
                        description: "==请选择==",
                        id: "RawMaterialId",
                        text: "RawMaterialModel",
                    }).bind("change", function () {
                        var RawMaterialId = $(this).attr('data-value');
                        for (var i in childEntity) {
                            if (RawMaterialId == childEntity[i].RawMaterialId) {
                                document.getElementById("Quantity").value = childEntity[i].PurchaseQuantity;
                                //document.getElementById("UnitPrice").value = childEntity[i].Price;
                                //$("#RawMaterialManufacturer").ComboBoxSetValue(childEntity[i].RawMaterialManufacturer);
                                document.getElementById("RawMaterialSupplier").value =childEntity[i].RawMaterialSupplier;
                            } 

                        }
                    });
                }
            })


        })

        if (Category != null || Category != "") {
            $("#Category").ComboBoxTreeSetValue(Category);
        }

    }

    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").GetWebControls(Category);
        var PurchaseId = $("#PurchaseId").attr('data-value');
        $.SaveForm({
            url: "../../SteelMember/RawMaterialInventory/Inventory?PurchaseId=" + PurchaseId,
            param: postData,
            loading: "正在保存数据...",
            success: function (data) {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
</script>

<div class="bills">
    <div style="height:100%;overflow-y:auto;margin:15px;">
        <table class="form" style="width: 100%;border-collapse:separate;">
            @*<tr>
                    <td align="center" colspan="6">
                        <div style="font-family: 华文楷体; font-size: x-large; height: 40px; line-height: 40px;">
                            材料入库&nbsp;

                        </div>
                    </td>
                </tr>*@
            <tr>

                <th class="formTitle">
                    所属申请单<font face="宋体" color="red">*</font>
                </th>
                <td class="formValue">
                    <div id="PurchaseId" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull" style="width:100%"></div>
                    <input id="RawMaterialSupplier" type="hidden" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">
                    材料类型<font face="宋体" color="red">*</font>
                </th>
                <td class="formValue">

                    <input readonly id="Category" type="text" class="form-control" style="width:100%"/>
                </td>
            </tr>
            <tr>
                <th class="formTitle">
                    材料<font face="宋体" color="red">*</font>
                </th>
                <td class="formValue">
                    <div id="RawMaterialId" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull" style="width:100%"></div>
                    @*<input id="RawMaterialId" type="text" class="form-control"isvalid="yes" checkexpession="NotNull">*@
                </td>
            </tr>


            <tr>
                <th class="formTitle">
                    入库数量<font face="宋体" color="red">*</font>
                </th>
                <td class="formValue">
                    <input id="Quantity" type="text" class="form-control" isvalid="yes" checkexpession="ExceedZero" style="width:100%">
                </td>
                @*<th>
                    单价<font face="宋体" color="red">*</font>
                </th>
                <td colspan="2">
                    <input id="UnitPrice" type="text" class="form-control" isvalid="yes" checkexpession="ExceedZero">
                </td>*@
            </tr>

            @*<tr>
                <th>
                    生产厂家<font face="宋体" color="red">*</font>
                </th>
                <td colspan="2">
                    <div id="RawMaterialManufacturer" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
                </td>
                <th>
                    供货商<font face="宋体" color="red">*</font>
                </th>
                <td colspan="2">
                    <div id="RawMaterialSupplier" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
                </td>
            </tr>*@
            <tr>
                <th class="formTitle">
                    备注
                </th>
                <td class="formValue">
                    <textarea id="Description" type="text" class="form-control" style="height:100px"></textarea>
                </td>
            </tr>
        </table>
    </div>
</div>

