@{
    ViewBag.Title = "Collar";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var Category = request('Category');
    var childEntity;
    $(function () {
        initControl();
    });

    //加载材料类型
    function initControl() {
        //加载材料名称
        $("#RawMaterialCategory").ComboBox({
            description: "==请选择==",
            height: "150px",
        });
        //    //加载规格或型号
        $("#RawMaterialId").ComboBox({
            description: "==请选择==",
            height: "150px",
        });

        //获取采购单
        $("#PurchaseId").ComboBox({
            //param: { EnCode: "RawMaterialManufacturer" },
            url: "../../SteelMember/RawMaterialPurchase/GetPurchaseList",
            id: "RawMaterialPurchaseId",
            text: "PurchaseNumbering",
            description: "==请选择==",
            height: "120px",
        }).bind("change", function () {
            var value = "";
            var keyValue = $(this).attr('data-value');
            $.SetForm({
                url: "../../SteelMember/RawMaterialPurchase/GetDetailsJson1",
                param: { keyValue: keyValue },
                success: function (data) {
                    document.getElementById("Category").value = data.CategoryName;
                    childEntity = data.childEntity;
                    for (var i = 0; i < childEntity; i++) {
                        value = childEntity[0].Category;
                    }

                    //加载规格或型号
                    $("#RawMaterialId").ComboBox({
                        url: "../../SteelMember/RawMaterialAnalysis/RawMateriaName?rawmaterianame=" + value,
                        description: "==请选择==",
                        id: "RawMaterialId",
                        text: "RawMaterialModel",
                        height: "150px",
                        click: function (item) {
                            var RawMaterialId = $(this).attr('data-value');

                            for (var i = 0; i < childEntity; i++) {
                                if (RawMaterialId != childEntity[0].RawMaterialId) {
                                    dialogTop("该订单下不存在此材料", "0");
                                    return false;
                                }
                                
                            }
                        }
                    });
                }
            })


        })

        $("#Category").ComboBoxTree({
            param: { EnCode: "RawMaterialType" },
            url: "../../SystemManage/DataItemDetail/GetDataItemTreeJson",
            //param: { Levels: 3 },
            //url: '../../SteelMember/SubProject/GetTreeJson',
            description: "==请选择==",
            allowSearch: true
        }).bind("change", function () {
            var value = $(this).attr('data-value');
            ////加载材料名称
            //$("#RawMaterialCategory").ComboBox({
            //    url: "../../SteelMember/RawMaterialAnalysis/RawMateriaName1?rawmaterianame=" + value,
            //    description: "==请选择==",
            //    id: "str",
            //    text: "str",
            //    height: "150px",
            //});
            //    //加载规格或型号
            $("#RawMaterialId").ComboBox({
                url: "../../SteelMember/RawMaterialAnalysis/RawMateriaName?rawmaterianame=" + value,
                description: "==请选择==",
                id: "RawMaterialId",
                text: "RawMaterialModel",
                height: "150px",
            });
        });

        //生产厂家
        $("#RawMaterialManufacturer").ComboBox({
            param: { EnCode: "RawMaterialManufacturer" },
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            id: "ItemDetailId",
            text: "ItemName",
            description: "==请选择==",
            height: "120px",
        });

        //材料供应商
        $("#RawMaterialSupplier").ComboBox({
            param: { EnCode: "RawMaterialSupplier" },
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            id: "ItemDetailId",
            text: "ItemName",
            description: "==请选择==",
            height: "120px",
        });

       
        if (Category != null || Category != "") {
            $("#Category").ComboBoxTreeSetValue(Category);
        }

    }

    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").GetWebControls(Category);
        var PurchaseId = $("#PurchaseId").attr('data-value');
        $.SaveForm({
            url: "../../SteelMember/RawMaterialInventory/Inventory?PurchaseId=" + PurchaseId,
            param: postData,
            loading: "正在保存数据...",
            success: function (data) {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
</script>

<div class="bills">
    <div style="height:100%;overflow-y:auto;margin:0px 10px;">
        <table class="form" style="width: 100%;border-collapse:separate;border-spacing:30px;">
            <tr>
                <td align="center" colspan="6">
                    <div style="font-family: 华文楷体; font-size: x-large; height: 40px; line-height: 40px;">
                        材料入库&nbsp;

                    </div>
                </td>
            </tr>
            <tr>

                <th>
                    所属采购单<font face="宋体" color="red">*</font>
                </th>
                <td colspan="5">
                    <div id="PurchaseId" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
                    @*<input id="RawMaterialId" type="text" class="form-control"isvalid="yes" checkexpession="NotNull">*@
                </td>
            </tr>
            <tr>
                <th>
                    材料类型<font face="宋体" color="red">*</font>
                </th>
                <td colspan="2">
                   
                    <input readonly id="Category" type="text" class="form-control" />
                </td>
                @*<th>
                    材料名称<font face="宋体" color="red">*</font>
                </th>
                <td colspan="2">
                    <div id="RawMaterialCategory" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
                </td>*@
                <th>
                    材料<font face="宋体" color="red">*</font>
                </th>
                <td colspan="2">
                    <div id="RawMaterialId" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
                    @*<input id="RawMaterialId" type="text" class="form-control"isvalid="yes" checkexpession="NotNull">*@
                </td>
            </tr>
           

            <tr>
                <th>
                    入库数量<font face="宋体" color="red">*</font>
                </th>
                <td colspan="2">
                    <input id="Quantity" type="text" class="form-control" isvalid="yes" checkexpession="ExceedZero">
                </td>
                <th>
                    单价<font face="宋体" color="red">*</font>
                </th>
                <td colspan="2">
                    <input id="UnitPrice" type="text" class="form-control" isvalid="yes" checkexpession="ExceedZero">
                </td>
            </tr>

            <tr>
                <th>
                    生产厂家<font face="宋体" color="red">*</font>
                </th>
                <td colspan="2">
                    <div id="RawMaterialManufacturer" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
                </td>
                <th>
                    供货商<font face="宋体" color="red">*</font>
                </th>
                <td colspan="2">
                    <div id="RawMaterialSupplier" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
                </td>
            </tr>
            <tr>
                <th>
                    备注
                </th>
                <td colspan="5">
                    <textarea id="Description" type="text" class="form-control" style="height:100px"></textarea>
                </td>
            </tr>
        </table>
    </div>
</div>
@*<style>
        body {
            margin: 0px;
        }

        .bills {
            overflow: hidden;
            border-radius: 0px;
            position: relative;
            background: #FFFFFF;
            border: 0px solid rgb(204, 204, 204);
            box-shadow: none;
            padding: 0px;
        }

        .ui-widget-content {
            border-left: 0px;
            border-right: 0px;
            border-bottom: 0px;
        }
    </style>*@


