@{
    ViewBag.Title = "构件需求管理/构件需求表单";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<head>
 

    <script type="text/javascript">
        var KeyValue = request('KeyValue');
        var ItemID = request('ItemID');
        var TreeId = request('TreeID');
        var Data;
        var mole_fileURL;
        var cad_fileURL;
        $(function () {
            LoadMemberClass();
            InitControl();
            LoadMemberName();
            LoadMemberUnit();
        })
        //得到一个对象实体
        function InitControl() {

            //构件类型
            $("#OrganizeId").ComboBoxTree({
                url: "/SteelMember/File/TreeJson",
                description: "==请选择==",
                height: "200px",
                allowSearch: true,
            }).bind("change", function () {
                var value = $(this).attr('data-value');
                //加载构件
                $("#RoleId").ComboBox({
                    url: "/SteelMember/ProjectManagement/GetMemderName?organizeId=" + value,
                    id: "RoleId",
                    text: "FullName",
                    description: "==请选择==",
                    allowSearch: true
                });
                });

            //加载构件单位
            $("#DutyId").ComboBox({
                url: '/SteelMember/ProjectManagement/GetMemderUnit',
                id: "RoleId",
                text: "FullName",
                description: "==请选择==",
                allowSearch: true
            });

            if (!!KeyValue) {
                    $.SetForm({
                        url: "/SteelMember/ProjectManagement/SetDataForm",
                        param: { KeyValue: KeyValue },
                        success: function (data) {
                           $("#form1").SetWebControls(data);
                        }
                })
            } else {
                LoadProjectName();
            }
        }

        function LoadProjectName() {
            $.SetForm({
                url: "/SteelMember/ProjectManagement/GetTreeName",
                param: { KeyValue: TreeId },
                success: function (data) {
                    document.getElementById("TreeName").value = data.TreeName;
                }
            })
        }




        //保存表单
        function AcceptClick() {
            if (!$('#form1').Validform()) {
                return false;
            }
            var postData = $("#form1").GetWebControls(KeyValue);
            //postData["MemberUnit"] = $("#MemberUnit").attr('data-text');
            $.SaveForm({
                url: "/SteelMember/ProjectManagement/SubmitDataForm?KeyValue=" + KeyValue + '&TreeId=' + TreeId,
                param: postData,
                loading: "正在保存数据...",
                success: function () {
                    $.currentIframe().$("#gridTable").trigger("reloadGrid");
                }
            })
        }

        //构件详情
        function btn_member_info() {
            if (KeyValueId != "") {
                var url = "/SteelMember/File/DrawingManagement?KeyValue= " + KeyValueId;
                    Dialog(url, "DrawingManagement", "构件信息", 700, 580, function (iframe) {
                    top.frames[iframe].AcceptClick();
                });
            }else{
                alertDialog("数据不能为空",0);
            }
        };
    </script>
</head>
<div style="margin-left: 10px; margin-top: 20px; margin-right: 30px;">
    <form id="form2">
        <table class="form">
            <tr>
                <td class="formTitle">
                    分项目名称
                </td>
                <td class="formValue">
                    <input readonly id="TreeName" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">
                    构件类型<font face="宋体">*</font>
                </td>
                <td class="formValue">
                    <input id="MemberClassId" name="MemberClassId" type="hidden" />
                    @*<input id="MemberClassName" type="text" class="txt icontree" datacol="yes" err="构件类型" checkexpession="NotNull" />*@
                    <div id="MemberClassName" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
                </td>
            </tr>
            <tr>
                <td class="formTitle">
                    构件型号
                </td>
                <td class="formValue">
                    @*<select id="MemberId" name="MemberId" style="widtd:80%"></select>*@

                    <div id="MemberId" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
                    <input id="btn_MemberInfo" type="hidden" onclick="btn_member_info()" value="构件详情" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">
                    单位<font face="宋体">*</font>
                </td>
                <td class="formValue">
                    @*<select id="UnitId" name="UnitId" datacol="yes" err="单位" checkexpession="NotNull"></select>*@
                    <div id="UnitId" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
                </td>
            </tr>
            <tr>
                <td class="formTitle">
                    需求量<font face="宋体">*</font>
                </td>
                <td class="formValue">
                    <input id="MemberNumber" type="text" class="form-control" placeholder="需求量" isvalid="yes" checkexpession="Num" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">
                    备注
                </td>
                <td class="formValue">
                    <textarea id="Description" name="Description" maxlengtd="200" class="form-control" ></textarea>
                </td>
            </tr>
        </table>
    </form>
</div>